
<!--======================================== //    Start Silde Show Banner // ======================================================-->
<div id="home" class=" full-screen-mode parallax">
    <div class="container text-center">
        <div class="alignfull-page">
            <!-- <a href="about"><img class="img-responsive"
                    src="/assets/img/T11.png"></a> -->
          <img class="img-responsive" src="/assets/img/Banners.png">
        </div>
    </div>
    <!-- end container -->
</div>
<!-- end banner -->

<!--======================================== //    End Silde Show Banner // ===================================================-->


<!--======================================== //    Start HotPromotion // ======================================================-->
<div id="hot" class="menu-main pad-top-100  pad-bottom-100">
    <div class="special-menu parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h1 class="block-title text-center"> Hot Promotion </h1>
                    </div>
                    <div class="special-box">
                        <div id="owl-demo">
                            <div class="item item-type-zoom">
                                <a value="1" href="#" data-toggle="modal" class="item-hover" data-target="#myModal6">
                                <!-- <a value="1" href="#" data-toggle="modal" data-target="#myModal6"> -->
                                    <div class="item-info">
                                        <div class="headline"> NT Connectivity
                                            <div class="line"></div>
                                            <div class="dit-line"></div>
                                        </div>
                                    </div>
                                </a>
                                <div class="item-img">
                                    <?php include 'Config/Connect.php';
echo "<img src='/assets/img/nt_connectivity/" . $_CONFIG['PROIMG']['HOT1'] . "' class='img-rounded' width='100%' height='100%'> ";?>
                                </div>
                            </div>
                            <div class="item item-type-zoom">
                                <!-- <a href="#" class="item-hover"> -->
                                <a value="1" href="#" data-toggle="modal" class="item-hover" data-target="#myModal7">
                                    <div class="item-info">
                                        <div class="headline"> NT Connectivity
                                            <div class="line"></div>
                                            <div class="dit-line"></div>
                                        </div>
                                    </div>
                                </a>
                                <div class="item-img">
                                    <?php include 'Config/Connect.php';
echo "
                                    <img src='/assets/img/nt_connectivity/" . $_CONFIG['PROIMG']['HOT2'] . "' class='img-rounded' width='100%' height='100%'>
                                   ";?>
                                    <!-- <img src="/assets/img/nt_platform/5.png" alt="sp-menu"> -->
                                </div>
                            </div>
                            <div class="item item-type-zoom">
                                <!-- <a href="#" class="item-hover"> -->
                                <a value="1" href="#" data-toggle="modal" class="item-hover" data-target="#myModal8">
                                    <div class="item-info">
                                        <div class="headline"> NT Connectivity
                                            <div class="line"></div>
                                            <div class="dit-line"></div>
                                        </div>
                                    </div>
                                </a>
                                <div class="item-img">
                                    <!-- <img src="/assets/img/nt_solution/8.png" alt="sp-menu"> -->
                                    <?php include 'Config/Connect.php';
echo "

                                    <img src='/assets/img/nt_connectivity/" . $_CONFIG['PROIMG']['HOT3'] . "' class='img-rounded' width='100%' height='100%'>
                                   ";?>
                                </div>
                            </div>
                            <div class="item item-type-zoom">
                                <!-- <a href="#" class="item-hover"> -->
                                <a value="1" href="#" data-toggle="modal" class="item-hover" data-target="#myModal9">
                                    <div class="item-info">
                                        <div class="headline"> NT Platform
                                            <div class="line"></div>
                                            <div class="dit-line"></div>
                                        </div>
                                    </div>
                                </a>
                                <div class="item-img">
                                    <!--  <img src="/assets/img/nt_connectivity/3.png" alt="sp-menu"> -->
                                    <?php include 'Config/Connect.php';
echo "

                                    <img src='/assets/img/nt_platform/" . $_CONFIG['PROIMG']['HOT4'] . "' class='img-rounded' width='100%' height='100%'>
                                   ";?>
                                </div>
                            </div>
                            <div class="item item-type-zoom">
                                <!-- <a href="#" class="item-hover"> -->
                                <a value="1" href="#" data-toggle="modal" class="item-hover" data-target="#myModal12">
                                    <div class="item-info">
                                        <div class="headline"> Digital Solutions by NT ConnX
                                            <div class="line"></div>
                                            <div class="dit-line"></div>
                                        </div>
                                    </div>
                                </a>
                                <div class="item-img">
                                    <!-- <img src="/assets/img/nt_connectivity/2.png" alt="sp-menu"> -->
                                    <?php include 'Config/Connect.php';
echo "

                                    <img src='/assets/img/nt_solution/" . $_CONFIG['PROIMG']['HOT5'] . "' class='img-rounded' width='100%' height='100%'>
                                   ";?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end special-box -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end special-menu -->
</div>
<!-- ========================================================================================================================= -->
<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h1 class="block-product text-center"> Product </h1>
                        <h1 class="block-product1 text-center"> Product Make Your Business Easy </h1>
                          <div class="button-container-1">
                            <span class="mas">More</span>
                          <button id='work' type="button" name="Hover">More</button>
                        </div>
                    </div>
<div class="list-product">
  <ul class="clearfix">
    <!-- 1 -->
    <li>
<a href="#" class="item-product" target="_blank" title="">
<div class="item-product-pic">
<img src="/assets/img/4.png"  alt="">
</div>
<div class="item-product-info">
<h4 class="item-name size-36">Connectivity</h4>
<p class="item-txt size-18">บริการวงจรสื่อสารไร้สายเทคโนโลยี 4G, LoRaWAN, Wi-Fi และอื่นๆ</p>
</div>
</a>
</li>
<!-- 2 -->
<li>
<a href="#" class="item-product" target="_blank" title="">
<div class="item-product-pic">
<img src="/assets/img/4.png" alt="">
</div>
<div class="item-product-info">
<h4 class="item-name size-36">Platform</h4>
<p class="item-txt size-18">บริการให้ใช้ทรัพยากรสำหรับการพัฒนา Digital Application</p>
</div>
</a>
</li>
<!-- 3 -->
<li>
<a href="#" class="item-product" target="_blank" title="">
<div class="item-product-pic">
<img src="/assets/img/4.png" alt="">
</div>
<div class="item-product-info">
<h4 class="item-name size-36">Solution</h4>
<p class="item-txt size-18">Digital Solutions ของผู้ร่วมพัฒนาบริการ</p>
</div>
</a>
</li>
<!-- end -->
</ul>
</div>
<!-- ======================================= //    START SLIDE FOOTER // ===================================================== -->

<div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h1 class="block-product text-center pad-top-70"> Solution </h1>
                        <h1 class="block-product1 text-center"> Solution Make Your Business Easy </h1>
                          <div class="button-container-1">
                            <span class="mas">More</span>
                          <button id='work' type="button" name="Hover">More</button>
                        </div>
                    </div>

<div class="containers">
    <div class="faders">
        <div class="left"></div>
        <div class="right"></div>
    </div>

    <div class="items">
        <div class="entry">
            <!-- <p class="name">John Doe</p> -->
            <img src="assets/img/nt_solution/7.png" width="128px" alt="Smiling chick">
            <p class="quote">"บริการ Internet Wi-Fi HotSpot by EasyNet"<br>
            <!-- <button id='work' type="button" name="Hover">More</button> -->
            <button class="button-49" role="button">More</button>
            </p>

        </div>
        <div class="entry">
            <!-- <p class="name">John Doe</p> -->
            <img src="assets/img/nt_solution/8.png" width="128px" alt="Smiling chick">
            <p class="quote">"บริการ Access Control สำหรับบ้านพัก และออฟฟิศ เช่น CCTV, IP Camera และ License Platform by AZKing"<br>
            <button class="button-49" role="button">More</button>
            </p>
        </div>


    </div>
</div>

<!--======================================== //    End HotPromotion // ========================================================-->
<div class="wrapper">
        <div class="container">
  <h2><strong style="color:white;">NT Connectivity</strong></h2>
  <h1 style="color: black;">บริการวงจรสื่อสารไร้สายเทคโนโลยี 4G, LoRaWAN, Wi-Fi และอื่นๆ </h1>
            <h1>สำหรับเชื่อมโยง IoT Sensor/Smart Device กับ Digital Platform ของผู้ให้บริการดิจิตอลโซลูชั่น</h1>
</div>
</div>
<main>

<!-- <a href="#" data-toggle="modal" data-target="#myModal10" value="5"> -->
  <figure data-toggle="modal" data-target="#myModal6" >
  <?php include 'Config/Connect.php';
echo "<img src='/assets/img/nt_connectivity/" . $_CONFIG['CONN']['CONN1'] . "' class='img-rounded' width='100%'> ";?>

  </figure>

  <figure data-toggle="modal" data-target="#myModal7">
  <?php include 'Config/Connect.php';
echo "<img src='/assets/img/nt_connectivity/" . $_CONFIG['CONN']['CONN2'] . "' class='img-rounded' width='100%'> ";?>

</figure>

  <figure data-toggle="modal" data-target="#myModal8">
  <?php include 'Config/Connect.php';
echo "<img src='/assets/img/nt_connectivity/" . $_CONFIG['CONN']['CONN3'] . "' class='img-rounded' width='100%'> ";?>
<!-- <figcaption>Details Product</figcaption> -->
  </figure><!-- </a> -->


  </main>
  <div class="wrapper">
        <div class="container">
        <p class="text-right"><button onclick="window.location.href='product' " class="button button1 text-right">ดูเพิ่มเติม
             <img src="/assets/img/toggle.png" alt=""></button></p>
</div>
</div>

  <!---------------------------------------------------------------------------------------------->
  <div class="wrapper pad-top-100">
        <div class="container">
            <h2><strong style="color:white;">NT Platform</strong></h2>
            <h style="color: black;">
            </h>
            <h1 style="color: black; font-size: 24px;">บริการให้ใช้ทรัพยากรสำหรับการพัฒนา Digital Application (Computing
                and Storage, Data and Telecommunication Network และ API ที่จำเป็น)</h1>
            <h1>สำหรับการพัฒนา หรือการ Demo Digital Services ใน ลักษณะ Platform as a Service
                ซึ่งสามารถควบคุมค่าใช้จ่ายที่ใช้ในการพัฒนาได้</h1>
          </div>
    </div>
  <main>

<!-- <a href="#" data-toggle="modal" data-target="#myModal10" value="5"> -->
  <figure data-toggle="modal" data-target="#myModal9">
  <?php include 'Config/Connect.php';
echo "<img src='/assets/img/nt_platform/" . $_CONFIG['Platform']['Platform1'] . "' class='img-rounded' width='100%' > ";?>

  </figure><!-- </a> -->

  <figure data-toggle="modal" data-target="#myModal10">
  <?php include 'Config/Connect.php';
echo "<img src='/assets/img/nt_platform/" . $_CONFIG['Platform']['Platform2'] . "' class='img-rounded' width='100%' > ";?>

  </figure><!-- </a> -->

  <figure data-toggle="modal" data-target="#myModal11">
  <?php include 'Config/Connect.php';
echo "<img src='/assets/img/nt_platform/" . $_CONFIG['Platform']['Platform3'] . "' class='img-rounded' width='100%' > ";?>

  </figure><!-- </a> -->


  </main>
  <div class="wrapper">
        <div class="container">
        <p class="text-right"><button onclick="window.location.href='product'" class="button button1 text-right">ดูเพิ่มเติม
             <img src="/assets/img/toggle.png" alt=""></button></p>
</div>
</div>
   <!---------------------------------------------------------------------------------------------->
   <div class="wrapper pad-top-100">
        <div class="container">
        <h2><strong style="color:white;">Digital Solutions by NT ConnX </strong></h2>
            <h style="color: black;">ตัวอย่าง Digital Solutions ของผู้ร่วมพัฒนาบริการ </2>
          </div>
    </div>
  <main>

  <figure data-toggle="modal" data-target="#myModal12">
  <?php include 'Config/Connect.php';
echo "<img src='/assets/img/nt_solution/" . $_CONFIG['solution']['solution1'] . "' class='img-rounded' width='100%' > ";?>

  </figure><!-- </a> -->

  <figure data-toggle="modal" data-target="#myModal13">
  <?php include 'Config/Connect.php';
echo "<img src='/assets/img/nt_solution/" . $_CONFIG['solution']['solution2'] . "' class='img-rounded' width='100%' > ";?>

  </figure><!-- </a> -->


  </main>
  <div class="wrapper">
        <div class="container">
        <p class="text-right"><button onclick="window.location.href='product'" class="button button1 text-right">ดูเพิ่มเติม
             <img src="/assets/img/toggle.png" alt=""></button></p>
</div>
</div>
<!--======================================== //    Start Product Show // ======================================================-->
<!--======================================== //    End Product Show // ===========================================================-->

<!--======================================== //    End Silde Show Banner // ===================================================-->
<div id="partner2" class="service">
    <div class="wrapper">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>

            <h1 class="block-title text-center pad-top-20 "> ทำไมต้องเข้าร่วมพัฒนาสินค้า Digital Solution กับเรา
            </h1>
            <!-- service section -->
<div id="service" class="service">
         <div class="container">

            <div class="row">
               <div class="col-md-12">
                  <div class="service_main">
                     <div class="service_box blu_colo">
                        <i><img src="/assets/img/Partner/savecost.png" alt="#"/></i></br>
                        <h7>ช่วยลดต้นทุน </br>การพัฒนาสินค้า</h7>
                     </div>
                     <div class="service_box yelldark_colo">
                        <i><img src="/assets/img/Partner/dev.png" alt="#"/></i></br>
                        <h7>ช่วยพัฒนาสินค้า</br>ให้ทันตามความต้องการ</h7>
                     </div>
                     <div class="service_box yell_colo">
                        <i><img src="/assets/img/Partner/customer.png" alt="#"/></i></br>
                        <h7> มีฐานลูกค้า NT รองรับ </h7>
                     </div>
                  </div>
                  <div class="container">
                  <div class="col-md-12">

                  <!-- <a class="read_more" href="partner2">Read More</a> -->
</div>
               </div>
               </div>
            </div>
         </div>

      </div>
      <!-- end service section -->

        </div>
    </div>
</div>
<div class="menu-main pad-bottom-40 pad-top-40">
<div class="container-login103-form-btn">
						<button onclick="window.location.href='partner'" class="login103-form-btn">
                        ร่วมงานกับเรา <i class="fa fa-handshake-o"></i>
						</button>
					</div>
</div>

<!--======================================== //    Start Extension Modal // ======================================================-->


        <!--======================================== //    Start Extension Modal // ======================================================-->
<!-- myModal #1 --><!-- myModal #1 --><!-- myModal #1 --><!-- myModal #1 --><!-- myModal #1 -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="col-12 col-sm-12" style="color:#06245A">
        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
           <!--  <!--img src="/assets/img/nt_smepromax-04.jpg" height="100%" width="100%" /--> -->
            <div class="modal-header">

          </div>
        <b>รายละเอียดบริการ</b>
          </br>
          <ul>
            <li class="pros">บริการบรอดแบนด์อินเทอร์เน็ตไร้สาย ที่นำขีดความสามารถของโครงข่ายโทรศัพท์เคลื่อนที่ 4G
                LTE-Advance 2300 MHz มาให้บริการบรอดแบนด์อินเทอร์เน็ตไร้สาย เพื่อตอบสนองความต้องการ
                ให้กับผู้ที่ต้องการใช้งานอินเทอร์เน็ต ในราคาประหยัด ย้ายที่ใช้งานได้
            </li>
        </ul>
        <b>ประโยชน์</b></br>
        <ul>
            <li class="pros">ติดตั้งง่าย ไม่ต้องเดินสาย ไม่ติดสัญญา เพียงนำ sim card ใส่ในอุปกรณ์ แล้วเปิดใช้งาน ก็สามารถใช้งาน internet ได้
            </li>
        </ul>
        <b>รูปแบบบริการ</b></br>
        <ul>
            <li class="pros">แบบรายเดือน</li>
            <li class="pros">แบบเติมเงิน</li>
        </ul>

        <b style="color:red">สนใจติดต่อได้ที่ NT ConnX : </b>
        <a href="tomail: onnx@nt.ntplc.co.th" class="clickl"><b>connx@ntplc.co.th</b></a></br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- //End Modal// -->
 <!-- myModal #1 --><!-- myModal #1 --><!-- myModal #1 --><!-- myModal #1 --><!-- myModal #1 -->
 <!-- myModal #1 --><!-- myModal #1 --><!-- myModal #1 --><!-- myModal #1 --><!-- myModal #1 -->

    <!-- Modal -->
    <div class="modal fade" id="myModal2" role="dialog">
      <div class="modal-dialog">
        <div class="col-12 col-sm-12" style="color:#06245A">
        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <!--img src="/assets/img/nt_smepromax-04.jpg" height="100%" width="100%" /-->
            <div class="modal-header"> </div>
        <b>รายละเอียดบริการ</b>
          </br>
          <ul>
            <li class="pros">บริการบรอดแบนด์อินเทอร์เน็ตไร้สาย ที่นำขีดความสามารถของโครงข่ายโทรศัพท์เคลื่อนที่ 4G
                LTE-Advance 2300 MHz มาให้บริการบรอดแบนด์อินเทอร์เน็ตไร้สาย เพื่อตอบสนองความต้องการ
                ให้กับผู้ที่ต้องการใช้งานอินเทอร์เน็ต ในราคาประหยัด ย้ายที่ใช้งานได้
            </li>
        </ul>
        <b>ประโยชน์</b></br>
        <ul>
            <li class="pros">ติดตั้งง่าย ไม่ต้องเดินสาย ไม่ติดสัญญา เพียงนำ sim card ใส่ในอุปกรณ์ แล้วเปิดใช้งาน ก็สามารถใช้งาน internet ได้
            </li>
        </ul>
        <b>รูปแบบบริการ</b></br>
        <ul>
            <li class="pros">แบบรายเดือน</li>
            <li class="pros">แบบเติมเงิน</li>
        </ul>

        <b style="color:red">รับข้อเสนอพิเศษสำหรับนักพัฒนา  : </b>
        <a href="tomail: onnx@nt.ntplc.co.th" class="clickl"><b>connx@ntplc.co.th</b></a></br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- //End Modal// -->
   <!-- myModal #1 --><!-- myModal #1 --><!-- myModal #1 --><!-- myModal #1 --><!-- myModal #1 -->
   <!---------------------------------------------- myModal #3 --------------------------------- -->

    <!-- Modal -->
    <div class="modal fade" id="myModal3" role="dialog">
      <div class="modal-dialog">
        <div class="col-12 col-sm-12" style="color:#06245A">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <!--img src="/assets/img/nt_smepromax-04.jpg" height="100%" width="100%" /-->
            <div class="modal-header"> </div>
        <b>รายละเอียดบริการ</b>
          </br>
          <ul>
            <li class="pros">บริการบรอดแบนด์อินเทอร์เน็ตไร้สาย ที่นำขีดความสามารถของโครงข่ายโทรศัพท์เคลื่อนที่ 4G
                LTE-Advance 2300 MHz มาให้บริการบรอดแบนด์อินเทอร์เน็ตไร้สาย เพื่อตอบสนองความต้องการ
                ให้กับผู้ที่ต้องการใช้งานอินเทอร์เน็ต ในราคาประหยัด ย้ายที่ใช้งานได้
            </li>
        </ul>
        <b>ประโยชน์</b></br>
        <ul>
            <li class="pros">ติดตั้งง่าย ไม่ต้องเดินสาย ไม่ติดสัญญา เพียงนำ sim card ใส่ในอุปกรณ์ แล้วเปิดใช้งาน ก็สามารถใช้งาน internet ได้
            </li>
        </ul>
        <b>รูปแบบบริการ</b></br>
        <ul>
            <li class="pros">แบบรายเดือน</li>
            <li class="pros">แบบเติมเงิน</li>
        </ul>

        <b style="color:red">สนใจติดต่อได้ที่ NT ConnX : </b>
        <a href="tomail: onnx@nt.ntplc.co.th" class="clickl"><b>connx@ntplc.co.th</b></a></br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- //End Modal// -->
   <!---------------------------------------------- myModal #3 --------------------------------- -->
   <!---------------------------------------------- myModal #4 --------------------------------- -->

    <!-- Modal -->
    <div class="modal fade" id="myModal4" role="dialog">
      <div class="modal-dialog">
        <div class="col-12 col-sm-12" style="color:#06245A">
        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <!--img src="/assets/img/nt_smepromax-04.jpg" height="100%" width="100%" /-->
            <div class="modal-header"> </div>
        <b>รายละเอียดบริการ</b>
          </br>
          <ul>
            <li class="pros">บริการบรอดแบนด์อินเทอร์เน็ตไร้สาย ที่นำขีดความสามารถของโครงข่ายโทรศัพท์เคลื่อนที่ 4G
                LTE-Advance 2300 MHz มาให้บริการบรอดแบนด์อินเทอร์เน็ตไร้สาย เพื่อตอบสนองความต้องการ
                ให้กับผู้ที่ต้องการใช้งานอินเทอร์เน็ต ในราคาประหยัด ย้ายที่ใช้งานได้
            </li>
        </ul>
        <b>ประโยชน์</b></br>
        <ul>
            <li class="pros">ติดตั้งง่าย ไม่ต้องเดินสาย ไม่ติดสัญญา เพียงนำ sim card ใส่ในอุปกรณ์ แล้วเปิดใช้งาน ก็สามารถใช้งาน internet ได้
            </li>
        </ul>
        <b>รูปแบบบริการ</b></br>
        <ul>
            <li class="pros">แบบรายเดือน</li>
            <li class="pros">แบบเติมเงิน</li>
        </ul>

        <b style="color:red">สนใจติดต่อได้ที่ NT ConnX : </b>
        <a href="tomail: onnx@nt.ntplc.co.th" class="clickl"><b>connx@ntplc.co.th</b></a></br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- //End Modal// -->
      <!---------------------------------------------- myModal #4 --------------------------------- -->
      <!---------------------------------------------- myModal #5 --------------------------------- -->

   <!-- Modal -->
   <div class="modal fade" id="myModal5" role="dialog">
      <div class="modal-dialog">
        <div class="col-12 col-sm-12" style="color:#06245A">
        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <img src="/assets/img/banner/6.png" height="100%" width="100%" />
            <div class="modal-header"> </div>
        <b>รายละเอียดบริการ</b>
          </br>
          <ul>
            <li class="pros">บริการบรอดแบนด์อินเทอร์เน็ตไร้สาย ที่นำขีดความสามารถของโครงข่ายโทรศัพท์เคลื่อนที่ 4G
                LTE-Advance 2300 MHz มาให้บริการบรอดแบนด์อินเทอร์เน็ตไร้สาย เพื่อตอบสนองความต้องการ
                ให้กับผู้ที่ต้องการใช้งานอินเทอร์เน็ต ในราคาประหยัด ย้ายที่ใช้งานได้
            </li>
        </ul>
        <b>ประโยชน์</b></br>
        <ul>
            <li class="pros">ติดตั้งง่าย ไม่ต้องเดินสาย ไม่ติดสัญญา เพียงนำ sim card ใส่ในอุปกรณ์ แล้วเปิดใช้งาน ก็สามารถใช้งาน internet ได้
            </li>
        </ul>
        <b>รูปแบบบริการ</b></br>
        <ul>
            <li class="pros">แบบรายเดือน</li>
            <li class="pros">แบบเติมเงิน</li>
        </ul>

        <b style="color:red">สนใจติดต่อได้ที่ NT ConnX : </b>
        <a href="tomail: onnx@nt.ntplc.co.th" class="clickl"><b>connx@ntplc.co.th</b></a></br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- //End Modal// -->


    <!---------------------------------------------- myModal #17 --------------------------------- -->

  <!-- Modal -->
  <div class="modal fade" id="myModal17" role="dialog">
      <div class="modal-dialog">
        <div class="col-12 col-sm-12" style="color:#06245A">
        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <!--img src="/assets/img/nt_smepromax-04.jpg" height="100%" width="100%" /-->
            <div class="modal-header"> </div>
        <b>รายละเอียดสินค้า</b>
          </br>
          <ul>
            <li class="pros">Package iConn1 ใช้งานผ่าน 3G/4G 2100/2300 MHz ปริมาณ 6 GB/เดือน
            </li>
        </ul>
       <!--  <b>จัดจำหน่ายโดย</b></br>
        <ul>
            <li class="pros">NT ConnX
            </li>
        </ul> -->
        <b>หมวดหมู่</b></br>
        <ul>
            <li class="pros">Internet</li>

        </ul>
       <!--  <div class="row"> -->
        <div class="col">
        <button onclick="window.location.href='Form'" class="login100-form-btn"> แจ้งเจ้าหน้าที่ติดต่อกลับ <i class="fa fa-phone"></i></button>

        </div>

        <b style="color:red">สนใจติดต่อได้ที่ NT ConnX : </b>
        <a href="tomail: onnx@nt.ntplc.co.th" class="clickl"><b>connx@ntplc.co.th</b></a></br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- //End Modal// -->
    <!---------------------------------------------- myModal #18 --------------------------------- -->

  <!-- Modal -->
  <div class="modal fade" id="myModal18" role="dialog">
      <div class="modal-dialog">
        <div class="col-12 col-sm-12" style="color:#06245A">
        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <!--img src="/assets/img/nt_smepromax-04.jpg" height="100%" width="100%" /-->
            <div class="modal-header"> </div>
        <b>รายละเอียดสินค้า</b>
          </br>
          <ul>
            <li class="pros">Package iConn1 ใช้งานผ่าน 3G/4G 2100/2300 MHz ปริมาณ 6 GB/เดือน
            </li>
        </ul>
      <!--   <b>จัดจำหน่ายโดย</b></br>
        <ul>
            <li class="pros">NT ConnX
            </li>
        </ul> -->
        <b>หมวดหมู่</b></br>
        <ul>
            <li class="pros">Internet</li>

        </ul>
       <!--  <div class="row"> -->
        <div class="col">
        <button onclick="window.location.href='Form'" class="login100-form-btn"> แจ้งเจ้าหน้าที่ติดต่อกลับ <i class="fa fa-phone"></i></button>

        </div>

        <b style="color:red">สนใจติดต่อได้ที่ NT ConnX : </b>
        <a href="tomail: onnx@nt.ntplc.co.th" class="clickl"><b>connx@ntplc.co.th</b></a></br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- //End Modal// -->
    <!---------------------------------------------- myModal #19 --------------------------------- -->

   <!-- Modal -->
   <div class="modal fade" id="myModal19" role="dialog">
      <div class="modal-dialog">
        <div class="col-12 col-sm-12" style="color:#06245A">
        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <!--img src="/assets/img/nt_smepromax-04.jpg" height="100%" width="100%" /-->
            <div class="modal-header"> </div>
        <b>รายละเอียดสินค้า</b>
          </br>
          <ul>
            <li class="pros">Package iConn1 ใช้งานผ่าน 3G/4G 2100/2300 MHz ปริมาณ 6 GB/เดือน
            </li>
        </ul>
        <!-- <b>จัดจำหน่ายโดย</b></br>
        <ul>
            <li class="pros">NT ConnX
            </li>
        </ul> -->
        <b>หมวดหมู่</b></br>
        <ul>
            <li class="pros">Internet</li>

        </ul>
       <!--  <div class="row"> -->
        <div class="col">
        <button onclick="window.location.href='Form'" class="login100-form-btn"> แจ้งเจ้าหน้าที่ติดต่อกลับ <i class="fa fa-phone"></i></button>

        </div>

        <b style="color:red">สนใจติดต่อได้ที่ NT ConnX : </b>
        <a href="tomail: onnx@nt.ntplc.co.th" class="clickl"><b>connx@ntplc.co.th</b></a></br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- //End Modal// -->
    <!---------------------------------------------- myModal #20 --------------------------------- -->

  <!-- Modal -->
  <div class="modal fade" id="myModal20" role="dialog">
      <div class="modal-dialog">
        <div class="col-12 col-sm-12" style="color:#06245A">
        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-body">
            <!--img src="/assets/img/nt_smepromax-04.jpg" height="100%" width="100%" /-->
            <div class="modal-header"> </div>
        <b>รายละเอียดสินค้า</b>
          </br>
          <ul>
            <li class="pros">Package iConn1 ใช้งานผ่าน 3G/4G 2100/2300 MHz ปริมาณ 6 GB/เดือน
            </li>
        </ul>
       <!--  <b>จัดจำหน่ายโดย</b></br>
        <ul>
            <li class="pros">NT ConnX
            </li>
        </ul> -->
        <b>หมวดหมู่</b></br>
        <ul>
            <li class="pros">Internet</li>

        </ul>
       <!--  <div class="row"> -->
        <div class="col">
        <button onclick="window.location.href='Form'" class="login100-form-btn"> แจ้งเจ้าหน้าที่ติดต่อกลับ <i class="fa fa-phone"></i></button>

        </div>

        <b style="color:red">สนใจติดต่อได้ที่ NT ConnX : </b>
        <a href="tomail: onnx@nt.ntplc.co.th" class="clickl"><b>connx@ntplc.co.th</b></a></br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- //End Modal// -->
        <!--======================================== //    Start Extension Modal // =======================================================-->


<!--======================================== //    Start Extension Modal // =======================================================-->
<!--======================================== //    Start Extension Modal2 // ======================================================-->

<a href="#" class="scrollup" style="display: none;">Scroll</a>

<section id="testimonial">
    <div class="sec-prefooter">
        <div class="container">
            <div class="box-prefooter t-bold">
                <div class="prefoot-contact-title">สอบถามข้อมูลเพิ่มเติมได้ที่</div>
                <div class="prefoot-contact-group">
                    <div class="prefoot-contact-group-call">
                        <div class="prefoot-contact-group-call-text">ศูนย์บริการ<br>ลูกค้าธุรกิจ</div>
                        <a href="tel:1239" class="prefoot-contact-group-call-num txt-gdcolor">NT ConnX</a>
                    </div>
                    <div class="prefoot-contact-group-or t-medium"><span>หรือ</span></div>
                    <div class="prefoot-contact-group-call"><a href="javascript:void(0)" onclick="window.location.href='form'"
                            class="btn3 btn3-secondary"><span>สอบถามข้อมูลเพิ่มเติม</span></a></div>
                </div>
            </div>
        </div>
    </div>
</section>