/* @font-face {
    font-family: 'ntbold';
    src: url('nt_bold-webfont.woff2') format('woff2'),
         url('nt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */




/* @font-face {
    font-family: 'ntbold';
    src: url('nt_bold-webfont.woff2') format('woff2'),
         url('nt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */




/* @font-face {
    font-family: 'ntregular';
    src: url('nt_regular-webfont.woff2') format('woff2'),
         url('nt_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */




/* @font-face {
    font-family: 'ntregular';
    src: url('nt_regular-webfont.woff2') format('woff2'),
         url('nt_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */