.navbar-default .navbar-toggle .icon-bar{
	background-color: #FFD004;
}
.main-menu .navbar-default .navbar-nav .active a{
	color: #FFD004;
}
.main-menu nav li a::after {
    background: #FFD004;
}
.typer{
	color: #FFD004 !important;
}
.banner-text h2{
	color: #FFD004
}
.book-btn a{
	background: #545859;
	/* border: 3px solid #5a5a5a; */
}
.book-btn a:hover{
	border: 3px solid #04ff26;
}
.hvr-underline-from-center::before{
	background:#FFD004;
}
.block-title{
	color: #FFD004;
}

.block-title2{
	color: #000000;
}
.item-type-zoom .item-hover:hover::before{
	background: rgba(231, 91, 30, 0.5);
}
.special-box .owl-theme .owl-controls .owl-page.active span{
	background: #FFD004;
}
.offer-item div h3{
	color: #FFD004;
}
.tab-menu .is-active{
	background: #FFD004;
}
.tab-menu .slick-arrow.slick-prev{
	background: #FFD004 url(../../images/back.png) no-repeat center;
	background-position: 2px 4px;
}
.tab-menu .slick-arrow.slick-next{
	background: #FFD004 url(../../images/next.png) no-repeat center;
	background-position: 7px 4px;
}

.offer-item .offer-price{
	border: 1px solid #FFD004;
}
.sf-team:hover .text-col{
	background-color: #FFD004;
}
.gal-item a::after{
	background-color: rgba(231, 91, 30, 0.75);
}
.overlay i:hover{
	border: 1px solid #FFD004;
	color: #FFD004;
}
.blog-btn-v a{
	background: #FFD004;
	border: 3px solid #FFD004;
}
.book-srv a{
	background: #FFD004;
	border: 3px solid #FFD004;
}

.panel-pricing .panel-heading{
	background: #FFD004;
}
.panel-pricing{
	border: 1px solid #FFD004;
}
.panel-body p strong span{
	color: #FFD004;
}
.pricing-main .panel-footer a{
	background: #FFD004;
	border: 3px solid #FFD004;
}
.pricing-main .panel-footer a:hover{
	border: 3px solid #FFD004;
}

.reserve-book-btn button{
	background: #FFD004;
	border: 3px solid #FFD004;
}
.reserve-book-btn button:hover a{
	color:#000000;
}
.footer-news form a{
	background: #FFD004;
}
.footer-news form a:hover{
	border: 2px dotted #FFD004;
}
.footer-box-a h3{
	color: #000000;
}
.footer-box-b h3{
	color: #000000;
}
.footer-box-c h3{
	color: #000000;
}
.footer-box-d h3{
	color: #FFD004;
}
.footer-box-c p a:hover{
	color: #6a6a6a;
}
.footer-box-b ul li a:hover{
	color: #6a6a6a;
}

.footer-box .socials-box a:hover .social-circle-border{
	color: #1E69B8;
}

.footer-box-c p i{
	color: #000;
}

.copyright-main{ /* แก้ */
	background: #fff;
	padding-top: 10px;
	line-height: 1;
}

#color-panel a.panel-button:hover{
	color: #FFD004;		
}