/******************************************
    File Name: responsive.css
    Template Name: Landigoo
    Created By: MelodyThemes
    Envato Profile: http://themeforest.net/user/melodythemes
    Website: https://melodythemes.com
    Version: 1.0
/****************************************** */

@media (max-width: 1310px) {}
@media (max-width: 1200px) {
	 
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: transparent;
	}
	
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFD004;
		width: 35px;
	}
	.main-menu .navbar-toggle .icon-bar {
		position: relative;
		transition: all 250ms ease-in-out;
	}
	.main-menu .navbar-toggle .icon-bar {
		position: relative;
		transition: all 250ms ease-in-out;
		-webkit-transition: all 250ms ease-in-out;
		-moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
	}
	.main-menu .navbar-toggle .icon-bar:nth-of-type(3) {
		top: 1px;
	}
	.main-menu .navbar-toggle .icon-bar:nth-of-type(4) {
		top: 2px;
	}
	.navbar-toggle .icon-bar+.icon-bar {
		margin-top: 7px;
	}
	.main-menu .navbar-toggle.active .icon-bar:nth-of-type(2) {
		top: 7.5px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}
	.main-menu .navbar-toggle.active .icon-bar:nth-of-type(3) {
		background-color: transparent;
	}
	.main-menu .navbar-toggle.active .icon-bar:nth-of-type(4) {
		top: -10px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
	}
	
}
@media (max-width: 1240px) {
	.main-menu nav li a{
		margin: 0 7px;
	}
}
@media (max-width: 1158px) {
	.main-menu nav li a{
		margin: 0 7px;
	}
}
@media (max-width: 1120px) {
	.main-menu nav li a{
		margin: 0px 10px;
		font-size: 12px;
	}
	.offer-item div h3{
		font-size: 16px;
	}
	.blog-dit{
		padding: 15px 2% 0 2%;
	}
	.blog-dit h2{
		font-size:18px;
		padding: 10px 0px 13px 0px;
	}
	.banner-cell .mouse{
		display:none;
	}
}
@media (max-width: 992px) {
	.banner-text h1{
		font-size: 50px;
	}
	.banner-cell .mouse{
		display:none;
	}
	.footer-box-a, .footer-box-b, .footer-box-c, .footer-box-d{
		margin-bottom:20px;
	}
	.main-menu .navbar-header {
		float: right;
		width: 100%;
		margin: 0;
		padding: 0 15px;
	}
	.navbar-toggle {
		margin: 0;
		border: 0;
		padding: 0;
		top: 20px;
		right: 0;
		display: block !important;
		z-index: 11;
		cursor: pointer;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

   .navbar-collapse.collapse.in {  /* NEW */
        display: block!important; 
		background: #fff;
    }
	.main-menu nav li a{
		padding: 15px 0px;
	}
	.panel-body p strong{
		font-size: 28px;
	}
}  
@media (max-width: 1000px) {}

@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
	}
.banner-cell .mouse:after {
    position: absolute;
    top: 25px;
    left: 50%;
    width: calc(4px * 4);
    height: calc(4px * 4);
  }
 .banner-cell .mouse {
    width: calc(16px * 4);
    height: calc(31px * 4);
    margin: 70px auto 0px;
    background: none;
    border: 2px solid white;
    border-radius: calc(16px * 4);
  }
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
	.layout-collapse .card-body{ padding-left:50px; padding-right: 50px;
	}
	
}
@media	(min-width: 768px){
	.thumb.thumb-ver{
		text-align-last: center;
	}
}
@media (max-width: 768px) {
	.main-menu nav li a{
		padding: 15px 0px;
	}
	.navbar-toggle{
		top: 35px;
	}
	.navbar-nav{
		background: #fff;
		margin: 0px 0px;
	}
	/* .banner {
		min-width: 800px !important;
		background-size: inherit;
	} */

	
	.team-main{
		background-size: inherit;
	}
	.blog-main{
		background-size: inherit;
	}
	.special-menu{
		background-size: inherit;
	}
	.banner-text h1 {
		font-size: 50px;
		line-height: 62px;
	}
	.banner-text h2{
		font-size: 24px;
	}
	.block-title{
		font-size: 34px;
	}
	.title-caption{
		padding: 20px 10px;
		line-height: 28px !important;
	}
	.offer-item img{
		width: 15%;
		margin: 0 auto;
		float: none;
	}
	.offer-item .offer-price{
		width: 65px;
		height: 65px;
		line-height: 65px;
		font-size: 18px;
		display:none;
	}
	.offer-item div{
		width: 70%;
		padding-left: 10px;
		padding-right: 10px;
		text-align:center;
		margin:0 auto;
		float:none;
	}
	.offer-item div h3{
		font-size: 16px;
	}
	.fixed-menu .navbar-toggle{
		top: 18px;
	}
	.navbar-brand > img {
		max-width: 180px;
	}
	.tab-title-menu h2{
		font-size:14px;
	}
	[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
		font-size: 35px;
	}
	.tab-menu .slick-arrow.slick-prev{
		position:absolute;
		top: -36px;
		background:#FFD004 url(../images/back.png) no-repeat center;
		text-indent: -99999px;
		border:none;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-position: 2px 4px;
	}
	.tab-menu .slick-arrow.slick-prev:hover{
		background:#FFD004 url(../images/back_hover.png) no-repeat center;
		background-position: 2px 4px;
	}
	.tab-menu .slick-arrow.slick-next{
		position:absolute;
		top: -36px;
		right:0px;
		background: #FFD004 url(../images/next.png) no-repeat center;
		text-indent: -99999px;
		border:none;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-position: 7px 4px;
	}
	.tab-menu .slick-arrow.slick-next:hover{
		background:#FFD004 url(../images/next_hover.png) no-repeat center;
		background-position: 7px 4px;
	}
	.sf-team{
		margin-bottom:20px;
	}
	.blog-img-box {
		float: none;
		width: 100%;
	}
	.pricing-main p{
		padding:0px 15px;
		margin-bottom:15px;
	}
	
	.blog-dit{
		width: 100%;
		padding: 10px 2% 0 2%;
	}
	.form-reservations-box{
		width: 100%;
	}
	
	.footer-box-a, .footer-box-b, .footer-box-c, .footer-box-d{
		margin-bottom:20px;
		margin-top: 20px;
	}
	.fixed-menu .main-menu nav li a{
		padding: 10px 0px;
	}
}
@media (max-width: 730px) {
	b.resa {
	  font-size: 10px;
  
	}
	.item-1, .item-2, .item-3 {
	  position: absolute;
	
	  font-size: 1.0em;
	  animation-duration: 14s;
	  animation-timing-function: step-start;
	  animation-iteration-count: infinite;
	 margin-left: auto;
	  margin-top: 0%;
  }
  }
  @media screen and (min-width: 335px) and (max-width: 720px)  {
	
	.item-1, .item-2, .item-3 {
	  position: absolute;
	
	  font-size: 1.0rem;
	  animation-duration: 14s;
	  animation-timing-function: step-start;
	  animation-iteration-count: infinite;
	  margin-top: auto;
    margin-left: auto;
  }
  }
  @media (max-width: 335px) {
	
	.item-1, .item-2, .item-3 {
	  position: absolute;
	
	  font-size: 1.0rem;
	  animation-duration: 14s;
	  animation-timing-function: step-start;
	  animation-iteration-count: infinite;
	  margin-top: 0.7%;
    margin-left: 1%;
  }
  }
  @media (max-width: 240px) {
	
	.item-1, .item-2, .item-3 {
	  position: absolute;
	
	  font-size: 1.0rem;
	  animation-duration: 14s;
	  animation-timing-function: step-start;
	  animation-iteration-count: infinite;
	  margin-top: 0.7%;
    margin-left: auto;
  }
  }
@media (max-width: 600px) {
	
}
@media (max-width: 480px) {
	.offer-item img{
		width: 50%;
	}
	.offer-item .offer-price{
		width: 65px;
		height: 65px;
		line-height: 65px;
		font-size: 18px;
		display:none;
	}
	.offer-item div{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}
	.offer-item div h3{
		font-size: 16px;
	}
}
.feature_box {
    height: auto;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.10);
    padding: 20px;
    text-align: center;
    transition: ease all 0.5s;
    background: #fff;
    margin: 0 0 30px;
}

/*  */
/*  */
/*  */
@media (max-width: 575px) {
    .header {
        padding: 30px 0px 15px 0px;
    }
    .logo {
        border: inherit;
        float: left;
        margin-top: 0px !important;
    }
    .banner_main {
        padding: 152px 0px 90px 0px;
        background-color: #cacaca !important;
        background: inherit;
    }
    .banner_slide {
        padding: 0 50px 0 0px;
    }
    .text-bg {
        max-width: inherit;
        margin-top: 0px;
    }
    .transfot {
        padding-top: 30px;
    }
    .about {
        margin-top: 90px;
    }
    .text-bg h1 {
        font-size: 36px;
        line-height: 51px;
		font-size: 44px !important;
    }
    /* #banner1 a.carousel-control-prev {
        top: 44%;
    }
    #banner1 a.carousel-control-next {
        top: 50%;
    } */
    .titlepage h2 {
        font-size: 27px;
        line-height: 30px;
    }
    .testimonial_box h3 {
        font-size: 15px;
        line-height: 30px;
    }
    .service_box {
        width: 100%;
    }
    .service_main {
        justify-content: center;
    }
    .service_box i {
        margin: 0 auto;
    }
    .vehicles_truck {
        margin-bottom: 30px;
    }
    .blac_co {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    /* #veh .carousel-control-prev,
    #veh .carousel-control-next {
        top: 105%;
    } */
    /* #veh a.carousel-control-prev {
        left: 40%;
    }
    #veh .carousel-control-next {
        right: 40%;
    } */
    .choose_box h3 {
        font-size: 16px;
    }
    .main_form {
        max-width: inherit;
    }
    .co_tru {
        padding-right: 0px;
        margin-top: 30px;
    }
    .map {
        margin-right: 0px;
        margin-top: 30px;
    }
    .choose_box {
        margin-bottom: 30px;
    }
    .right_bottun {
        margin-top: -40px;
    }
    ul.location_icon li {
        font-size: 18px;
    }
    .bottom_form .enter {
        width: 100%;
        margin-bottom: 20px;
    }
    .d_none {
        display: none;
    }
	/* detail section */
	@media (max-width: 480px) {
		.detail_img-box {
			width: 100%;
		}
	}
	/* End detail section */
}
/*  Foot Contact */
@media (max-width: 575.98px)  {
	.sec-prefooter{

	}
	.prefoot-contact-title{
		font-size: 1.2em;
	}
	.prefoot-contact-group{
		display: block;
    	text-align: center;
	}
	.prefoot-contact-group-call{
		justify-content: center;
	}
	.prefoot-contact-group-or{
		/* padding: 1em 0; */
    	font-size: 0.9em;
	}
	.prefoot-contact-group-or span:before{
		width: 100px;
		height: 1px;
		top: 50%;
		left: calc(100% + 30px);
		right: auto;
	}
	.prefoot-contact-group-or span:after{
		width: 100px;
		height: 1px;
		top: 50%;
		right: calc(100% + 30px);
		left: auto;
	}
	.prefoot-contact-group-call-num{
		line-height: 0.6;
	}
}
@media (max-width: 767.98px){
	.sec-prefooter{
		padding: 1em 0;
	}
	.box-prefooter{
		display: block;
	}
	.prefoot-contact-title{
		margin-right: 0px;
    	text-align: center;
   		 margin-bottom: 0;
	}
	.prefoot-contact-group{
		justify-content: center;
	}
}
/* @media (max-width: 991.98px){
	.sec-prefooter{
		font-size: 0.8em;
	}
} */
@media (max-width: 1199.98px){

}

/* =====================[BANNER]========================== */
@media only screen and (min-width: 280px) and (max-width: 599px) {
	.full-slider_cont h1 {
        font-size: 40px;
        line-height: 50px;
    }
	.megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
	#filters{
		
	}
	
}
@media (min-width: 767px) and (max-width: 991px) {
	.full-slider_cont h1 {
        font-size: 40px;
        line-height: 50px;
    }
	.form-style-10{
		padding: 100px;
	}
	.banner-main .carousel-caption h1 {
        color: #000;
        font-size: 35px;
        line-height: 60px;
        font-weight: bold;
    }
    .banner-main .carousel-caption p {
        font-size:21px;
        padding: 0 0px 18px 0px;
		margin-bottom: 60%;
		/* padding-top: 5%; */
		line-height: 1.4;
		color: #000;
		font-weight: 600;
    }
    .banner-main .carousel-caption a {
        width: 182px;
        padding: 8px 0;
    }
	.carousel-inner{
		width: 100%;
        height: 250px;
	}
	#filters{
		/* text-align-last: center; */
	}
}
/* @media (min-width: 991px) and (max-width: 1199px) { */
	@media (min-width: 991px)  {
	.banner-main .carousel-caption h1 {
        color: #000;
        font-size: 30px;
        /* line-height: 60px; */
        font-weight: bold;
		padding-top: 6%;
    }
	.banner-main .carousel-caption p {
        font-size:22px;
        padding: 9px 0px 18px 0px;
		margin-bottom: 60%;
		/* padding-top: 5%; */
		color: #000;
		font-weight: 600;
    }
	.full-slider_cont h1 {
        font-size: 51px;
        line-height: 61px;
    }
	.carousel-inner{
		width: 100%;
        height: 350px;
	}
	#filters{
		/* text-align-last: center; */
	}
	.h1{
		font-family: 'ntregular', sans-serif;
		font-size: 34px;
	}
}
@media (min-width: 1200px) and (max-width: 2400px) {
	.carousel-inner{
		width: 100%;
        height: 350px;
	}
	.h1{
		font-family: 'ntregular', sans-serif;
		font-size: 34px;
	}
	#filters{
		/* text-align-last: center; */
	}
	
}
@media (min-width: 576px) and (max-width: 767px) {
	.banner-main .carousel-caption h1 {
        font-size: 30px;
        line-height: 50px;
		color: #000;
		line-height: 26px;
		font-weight: bold;
    }
    .banner-main .carousel-caption p {
        font-size: 20px;
        padding: 7px 0px 20px 0px;
		margin-bottom: 30%;
		color: #000;
		font-weight: 600;
    }
    .carousel-item img {
        width: 100%;
        height: 400px;
		
    }
	.carousel-inner{
		width: 100%;
        height: 250px;
	}
	#filters{
		/* text-align-last: center; */
	}
}

@media (max-width: 575px) {
	#main_slider .carousel-control-prev,
    #main_slider .carousel-control-next {
        width: 40px;
        height: 40px;
    }
    .relative {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
        bottom: 0;
		padding-top: 5%;
    }
    .banner-main .carousel-caption h1 {
        font-size: 20px;
        line-height: 50px;
		color: #000;
		line-height: 26px;
		font-weight: bold;
    }
    .banner-main .carousel-caption p {
        font-size: 17px;
        padding: 7px 0px 20px 0px;
        /* display: none; */
		color: #000;
		font-weight: 600;
    }
	.carousel-inner{
		width: 100%;
        height: 250px;
	}
    .carousel-item img {
        /* width: 100%;
        height: 250px; */
		display: none;
    }
	.full-slider_cont h1 {
        font-size: 32px;
        line-height: 46px;
    }
	#filters{
		/* padding-left: 40%;
    	list-style: none; */
	}
}

/* 
==============[resopons]================
*/
@media (min-width: 360px) {
	.owl-item{
	  width: 380px ;
	  margin-right: 15px ;
	}
	p.quote {
	  color: #000;
	  /* text-align-last: center; */
	  font-size: 18px;
	  line-height: 30px;
	  margin-top: 15px;
  }
  }
  @media (max-width: 465px) {
  .col-6{
	flex: none;
	max-width: none;
  }
}
  @media (min-width: 375px) {
	.owl-item{
	  width: 345px ;
	  margin-right: 15px ;
	}
	p.quote {
	  color: #000;
	  /* text-align-last: center; */
	  font-size: 18px;
	  line-height: 30px;
	  margin-top: 15px;
  }
  }
  @media (min-width: 390px) {
	.owl-item{
	  width: 380px ;
	  margin-right: -3px ;
	}
	p.quote {
	  color: #000;
	  /* text-align-last: center; */
	  font-size: 18px;
	  line-height: 30px;
	  margin-top: 15px;
	  
  }
  
  }
  @media (min-width: 414px) {
	.owl-item{
	  width: 380px ;
	  margin-right: 25px ;
	}
	p.quote {
	  color: #000;
	  /* text-align-last: center; */
	  font-size: 18px;
	  line-height: 30px;
	  margin-top: 15px;
  }
  }
  @media (min-width: 560px) {
	.owl-item{
	  width: 530px ;
	  margin-right: 30px ;
	}
	p.quote {
	  color: #000;
	  /* text-align-last: center; */
	  font-size: 18px;
	  line-height: 30px;
	  margin-top: 15px;
  }
  }
  @media (min-width: 768px) {
	.owl-item{
	  width: 350px ;
	  margin-right: 15px ;
	}
  }
  @media (min-width: 725px) {
	.owl-item{
	  width: 330px ;
	  margin-right: 15px ;
	}
  }
  @media (min-width: 991px) {
	.owl-item{
	  width: 360px ;
	  margin-right: 20px ;
	}
  }






  /* 
   Modal Contact 
  */

  @media (max-width:1024px){
	.modal-body.contact{
	  padding-left: 2em;
	  padding-right: 2em;
  }
	.inner-warp{
		  background: #F8F8F8;
		  border-radius: 26px;
		  margin-bottom: 6px;
		  padding: 2rem;
		}
		img.shows {
		  width: 100px;
		  margin-left: 30%;
		  border-radius: 20px;
	  }
	}

	@media (max-width:375px){
		.modal-body.contact{
		  padding-left: 1.2em;
		  padding-right: 1.2em;
	  }
		.inner-warp{
			  background: #F8F8F8;
			  border-radius: 26px;
			  margin-bottom: 6px;
			  padding: 1.5rem;
			}
			img.shows {
			  width: 100px;
			  margin-left: 30%;
			  border-radius: 20px;
		  }
		  .send1{
			margin-left: 10%;
		  }
		}
	@media screen and (min-width: 375px) and (max-width: 475px){
			.modal-body.contact{
			  padding-left: 1.2em;
			  padding-right: 1.2em;
		  }
			.inner-warp{
				  background: #F8F8F8;
				  border-radius: 26px;
				  margin-bottom: 6px;
				  padding: 1.5rem;
				}
				img.shows {
				  width: 100px;
				  margin-left: 35%;
				  border-radius: 20px;
			  }
			 /*  .send1{
				margin-left: 55px;
			  } */
			}
			@media (min-width:390px){
				/* .modal-body.contact{
				  padding-left: 1.2em;
				  padding-right: 1.2em;
			  }
				.inner-warp{
					  background: #F8F8F8;
					  border-radius: 26px;
					  margin-bottom: 6px;
					  padding: 1.5rem;
					}*/
					img.shows {
					  width: 100px;
					  margin-left: 30%;
					  border-radius: 20px;
				  }
				  .send1{
					margin-left: 20%;
				  }
				} 
				@media (min-width:1025px){
					/* .modal-body.contact{
					  padding-left: 1.2em;
					  padding-right: 1.2em;
				  }
					.inner-warp{
						  background: #F8F8F8;
						  border-radius: 26px;
						  margin-bottom: 6px;
						  padding: 1.5rem;
						}*/
						img.shows {
						  width: 100px;
						  margin-left: 35%;
						  border-radius: 20px;
					  } 
					  .send1{
						margin-left: 30%;
					  }
					}

					/* @media screen and (min-width: 745px) {
						.home-slider {
						  max-height: 200px;
						}
						.rslides{
							position: relative;
							list-style: none;
							overflow: hidden;
							width: 100%;
							padding: 0;
							margin: 0;
							height: 200px;
						}
					  } */
