*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
  }
  @import url(../fonts/nt/fontnt.css);
@import url(fonts/nt/fontnt.css);
@font-face {
  font-family: 'ntbold';
  src: url('../fonts/nt/nt_bold-webfont.woff2') format('woff2'),
       url('../fonts/nt/nt_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ntbold';
  src: url('../fonts/nt/nt_bold-webfont.woff2') format('woff2'),
       url('../fonts/nt/nt_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ntregular';
  src: url('../fonts/nt/nt_regular-webfont.woff2') format('woff2'),
       url('../fonts/nt/nt_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ntregular';
  src: url('../fonts/nt/nt_regular-webfont.woff2') format('woff2'),
       url('../fonts/nt/nt_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
  /* Generic */
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ntregular', sans-serif;
    font-size: 12px;
    background-color: #FFD004;
    color: #a8a4a0;
  }
  
  /**/
  .main {
    font-family: 'ntregular', sans-serif;
    position: relative;
    width: 1000px;
    min-width: 1000px;
    min-height: 600px;
    height: 600px;
    padding: 25px;
    background-color: #FFD004;
    box-shadow: 10px 10px 10px #ffe600, -10px -10px 10px #ffe600;
    border-radius: 12px;
    overflow: hidden;
  }
  @media (max-width: 1200px) {
    .main {
      transform: scale(0.7);
    }
  }
  @media (max-width: 1000px) {
    .main {
      transform: scale(0.6);
    }
  }
  @media (max-width: 800px) {
    .main {
      transform: scale(0.5);
    }
  }
  @media (max-width: 600px) {
    .main {
      transform: scale(0.4);
    }
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 600px;
    height: 100%;
    padding: 25px;
    background-color: #ecf0f3;
    transition: 1.25s;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .form__icon {
    object-fit: contain;
    width: 30px;
    margin: 0 5px;
    opacity: 0.5;
    transition: 0.15s;
  }
  .form__icon:hover {
    opacity: 1;
    transition: 0.15s;
    cursor: pointer;
  }
  .form__input {
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
  }
  .form__input:focus {
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
  }
  .form__span {
    margin-top: 30px;
    margin-bottom: 12px;
  }
  .form__link {
    color: #181818;
    font-size: 15px;
    margin-top: 25px;
    border-bottom: 1px solid #a0a5a8;
    line-height: 2;
  }
  
  .title {
    font-size: 34px;
    font-weight: 700;
    line-height: 3;
    color: #181818;
  }
  
  .description {
    font-size: 14px;
    letter-spacing: 0.25px;
    text-align: center;
    line-height: 1.6;
  }
  
  .button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 50px;
    font-family: 'ntregular', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    background-color: #4B70E2;
    color: #f9f9f9;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none;
    outline: none;
  }
  
  /**/
  .a-container {
    z-index: 100;
    left: calc(100% - 600px );
  }
  
  .b-container {
    left: calc(100% - 600px );
    z-index: 0;
  }
  
  .switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    padding: 50px;
    z-index: 200;
    transition: 1.25s;
    background-color: #ecf0f3;
    overflow: hidden;
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
  }
  .switch__circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #ecf0f3;
    box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
    bottom: -60%;
    left: -60%;
    transition: 1.25s;
  }
  .switch__circle--t {
    top: -30%;
    left: 60%;
    width: 300px;
    height: 300px;
  }
  .switch__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 400px;
    padding: 50px 55px;
    transition: 1.25s;
  }
  .switch__button {
    cursor: pointer;
  }
  .switch__button:hover {
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
    transform: scale(0.985);
    transition: 0.25s;
  }
  .switch__button:active, .switch__button:focus {
    box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
    transform: scale(0.97);
    transition: 0.25s;
  }
  
  /**/
  .is-txr {
    left: calc(100% - 400px );
    transition: 1.25s;
    transform-origin: left;
  }
  
  .is-txl {
    left: 0;
    transition: 1.25s;
    transform-origin: right;
  }
  
  .is-z200 {
    z-index: 200;
    transition: 1.25s;
  }
  
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 1.25s;
  }
  
  .is-gx {
    animation: is-gx 1.25s;
  }
  
  @keyframes is-gx {
    0%, 10%, 100% {
      width: 400px;
    }
    30%, 50% {
      width: 500px;
    }
  }

  /*------------------------------------------------------------------
    FOOTER AREA
-------------------------------------------------------------------*/

.footer-main{}
.footer-news{
	/* background:url(../images/newsletter-bg.jpg) no-repeat center; */
	background-attachment:fixed;
	background-size:cover;
	position:relative;
}

.footer-news::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    position: absolute;
    top: 0;
    left: 0;
}

.ft-title.color-white {
    color: #fff;
}
.ft-title {
    letter-spacing: 0.96px;
    margin-bottom: 22px;
    font-family: 'ntregular';
	font-size: 52px;
}

.footer-news p {
    margin-bottom: 40px;
    font-size: 24px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
	text-align:center;
}

.footer-news form{
	max-width:650px;
	margin: 0 auto;
	text-align:center;
	width:100%;
	position:relative;
}

.footer-news form input{
	width:100%;
	border:2px dotted #ccc;
	background:#f5f5f5;
	color:#202020;
	padding:12px;
	text-transform:capitalize;
	border-radius: 4px;
	opacity: 1;
	min-height:53px;
}
.footer-news form a{
	border:2px dotted #ccc;
	padding: 0px 19px;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
	border-radius: 4px;
    min-width: inherit;
    height: 53px;
    line-height: 51px;
	color:#ffffff;
}

.footer-news form a:hover{
	background:#f5f5f5;
	color:#202020;
}

.footer-box{
	background:#202020;
}

/*.footer-in-main{
	max-width:960px;
	margin:0 auto;
	width:100%;
}*/

.footer-logo{
	padding-bottom:40px;
}

.footer-socials {
    margin: 10px 0;
    line-height: 30px;
    padding: 4px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.socials-box {
    display: table-cell;
    vertical-align: middle;
    margin: 1px 0px;
    padding: 4px;
}
.footer-box {
	background-image:-moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%), url(..images/footer_background.jpg);
	background-image:-webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%), url(../images/footer_background.jpg);
	background-image:radial-gradient(ellipse at center, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%), url(../images/footer_background.jpg);
	background-color:#111;background-position:center;background-repeat:no-repeat;background-size:cover
	}
.socials-box li {
    display: inline-block;
    opacity: 1;
    margin-right: 7px;
}
.footer-box .social-circle-border{
	background-color: transparent;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.social-circle-border {
    font-size: 20px;
    line-height: 23px;
    margin-right: 2px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: transparent;
    color: #6f6f6f;
    text-align: center;
}


.footer-box-a h3{
	font-size:24px;
    font-family: 'ntregular';
}
.footer-box-a p{
	font-size: 20px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
	line-height: 25px;
}


.footer-box-b h3{
	font-size:24px;
    font-family: 'ntregular';
}
.footer-box-b p{
	font-size: 24px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
}
.footer-box-b ul li{
	line-height:30px;
}
.footer-box-b ul li a{
	color:#ffffff;
}

.footer-box-b ul li a:hover{
	padding-left:24px;
}	

.footer-box-c h3{
	font-size:24px;
    font-family: 'ntregular';
}
.footer-box-c p{
	font-size: 24px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
}


.footer-box-c p i{
	font-size: 20px;
    position: relative;
    top: 4px;
    float: left;
    min-width: 20px;
    text-align: center;
}

.footer-box-c p span{
	display: table;
    padding-left: 12px;
	padding-top:1px;
}

.footer-box-c p a{
	color:#ffffff;
}



.footer-box-d h3{
	font-size:24px;
    font-family: 'ntregular';
}
.footer-box-d p{
	font-size: 24px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
}

.footer-box-d ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.footer-box-d ul li{
	display: inline-block;
    width: 100%;
	padding-bottom:12px;
}
.footer-box-d ul li p{
	padding:0px;
	margin:0px;
}
.footer-box-d ul li span{
	color: #666;
}

/*------------------------------------------------------------------
    COPYRIGHT AREA
-------------------------------------------------------------------*/

.copyright-main{
	border-top: 2px dotted #fff;
	text-align:center;
	padding-top:25px;
	margin-top:70px;
	padding-bottom:25px;
}

.copyright-main .copy-title{
	letter-spacing: 1px;
	color:#fff;
	font-family: 'ntregular', sans-serif;
	font-size:24px;
	padding-bottom:0px;
}