/*------------------------------------------------------------------
    File Name: style.css
    Template Name: Landigoo
    Created By: MelodyThemes
    Envato Profile: http://themeforest.net/user/melodythemes
    Website: https://melodythemes.com
    Version: 1.0
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    [Table of contents]
	
	1. IMPORT FONTS
    2. IMPORT FILES
	3. SKELETON
	  1.1. Preloader
	  1.2. Scrollup
	4. HEADER AREA
	5. BANNER AREA
	6. ABOUT AREA
	7. SPECIAL-MENU AREA
	8. MENU AREA
	8. TEAM AREA
	9. GALLERY AREA
	10. BLOG AREA
	11. PRICING AREA
	12. RESERVATIONS AREA
	13. FOOTER AREA
	14. COPYRIGHT AREA
	15. COLOR SWITCHER AREA
	
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Paprika');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');


/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

@import url(owl.theme.css);
@import url(owl.carousel.css);
@import url(slick.css);
/* @import url(flaticon.css); */
@import url(font-awesome.min.css);
/* @import url(bootstrap-datetimepicker.css); */
/* @import url(bootstrap-select.min.css); */
@import url(normalize.css);
/* @import url(animate.min.css); */
@import url(fontnt.css);

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/

body{
	color:#d3d3d3;
	font-size:24px;
	font-family: 'ntregular', sans-serif;
	line-height:1.80857;
    position: relative;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-family: 'ntregular', sans-serif;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0
}

h1 {
    font-family: 'ntregular', sans-serif;
    font-size: 24px
}
h12 {
    font-family: 'ntregular', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #1f4ad2;
}
h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #ffd100;
    font-family: 'ntregular', sans-serif;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

/* ul, li, ol{
    
	margin:0px;
	padding:0px;
	list-style:none;
    color:#FFD100;
	font-size:24px;
	font-family: 'ntregular', sans-serif;
	line-height:1.80857;
} */
li::marker {
    color: #ffd100;
  }
  
 
  .pros::marker {
    unicode-bidi: isolate;
    color: #ffd100;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 50px ;
    text-align: start ;
    text-align-last: start ;
}


a {
    color: #161616;
    font-family: 'ntregular', sans-serif;
    text-decoration: none;
    outline: none !important;
    font-weight: bold;
    
}
a1 {
    color: #0800ff;
    font-family: 'ntregular', sans-serif;
    text-decoration: none;
    outline: none !important;
    font-weight: bold;
}
.next-link-to {
    color: rgb(101, 101, 101);
    line-height: 5px;
    font-size: 15px;
}
a1,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}
.lead-pop {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 30px;
  padding: 0;
}
form.form-container.pop{
  margin: 20px;
}
blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}


html, body{ height: 100%; }

/*------------------------------------------------------------------
   	Preloader
-------------------------------------------------------------------*/

 #mhead{
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	text-align: center; 
	font-family: ntregular;
	position: fixed;
	top: 0px;
	width: 100%;
	margin-bottom: 50px;
	margin-left: -10px;
} 

#loader  {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #fefefe;
     z-index: 9999;
    height: 100%;
    
 }

#status  {
     width: 200px;
     height: 200px;
     position: absolute;
     left: 50%;
     top: 50%;
     background-image: url(../images/Ani.gif);
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px;
 }


/*------------------------------------------------------------------
   	Scrollup
-------------------------------------------------------------------*/
.scrollup{
	width:40px;
	height:40px;			
	text-indent:-9999px;
	opacity:0.3;
	position:fixed;
	bottom:20px;
	right:40px;
	display:none;			
	background:url(../images/icon_top.png) no-repeat;
}

.scrollup:hover{
	opacity:0.8;
  /* width: 14px; */
}

/*------------------------------------------------------------------
    HEADER AREA
-------------------------------------------------------------------*/

#site-header{
	
}
#header{}
.logo{
	float:left;
}
.header-block-top{
	position: absolute;
    z-index: 11;
    width: 100%;
    top: 0;
    left: 0;
}

.main-menu{}
.header-block-top .navbar-brand {
    margin: 0 !important;
    padding: 15px 0 15px;
    display: inline-block;
    line-height: normal;
    font-size: 100%;
    height: 100%;
}
.main-menu .navbar-default{
	background-color:transparent;
}
.main-menu .navbar{
	min-height:inherit;
	border-radius:0px;
	border:none;
	margin:0px;
}
.main-menu nav .navbar-header .navbar-brand{
	height:inherit;
}
.main-menu .navbar-default .navbar-nav li a{
	color:#545859;
  font-weight: bold;
}
.main-menu nav li a{
	padding: 43px 0px 15px;
	margin: 0 14px;
	color: #fff;
	font-family: 'ntregular', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.6px;
	position:relative;
	-webkit-transition: color 0.4s;
    transition: color 0.4s;
    font-weight: 500;
    font-size: 20px;
}

.main-menu nav li a::after,  .main-menu nav li a::before{
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}



.main-menu nav li a::before {
    background: #ffbf00;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.main-menu nav li.active a::before {
	-webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.main-menu nav li.active a::after, .main-menu nav li.active a::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.main-menu nav li a:hover::before, .main-menu nav li a:focus::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.main-menu .navbar-default .navbar-nav .active a{
	background-color:transparent;
}

.fixed-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    transition: 0.5s;
    padding: 10px 0 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.fixed-menu .navbar-brand{
	padding: 10px 0 10px;
}

.fixed-menu .navbar-brand>img {
    max-width: 150px;
}

.fixed-menu .main-menu nav li a{
    padding: 32px 0px 10px 0;
}

/*------------------------------------------------------------------
    BANNER AREA
-------------------------------------------------------------------*/

.alignfull-page {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 1000%;
    width: auto;
}

.centered-page {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .banner{
	background:url(../img/4.svg) no-repeat center top;
	background-attachment:fixed;
	background-size:cover;
	height:100vh;
	min-height:100%;
} */


.banner .container, .banner .banner-static, .banner .col-lg-12 {
    height: 100%;
}
.banner-text {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.banner-cell {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
.banner-text h1 {
	font-family: 'nautilus_pompiliusregular';
    letter-spacing: 2.7px;
    position: relative;
    display: inline-block;
	font-size: 74px;
    line-height: 100px;
	color:#fff;
	padding-bottom: 0px;
	padding-top:100px;
}

.banner-text h2 {
	font-family: 'nautilus_pompiliusregular';
    letter-spacing: 2.7px;
    position: relative;
	font-size: 37px;
    line-height: 100px;
	padding-bottom:25px;
}
.banner-text p{
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	color:#ccc;
	padding-bottom:35px;
	margin:0px;
}

.book-btn a{
	/*background:#e75b1e;*/
	color:#fff;
	min-width: 219px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
	text-transform:uppercase;
	font-size:18px;
}
.book-btn a:hover{
	border:3px solid red;
	background:none;
}
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
i {
    font-family: 'ntregular';
    font-style: normal;
    color: #000;
}
b, strong1{
  color: #000000;
    font-weight: bold;
}
svg.svg-inline--fa.fa-arrow-circle-left.fa-w-16{
  /* font-size: 10px; */
  width: 10px;
}
a.btn.btn-link{
  font-size: 20px;
  font-weight: bold;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: red;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}


.banner-cell .mouse {
  position: relative;
  width: calc(16px * 2);
  height: calc(31px * 2);
  margin: 60px auto 20px;
  background: none;
  border: 2px solid white;
  border-radius: calc(16px * 2);
  z-index: 1;
}
.banner-cell .mouse:after {
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: calc(4px * 2);
  height: calc(4px * 2);
  background: none;
  border: 2px solid white;
  border-radius: 100%;
  -webkit-animation-name: scrollWheel;
          animation-name: scrollWheel;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  will-change: transform;
}

@-webkit-keyframes scrollWheel {
  from {
    -webkit-transform: translate(-50%, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, 20px);
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate(-50%, 20px);
    transform: translate3d(-50%, 20px, 0);
    opacity: 0;
  }
  
}

@keyframes scrollWheel {
  from {
    -webkit-transform: translate(-50%, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, 20px);
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate(-50%, 20px);
    transform: translate3d(-50%, 20px, 0);
    opacity: 0;
  }
  
}




	
/*------------------------------------------------------------------
    ABOUT AREA
-------------------------------------------------------------------*/

.about-main{
	background:#E6E6E6;
}
.pad-top-100{
    padding-top: 90px;
}
.pad-bottom-100{
	padding-bottom: 90px;
}
.pad-bottom-150{
	padding-bottom: 150px;
}
.pad-top-70{
	padding-top: 70px;
}
.pad-bottom-70{
	padding-bottom: 70px;
}

.pad-top-40{
	padding-top: 40px;
}
.pad-bottom-40{
	padding-bottom: 40px;
}
.pad-top-30{
	padding-top: 30px;
}
.pad-top-20{
	padding-top: 20px;
}
.block-title{
	font-size:52px;
	font-family: 'ntregular';
	font-weight: bold;
}

.block-title2{
	font-size:40px;
	font-family: 'ntregular';
	font-weight: bold;
}

.block-product{
	font-size:37px;
	font-family: 'ntregular';
	font-weight: bold;
  color: #000;
}
.block-product1{
	font-size:23px;
	font-family: 'ntregular';
	font-weight: bold;
  color: #000;
}
.block-product2{
	font-size:35px;
	font-family: 'ntregular';
	font-weight: bold;
  color: #000;
}

.about-images {
    text-align: center;
    position: relative;
}

.about-main h3{
	font-family: 'ntregular', sans-serif;
    font-weight: 600;
	font-size:20px;
}

.left-btn{
	padding-top:10px;
}


.about-images img {
    border: 10px solid #f1f1f1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}

.about-images img {
    border: 10px solid #f1f1f1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
	max-width: 100%;
}

.about-inset {
    position: absolute;
    top: 0;
    right: 0;
}


/*------------------------------------------------------------------
    SPECIAL-MENU AREA
-------------------------------------------------------------------*/
.special-menu{
	/* background:url(../img/bg04.jpg) no-repeat center; */
	background-attachment:fixed;
	background-size:cover;
	position:relative;
}

/* .special-menu:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    position: absolute;
    top: 0;
    left: 0;
} */

.title-caption {
    letter-spacing: 0.16px;
    padding: 20px 120px;
	color:#fff;
	font-size: 18px;
}
.color-white {
    color: #fff;
}

#owl-demo .item{
  margin: 15px;
  position:relative;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.special-box .owl-theme .owl-controls{
	margin:0px;
}

.item-type-zoom{
	border:4px solid #545859;
  border-radius: 10px;
  width: 80%;
}
.item-type-zoom .item-hover {
    z-index: 5;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
}

.item-type-zoom .item-info {
    z-index: 10;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    z-index: 5;
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -ms-transform: scale(0,0);
    transform: scale(0,0);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
	bottom:0px;
}

.item-type-zoom .item-info .headline {
    font-size: 18px;
    width: 75%;
    margin: 70px;
    /* border: 4px solid #ffffff; */
    margin-bottom: 0px;
}

.item-type-zoom .item-info .line {
    height: 1px;
    width: 60%;
    margin: 15px auto 10px auto;
    background-color: #ffffff;
}

.item-type-zoom .item-info .dit-line {
    font-size: 14px;
    font-style: italic;
}

.item-hover, .item-hover {
	position: absolute;
    top: 0;
    left: 0;
	height:100%;
	width:100%;
}
.item-type-zoom .item-hover:hover {
    opacity: 1;	
}

.item-type-zoom .item-hover:hover:before{
	content:"";
	position:absolute;
	height:100%;
	width:100%;
	background:rgba(231, 91, 30, 0.5);
	top:0px;
	left:0px;
}

.item-type-zoom .item-hover:hover .item-info {
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
}

.special-box{
	padding-bottom:40px;
}

.special-box .owl-theme .owl-controls .owl-page.active span{
	/*background:#FFD004;*/
	height: 16px;
	width: 16px;
}
.special-box .owl-theme .owl-controls .owl-page span{
	border:2px solid #fff;
	opacity: 1;
	background:#202020;
	height: 16px;
	width: 16px;
}

/*------------------------------------------------------------------
    MENU AREA
-------------------------------------------------------------------*/


.menu-main{
	background-color: #fff;
  padding-bottom: 10px;
  padding-top: 0;
}

.menu-main .title-caption{
	color:#666;
}
.tab-title-menu {
	text-align:center;
}

.tab-title-menu h2{
	border-bottom:1px solid #666;
	display: inline-block;
	padding-top: 10px;
}

.tab-title-menu p{
	font-size:35px;
	padding-top:0px;
}
.tab-title-menu p {
	color:#000;
}

.tab-menu{
	background: #f5f5f5;
    padding: 2px 0px;
	box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.05);
}

.offer-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.offer-item img {
    width: 20%;
    float: left;
    padding: 10px;
    background: #fff;
	border-radius: 50%;
}

.offer-item div {
    width: 60%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.offer-item .offer-price {
    position: absolute;
    right: 15px;
    top: 50%;
    display: block;
    width: 92px;
    height: 92px;
    line-height: 92px;
    -moz-border-radius: 92px;
    -webkit-border-radius: 92px;
    border-radius: 92px;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    font-size: 13px;
    font-family: 'ntregular', sans-serif;
    text-align: center;
    letter-spacing: .5px;
}

.offer-item div h3 {
    font-size: 20px;
    margin: 9px 0 0px;
    font-family: 'ntregular';
    font-weight: 400;
    letter-spacing: .5px;
}

.offer-item div p {
    color: #6b6b6b;
}


.tab-menu .slick-prev.slick-arrow {
	display:none;
}
.tab-menu .slider.slider-single{
	border-top:1px solid #ccc;
	padding-top:25px;
}

.tab-menu .slick-initialized .slick-slide{
	outline:none;
}

.tab-menu .is-active h2{
	color:#fff;
	border-bottom: 1px solid #fff;
}
.tab-menu .is-active p{
	color:#fff;
}

/*------------------------------------------------------------------
    TEAM AREA
-------------------------------------------------------------------*/

.team-main{
	background:url(../images/team_bg.jpg) no-repeat center;
	background-attachment:fixed;
	background-size:cover;
	position:relative;
}

.team-main:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    position: absolute;
    top: 0;
    left: 0;
}

.team-main .block-title{
	color:#fff;
}

.sf-team{
	float: left;
    width: 100%;
}
.sf-team .thumb {
    float: left;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.sf-team .text-col {
    font-family: 'ntregular', sans-serif;
    float: left;
    width: 100%;
    padding: 25px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
	background:#fff;
}

.sf-team .thumb a img{
	width:100%;
}

.sf-team:hover .text-col{
	border: 1px solid rgba(0,0,0,0);
	transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}
.sf-team:hover .thumb img {
    opacity: 0.6;
	transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;	
}

.text-col h3{
	font-family: 'ntregular';
	font-size:28px;
}

.sf-team:hover .team-social {
    border-color: #fff;
	transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.team-social {
    display: block;
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0;
    list-style: none;
    border-top: 1px solid;
}

.team-social li {
    display: inline-block;
    padding: 0 4px;
}

.sf-team:hover .team-social li a {
    border: 1px solid rgba(0,0,0,0);
    background: #fff;
    color: #222;
	transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.team-social li a {
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #ccc;
    border-radius: 100%;
    color: #222;
    font-size: 16px;
    display: block;
}

.sf-team:hover .text-col h3, .sf-team:hover .text-col p {
    color: #fff;
	transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

/*------------------------------------------------------------------
    GALLERY AREA
-------------------------------------------------------------------*/

.gallery-main{
	
}

.gallery-main .title-caption{
	color: #666;
}

/* new gallery */

.gal-container{
	padding: 12px;
}
.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: 350px;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e003";
	font-family: 'ntregular';
	opacity: 0;
	background-color: #ffd004(231, 91, 30, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}
.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}
.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
	color:#fff;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}


/*------------------------------------------------------------------
    BLOG AREA
-------------------------------------------------------------------*/

.blog-main{
	background:url(../images/blog_bg.jpg) no-repeat center;
	background-attachment:fixed;
	background-size:cover;
	position:relative;
}

.blog-main::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    position: absolute;
    top: 0;
    left: 0;
}

.blog-main h2{
	color:#ffffff;
}

.blog-box{
	padding-top:20px;
}

.blog-block{
	background:#FFF;
	overflow: auto;
	margin-bottom: 20px;
}

.blog-img-box{
	float:left;
	width:50%;
	position: relative;
}

.blog-img-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 0;
	transition: .3s all;
	text-align:center;
}

.blog-img-box:hover img{
	-webkit-filter: blur(2px);
	filter: blur(2px);
}
.blog-img-box:hover .overlay {
    opacity: 1;
}

.blog-img-box img{
	width:100%;
}

.overlay i{
	margin-top: 42%;
	border: 1px solid #fff;
	padding: 15px;
	border-radius: 50%;
	color:#ffffff;
	font-size:18px;
}


.blog-dit {
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    padding: 65px 2% 0 2%;
}

.blog-dit p{
	font-size: 12px;
	color: #ccc;
}
.blog-dit h2{
	font-size: 22px;
    line-height: 20px;
    color: #000;
	font-weight:500;
    margin-bottom: 20px;
    padding: 10px 30px 13px 30px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.blog-dit h5{
	font-size: 11px;
	color: #ccc;
}

.blog-btn-v{
	clear:both;
	padding-top:30px;
	text-align:center;
}

.blog-btn-v a {
    color: #fff;
    min-width: 219px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

.blog-btn-v a:hover {
    background: none;
}


/*------------------------------------------------------------------
    PRICING AREA
-------------------------------------------------------------------*/

/* .pricing-main{
	background:url(../images/full-bg.png) no-repeat center ;
	background-size:cover;
} */

.pricing-main h2{
	font-family: 'ntregular';
	padding-bottom:30px;
}

.pricing-main p{
	letter-spacing: 0.16px;
	padding: 20px 120px;
	color: #666;
	font-size: 18px;
	text-align:center;
    font-family: 'ntregular', sans-serif;
}

.panel-pricing-in{
	clear:both;
}
.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}

.pricing-main .panel-heading h3{
	font-family: 'ntregular', sans-serif;
	padding:15px 0px;
	font-weight: bold;
	text-transform: uppercase;
	color:#ffffff;
}

.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #202020;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  font-family: 'ntregular', sans-serif;
  padding: 10px 15px;
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}

.panel-body  p{
    font-family: 'ntregular', sans-serif;
	padding: 0px;
	margin: 0;
}
.panel-body  p strong{
	font-family: 'ntregular', sans-serif;
	font-weight:700;
	color: #000;
	font-size: 42px;
}
.panel-body  p strong1{
	font-family: 'ntregular', sans-serif;
	font-weight:700;
	color: #000;
	font-size: 42px;
}
.text-center1{
    font-family: 'ntregular', sans-serif;
	font-weight:700;
	color: rgb(0, 123, 255);
	font-size: 42px;
}
.panel-body  p strong span{
	color: #FFD004;
}
.panel-body  p strong1 span{
	color: #FFD004;
}
.panel-pricing{
	border:1px solid #FFD004;
}
.panel-pricing .panel-heading{
	background: #FFD004;
}
/* .pricing-main .panel-footer .btn-block{
	border-radius:0px;
} */
.pricing-main .panel-footer a{
	background: #FFD004;
	border: 3px solid #FFD004;
	color:#fff;
	padding: 14px 16px;
}
.pricing-main .panel-footer a:hover{
	background:none;
	color:#202020;
	/* border: 3px solid #FFD004; */
}

.panel-pricing{
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.panel-pricing:hover{
	margin-top: -8px;
}

.panel-pricing:hover


/*------------------------------------------------------------------
    RESERVATIONS AREA
-------------------------------------------------------------------*/

.reservations-main{
	
}

.form-reservations-box{
	width:70%;
	margin:0 auto;
}

.reservations-main h4{
	text-align:center;
	font-weight: 500;
	font-family: 'ntregular', sans-serif;
	font-size: 22px;
    padding-top: 25px;
}

.reservations-main p{
	text-align:center;
	font-family: 'ntregular', sans-serif;
	font-size:16px;
}

.reservations-box{
	padding-top:30px;
}

.form-box{
	margin-bottom:20px;
	min-height: 53px;
}

.form-box input{
	width:100%;
	border:2px dotted #ccc;
	background:#f5f5f5;
	color:#202020;
	padding:12px;
	text-transform:capitalize;
	border-radius: 4px;
	opacity: 1;
	min-height:54px;
}

.form-box select{
	width:100%;
	border:2px dotted #ccc;
	background:#f5f5f5;
	color:#202020;
	padding: 12px;
	text-transform:capitalize;
	border-radius: 4px;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.form-box .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width:100%;
}
.form-box .bootstrap-select button{
	width:100%;
	border:2px dotted #ccc;
	background:#f5f5f5;
	color:#202020 !important;
	padding: 15px;
	text-transform:capitalize;
	border-radius: 4px;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.form-box select option{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}

::-webkit-input-placeholder { /* Chrome */
  color:#202020;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#202020;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#202020;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color:#202020;
  opacity: 1;
}

.reserve-book-btn{
	padding-top:30px;	
}

.reserve-book-btn button a{
	color: #fff;
}

.reserve-book-btn button:hover {
    background: none;
    color: #202020;
}

.reserve-book-btn button  {
    color: #fff;
    min-width: 219px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

.reserve-book-btn button:hover a{
	background:none;
	border:none;
}

textarea:focus, input:focus, select:focus, .bootstrap-select .dropdown-toggle:focus{
    outline: none !important;
}

/*------------------------------------------------------------------
    FOOTER AREA
-------------------------------------------------------------------*/

.footer-main{}
.footer-news{
	/* background:url(../images/newsletter-bg.jpg) no-repeat center; */
	background-attachment:fixed;
	background-size:cover;
	position:relative;
}

.footer-news::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    position: absolute;
    top: 0;
    left: 0;
}

.ft-title.color-white {
    color: #fff;
}
.ft-title {
    letter-spacing: 0.96px;
    margin-bottom: 22px;
    font-family: 'ntregular';
	font-size: 52px;
}

.footer-news p {
    margin-bottom: 40px;
    font-size: 24px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
	text-align:center;
}

.footer-news form{
	max-width:650px;
	margin: 0 auto;
	text-align:center;
	width:100%;
	position:relative;
}

.footer-news form input{
	width:100%;
	border:2px dotted #ccc;
	background:#f5f5f5;
	color:#202020;
	padding:12px;
	text-transform:capitalize;
	border-radius: 4px;
	opacity: 1;
	min-height:53px;
}
.footer-news form a{
	border:2px dotted #ccc;
	padding: 0px 19px;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
	border-radius: 4px;
    min-width: inherit;
    height: 53px;
    line-height: 51px;
	color:#ffffff;
}

.footer-news form a:hover{
	background:#f5f5f5;
	color:#202020;
}

.footer-box{
	/* background: #d4d6d796; */
  background: #d6d6d61c;
  line-height: 1;
}

/*.footer-in-main{
	max-width:960px;
	margin:0 auto;
	width:100%;
}*/

.footer-logo{
	padding-bottom:40px;
}

.footer-socials {
    margin: 10px 0;
    line-height: 30px;
    padding: 4px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.socials-box {
    display: table-cell;
    vertical-align: middle;
    margin: 1px 0px;
    padding: 4px;
}
.footer-box {
	/* background-image:-moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%), url(..images/footer_background.jpg);
	background-image:-webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%), url(../images/footer_background.jpg);
	background-image:radial-gradient(ellipse at center, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%), url(../images/footer_background.jpg);
	background-color:#111;background-position:center;background-repeat:no-repeat;background-size:cover */
	}
.socials-box li {
    display: inline-block;
    opacity: 1;
    margin-right: 7px;
}
.footer-box .social-circle-border{
	background-color: transparent;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.social-circle-border {
    font-size: 20px;
    line-height: 23px;
    margin-right: 2px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: transparent;
    color: #6f6f6f;
    text-align: center;
}


.footer-box-a h3{ /* แก้ */
  font-size: 27px;
  font-family: 'ntregular';
  font-weight: bold;
}
.footer-box-a p{
	font-size: 20px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
	line-height: 25px;
}
.footer-box-a ul li{ /* แก้ */
	line-height:30px;
  font-size: 20px;
}
.footer-box-a ul li a{ /* แก้ */
	  color: #000;
    font-size: 20px;
    font-weight: 600;
}

.footer-box-a ul li a:hover{
	padding-left:24px;
}	

.footer-box-b h3{ /* แก้ */
	font-size:27px;
    font-family: 'ntregular';
    font-weight: bold;
}
.footer-box-b p{ /* แก้ */
	font-size: 20px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
  
}
.footer-box-b ul li{ /* แก้ */
	line-height:30px;
  font-size: 20px;
}
.footer-box-b ul li a{ /* แก้ */
	color:#000000;
  font-size: 20px;
}

.footer-box-b ul li a:hover{
	padding-left:24px;
}	
/* ================================================= */
.footer-box-b-b h3{
	font-size:24px;
    font-family: 'ntregular';
    color: #000000;
    font-weight: bold;
}
.footer-box-b-b p{ /* แก้ */
	font-size: 20px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
  
}
.footer-box-b-b ul li{ /* แก้ */
	line-height:30px;
  font-size: 20px;
}
.footer-box-b-b ul li a{
	color:#000000;
}

.footer-box-b-b ul li a:hover{
	padding-left:24px;
}	

.footer-box-b-b ul li a:hover{
	color: #6a6a6a;
}
/* ================================================= */
.footer-box-c h3{ /* แก้ */
	font-size:24px;
    font-family: 'ntregular';
    font-weight: bold;
}
.footer-box-c p{/* แก้ */
	font-size: 20px;
	font-family: 'ntregular', sans-serif;
	color:#000;
  font-weight: bold;
}


.footer-box-c p i{
	font-size: 20px;
    position: relative;
    top: 12px;
    float: left;
    min-width: 20px;
    text-align: center;
}

.footer-box-c p span{
	display: table;
    padding-left: 12px;
	padding-top:1px;
}

.footer-box-c p a{
	color:#000000;
}



.footer-box-d h3{
	font-size:24px;
    font-family: 'ntregular';
}
.footer-box-d p{
	font-size: 24px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
}

.footer-box-d ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.footer-box-d ul li{
	display: inline-block;
    width: 100%;
	padding-bottom:12px;
}
.footer-box-d ul li p{
	padding:0px;
	margin:0px;
}
.footer-box-d ul li span{
	color: #666;
}

/*------------------------------------------------------------------
    COPYRIGHT AREA
-------------------------------------------------------------------*/

.copyright-main{ /* แก้ */
	/* border-top: 2px dotted #fff; */
	text-align:center;
	padding-top:10px;
	/* margin-top:70px; */
	
}

.copyright-main .copy-title{
	letter-spacing: 1px;
	color:#000;
	font-family: 'ntregular', sans-serif;
	font-size:14px;
	padding-bottom:0px;
  font-weight: 700;
}
/*------------------------------------------------------------------
    COLOR SWITCHER AREA
-------------------------------------------------------------------*/

/*--- color switcher ---*/



#color-panel{
	position: fixed;
	width:180px;
	height: auto;
	top:150px;
	/*min-height: 200px;*/
	text-align:left;
	border:1px solid rgba(100,100,100,0.55);
	z-index: 11;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: 0px 1px 4px rgba(0,0,0, 0.45);
}



.open-color-panel{
	right:-1px;
}

#color-panel .segment{
	width:100%;
	padding:15px 10px 15px 0;
	border:1px solid rgba(100,100,100,0.55);
	padding:15px 25px;
	background:rgba(50,50,50,0.95);
}

#color-panel a.panel-button{
	position: absolute;
	width:50px;
	height: 50px;
	left:-50px;
	top:30px;
	text-align: center;
	font-size:18px;
	line-height: 47px;
	cursor: pointer;
	border:none;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	color:#d1d1d1;
	background:rgba(100,100,100,0.85);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#color-panel a.panel-button i{
	padding:7px;
}

#color-panel a.panel-button:hover{
	color:#35cc75;
}	

#color-panel h4{
	margin:3px auto 15px;
	padding-top:0;
	padding-bottom:0;
	color:#ffffff;
}


#color-panel .segment a.switcher{
	width:24px;
	height:35px;
	display: inline-block;
	margin-right:3px;
	margin-top:5px;
	border:1px solid #efefef;
	cursor: pointer;
}

.orange-bg{
	background: #fed400;
}

.strong-blue-bg{
	background: #1E69B8;
}

.moderate-green-bg{
	background: #8dc63f;
}

.vivid-yellow-bg{
	background: #fdcb03;
}



/*------------------------------------------------------------------
    Product Sildes
-------------------------------------------------------------------*/
.abs,
h2:after,
.cards .card figcaption,
.cards .card:after,
.news .card figcaption,
.news .card:after,
.news .article figcaption {
  position: absolute;
}
.rel,
h2,
h2 strong,
h2 strong1,
.cards .card,
.cards-1,
.news .card,
.news .article {
  position: relative;
}
.fix {
  position: fixed;
}
.dfix {
  display: inline;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.df,
.cards,
.cards-1,
.news {
  display: flex;
}
.dif {
  display: inline-flex;
}
.dg {
  display: grid;
}
.dig {
  display: inline-grid;
}
.vm,
h2,
h2 strong,
h2 strong1,
h2 span {
  vertical-align: middle;
}
body {
  background: #fff;
  font-family: 'ntregular';
}
.wrapper {
  padding: 5px;
}
h2 {
  padding: 10px;
  padding-left: 25px;
  color: rgb(255, 255, 255);
  margin: 0;
}
h2 strong {
  z-index: 2;
  background: #FFD004;
  padding: 4px 8px;
  border-radius: 20px;
}
h2 strong1 {
  z-index: 2;
  background: #FFD004;
  padding: 4px 8px;
  border-radius: 20%;
  margin-left: 90px;
}
h2 span {
  font-size: 0.7em;
  color: #aaa;
  margin-left: 10px;
}
h2:after {
  content: '';
  z-index: 1;
  bottom: 50%;
  margin-bottom: -2px;
  height: 2px;
  left: 0;
  right: 0;
  background: #373d47;
}
.cards,
.news {
  /* flex-flow: row wrap; */
  justify-content: center;
}
.cards-1 {
  margin: 20px;
  width: 80px;
  height: 270px;
}
.cards .card,
.news .card {
  margin: 20px;
/*   width: 100%; */
  width: 180px;
  height: 270px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
}
.cards .card img,
.news .card img {
  width: 100%;
  min-height: 100%;
}
.cards .card figcaption,
.news .card figcaption {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  background: none;
  color: #fff;
  transform: translateY(100%);
  transition: 0.3s;
}
.cards .card:after,
.news .card:after {
  content: '';
  z-index: 10;
  width: 100%;
  /* width: 200% */
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.5));
  transition: 0.3s;
}
.cards .card:hover,
.news .card:hover,
.cards .card:focus,
.news .card:focus,
.cards .card:active,
.news .card:active {
  box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
}
.cards .card:hover figcaption,
.news .card:hover figcaption,
.cards .card:focus figcaption,
.news .card:focus figcaption,
.cards .card:active figcaption,
.news .card:active figcaption {
  transform: none;
}
.cards .card:hover:after,
.news .card:hover:after,
.cards .card:focus:after,
.news .card:focus:after,
.cards .card:active:after,
.news .card:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}
.news .article {
  overflow: hidden;
  width: 350px;
  height: 235px;
  margin: 20px;
}
.news .article img {
  width: 100%;
  min-height: 100%;
  transition: 0.2s;
}
.news .article figcaption {
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(51,51,51,0.3);
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background: rgba(6,18,53,0.6);
  opacity: 0;
  transform: scale(1.15);
  transition: 0.2s;
}
.news .article figcaption h3 {
  color: #3792e3;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}
.news .article:hover img,
.news .article:focus img,
.news .article:active img {
  filter: blur(3px);
  transform: scale(0.97);
}
.news .article:hover figcaption,
.news .article:focus figcaption,
.news .article:active figcaption {
  opacity: 1;
  transform: none;
}
/*------------------------------------------------------------------
    Modal 
-------------------------------------------------------------------*/
/* .pros::marker{
    content: "✎";
    text-indent: 50px ; 
} */


.button {
    background-color: #ffea00; /* Green */
    border: none;
    color: white;
    font-family: 'ntregular', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: rgba(255, 255, 255, 0); 
    color: black; 
    border: 2px solid #ffea00;
    font-family: 'ntregular', sans-serif;
    font-weight: bold;
    border-radius: 30px;
  }
  
  .button1:hover {
    background-color: #ffea00;
    color: rgb(255, 255, 255);
    font-family: 'ntregular', sans-serif;
  }
  /* .button2 {
    background-color: #00ff26; 
    color: black; 
    border: 2px solid #00ff26;
    font-family: 'ntregular', sans-serif;
    margin: 8px 4px;
    float: left;
    
  } */

/*   .button2:hover {
    background-color: #00ff26;
    color: rgb(255, 255, 255);
    font-family: 'ntregular', sans-serif;
  } */

/* ========================================= */
/* ============ Button 2 =================== */
/* ========================================= */
.button2 {
    display: inline-block;
    border-radius: 4px;
    background-color: #CCC;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 0px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px 4px;
  }
  .button2 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button2 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .button2:hover span {
      padding-right: 25px;
    }
    
    .button2:hover span:after {
      opacity: 1;
      right: 0;
    }  

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  .container-login103-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  .container-login104-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;

  

  }
  .login100-form-btn {
    font-family: 'ntregular', sans-serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #FFD100;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .login101-form-btn {
    font-family: 'ntregular', sans-serif;
    font-size: 19px;
    line-height: 1.5;
    color: #ffd0009f;
    text-transform: uppercase;
    width: 30%;
    height: 50px;
    border-radius: 25px;
    background: #ffd0009f;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  /* i.fa.fa-handshake-o{
    font-size: 17px
  } */
  .login102-form-btn {
    font-family: 'ntregular', sans-serif;
    font-size: 19px;
    line-height: 1.5;
    color: #00ff379f;
    text-transform: uppercase;
    width: 30%;
    height: 50px;
    border-radius: 25px;
    background: #00ff1e9f;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .login103-form-btn {
    font-family: 'ntregular', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    /* width: 22%; */
    width: auto;
    height: 50px;
    border-radius: 25px;
    background: #FFD100;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .login103-form-btn i{
    font-size: 20px;
      position: relative;
      top: 6px;
      float: right;
      min-width: 20px;
      text-align: center;
      margin-left: 10px;
  }
  .login104-form-btn {
    font-family: 'ntregular', sans-serif;
    font-size: 19px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 25%;
    height: 60px;
    border-radius: 25px;
    background: #FFD100;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    justify-content: center;
  }
  .login100-form-btn:hover {
    background: #f3bf0187;
  }
  .login101-form-btn:hover {
    background: #f3bf0187;
  }
  .login102-form-btn:hover {
    background: #01f32987;
  }
  .login103-form-btn:hover {
    background: #ffffffd1;
    color: #000;
  }
  .login104-form-btn:hover {
    background: #ffffff;
    color: #000000;
  }
  

  /* =========================[About NT]=============================== */
  /* .full {
	float: left;
	width: 100%;
}
.feature_box {
    height: auto;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.10);
    padding: 20px;
    text-align: center;
    transition: ease all 0.5s;
    border-radius: 20%;

}
.feature_box:hover,
.feature_box:focus {
   background: #ffd100;
   border-radius: 20%;
}

.feature_box:hover h4,
.feature_box:focus h4,
.feature_box:hover p,
.feature_box:focus p {
	color: #fff;
    border-radius: 20%;
}

.feature_box:hover img.default-block,
.feature_box:focus img.default-block {
	display: none;
    border-radius: 20%;
}

.feature_box:hover img.default-none,
.feature_box:focus img.default-none {
	display: initial;
    border-radius: 20%;
}

.feature_box h4 {
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 20%;
}

.feature_box p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    border-radius: 20%;
}
.icon-phone:before {
    content: "\e942";
  } */
  @media (max-width: 767.98px) {
    .info-wrap {
      height: 400px; } }
  
  .dbox {
    width: 100%;
    margin-bottom: 25px; }
    @media (max-width: 767.98px) {
      .dbox {
        margin-bottom: 25px !important;
        padding: 0 20px; } }
    .dbox p {
      margin-bottom: 0; }
      .dbox p span {
        font-weight: 500;
        color: #000; }
      .dbox p a {
        color: #46b5d1; }
    .dbox .icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #46b5d1;
      margin: 0 auto;
      margin-bottom: 20px; }
      .dbox .icon span {
        font-size: 20px;
        color: #fff; }
    .dbox .text {
      width: 100%; }

      .align-items-start {
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
        align-items: flex-start !important; }
      
      .align-items-end {
        -webkit-box-align: end !important;
        -ms-flex-align: end !important;
        align-items: flex-end !important; }
      
      .align-items-center {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        }
      
      .align-items-baseline {
        -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
        align-items: baseline !important; }
      
      .align-items-stretch {
        -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
        align-items: stretch !important; }
      
      .align-content-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important; }
      
      .align-content-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important; }
      
      .align-content-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important; }
      
      .align-content-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important; }
      
      .align-content-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important; }
      
      .align-content-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important; }
      
      .align-self-auto {
        -ms-flex-item-align: auto !important;
        -ms-grid-row-align: auto !important;
        align-self: auto !important; }
      
      .align-self-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important; }
      
      .align-self-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important; }
      
      .align-self-center {
        -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important; }
      
      .align-self-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important; }
      
      .align-self-stretch {
        -ms-flex-item-align: stretch !important;
        -ms-grid-row-align: stretch !important;
        align-self: stretch !important; }
        .d-flex {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            }
          
          .d-inline-flex {
            display: -webkit-inline-box !important;
            display: -ms-inline-flexbox !important;
            display: inline-flex !important; }
            .justify-content-start {
                -webkit-box-pack: start !important;
                -ms-flex-pack: start !important;
                justify-content: flex-start !important; }
              
              .justify-content-end {
                -webkit-box-pack: end !important;
                -ms-flex-pack: end !important;
                justify-content: flex-end !important; }
              
              .justify-content-center {
                -webkit-box-pack: center !important;
                -ms-flex-pack: center !important;
                justify-content: center !important;
                }
              
              .justify-content-between {
                -webkit-box-pack: justify !important;
                -ms-flex-pack: justify !important;
                justify-content: space-between !important; }
              
              .justify-content-around {
                -ms-flex-pack: distribute !important;
                justify-content: space-around !important; }
                             
/* ======================[Partner]============================ */
.section1 {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* #booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
} */
.partner-form {
	max-width: 642px;
	width: 100%;
	margin: auto;
}
.partner-form>form {
	background-color: #a1a1a1;
	padding: 30px 20px;
	border-radius: 3px;
}
.booking-form {
	max-width: 642px;
	width: 100%;
	margin: auto;
}

.booking-form .form-header {
	text-align: center;
	margin-bottom: 25px;
}

.booking-form .form-header h1 {
	font-size: 33px;
	text-transform: uppercase;
	font-weight: 700;
	color: #ffffff;
	margin: 0px;
}

.booking-form>form {
	background-color: #a1a1a1;
	padding: 30px 20px;
	border-radius: 3px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 15px;
}

.booking-form .form-control {
	background-color: #f5f5f5;
	border: none;
	height: 45px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 400;
	color: #101113;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #101113;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 5px;
	display: block;
	text-transform: uppercase;
}

.booking-form .submit-btn {
	color: #101113;
	background-color: #ffc001;
	font-weight: 700;
	height: 50px;
	border: none;
	width: 30%;
	display: block;
	border-radius: 3px;
	text-transform: uppercase;
  
}

.elementor-36852 .elementor-element.elementor-element-66275658 .gform_wrapper .gform_heading h2 {
  margin-top: 0px;
}
.elementor-36852 .elementor-element.elementor-element-66275658 .gform_wrapper .gform_body .gform-phone .instruction.validation_message {
  display: none;
}
.elementor-36852 .elementor-element.elementor-element-66275658 .gform_wrapper .gform_body .gform-consent .gfield_checkbox label {
  /* display: inline; */
  font-size: 11px;
  font-weight: 400;
}
.label_42_16_1{
  /* display: inline; */
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.page-section2
{
  background-image: linear-gradient( #fdd100, #eeff00 );
}

/** service section **/

.service {
  background-color: #fff;
  /* margin-top: 80px; */
  /* padding: 30px 0; */
}

.service .titlepage {
  text-align: center;
  padding-bottom: 30px;
}

.service .titlepage p {
  color: #0c0202;
  font-size: 17px;
  line-height: 30px;
  padding-top: 20px;
}

.service_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service_box {
  text-align: center;
  /* width: 16.3%; */
  margin-top: 30px !important;
}

.service_box i {
  width: 181px;
  display: block;
  height: 181px;
  border-radius: 200px;
  
}

.service_box i img {
  text-align: center;
  padding-top: 0%;
}

.service_box h4 {
  color: #494949;
  font-size: 17px;
  margin-top: 25px;
  padding: 0;
  font-weight: 500;
}

.service_box h4:hover {
  color: #0f98f8;
}
.service_box h7 {
  color: #494949;
  font-size: 22px;
  margin-top: 25px;
  padding: 0;
  font-weight: 500;
}

.service_box h7:hover {
  color: #0f98f8;
}
.blu_colo i {
  
}

.yell_colo i {
  
}

.yelldark_colo {
  margin: 0 50px;
}

.yelldark_colo i {
  
}

.service .read_more {
  margin: 0 auto;
  padding-top: 70px;
}
.read_more {
  font-size: 20px;
  background-color: transparent;
  color: #262626 !important;
  padding: 13px 0px;
  width: 100%;
  max-width: 198px;
  font-weight: 500;
  position: relative;
  display: block;
  line-height: 1px;
}

.read_more::before {
  position: absolute;
  content: "";
  border-right: #262626 solid 80px;
  width: 200px;
  height: 1px;
  line-height: 1px;
}

/** end service section **/

.word {
  margin: auto;
  color: rgb(255, 0, 0);
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

/* ========================= */
main, #folders {
  width: calc(100% - 3rem);
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2.5rem;
}

main > article {
  width: 100%;
  height: 32px;
  padding: 1rem;
  background-color: #FFF;
}
main > figure {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #FFF;
  background-size: cover;
  border-radius: 1rem;
  transition: all 100ms ease-out;
}
main > figure:hover {
  box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}
main > figure:after {
  content: "";
  /* padding-bottom: 100%; */
  display: block;
}
main > figure > figcaption {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  background: none;
  color: #fff;
  transform: translateY(100%);
  transition: 0.3s;
}

/* .cards .card figcaption,
.news .card figcaption {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  background: none;
  color: #fff;
  transform: translateY(100%);
  transition: 0.3s;
} */


.sec-prefooter { float: left; width: 100%; /* padding: .5em 0; */ background-color: #fff; border-top: 2px solid #d58f1f;}
.box-prefooter { float: left; width: 100%; display: flex; align-items: center; justify-content: center; }
.prefoot-contact-title 
{ 
    margin-right: 2em; 
    font-size: 1.5rem;
    font-family: 'ntregular', sans-serif;
    font-weight: 600;
    color: #000;
}
.pad-top-50{
  padding-top: 50px;
}
.prefoot-contact-group {display: flex; align-items: center;}
.prefoot-contact-group-call{display: flex; align-items: center;}
.prefoot-contact-group-call-text 
{ 
    text-align: right; 
    font-family: 'ntregular', sans-serif;
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 0.9; 
    margin-right: .5em;
    color: #000;
    
}
.txt-gdcolor { 
  display: inline-block; 
  background: rgb(250,175,64);
  background: -webkit-linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);
  background: -moz-linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);
  background: linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.t-medium { 
    font-family: 'ntregular', sans-serif;
    font-weight: 600;
    color: #000;
}
.prefoot-contact-group-call-num {font-size: 3rem;}
.prefoot-contact-group-or 
{ 
    font-size: 0.7em; 
    position: relative; 
    margin: 0 2em;
}
.prefoot-contact-group-or span { position: relative;}
.prefoot-contact-group-or span:before { position: absolute; content: ""; width: 1px; height: 10px; top: 100%; left: 50%; background-color: rgba(0, 0, 0, .3);}
.prefoot-contact-group-or span:after { position: absolute; content: ""; width: 1px; height: 10px; bottom:100%; left: 50%; background-color: rgba(0, 0, 0, .3);}


/*
 |*******************************************************************************************
 | BUTTON
 |*******************************************************************************************
*/
.btn3 { font-size:1rem; padding: 0; position: relative; box-shadow: 0 5px 5px 0 rgb(172,37,99,.2); background: rgb(160,43,94);background: linear-gradient(90deg, rgba(160,43,94,1) 0%, rgba(218,29,113,1) 50%, rgba(237,133,83,1) 100%);border-radius: 50px; border:none; text-align: center;line-height: 0.6;color: #fff;font-family: 'ntregular';}
.btn3 > span { font-size: 1.5em; padding: .8em 3em; display: flex; align-items: center;justify-content: center; position: relative;}
.btn3-sm > span {font-size: 1.2em; padding: .6em 2em;}
.btn3-lg > span {font-size: 1.8em; padding: .7em 2em;}

.btn3-icon svg,.btn-icon img {fill:#fff; width:.6em; height:.6em; transition:all ease .4s;}
.btn3-icon > span { position: relative; display:flex; align-items:center; justify-content:center;}
.btn3-icon span + svg,.btn-icon span + img { margin-left:.2em;}
.btn3-icon svg + span,.btn-icon img + span { margin-left:.2em;}

.btn3-secondary { color:#333; position: relative;}
.btn3-secondary:before { content: ""; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px);border-radius: 50px; left: 1px; top: 1px; background-color: #fff; }
.btn3-secondary.btn-icon svg,.btn-icon img {fill:#333;}

.btn3-red { background:#ddca1b; box-shadow: none;font-family: 'ntregular', sans-serif;}
.btn3-sm-incard { font-size: .5em;}

.btn3-text { text-decoration: underline; color:inherit; background:none; box-shadow: none;font-family: 'ntregular', sans-serif;}
.btn3-text span {padding:0;}
.btn3-text svg { fill: inherit;}

.btn3-download { text-decoration: none;}
.btn3-download img,.btn-download svg { width: 1em; height: 1em;}
.btn3-download span { text-decoration: underline;}
/* == Hover == */
.btn3.focus, .btn3:focus {outline: 0;box-shadow:none;}
.btn3:hover {  background:#ddca1b; color:#fff;}
.btn3:hover:before { content: ""; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px);border-radius: 50px; left: 1px; top: 1px; 
	background: linear-gradient(90deg, rgba(237,133,83,1) 0%, rgb(228, 82, 14) 50%, rgb(248, 216, 37) 100%); }
.box-content-button .btn3 span { color:#fff; background: none;-webkit-text-fill-color:inherit;}

.btn3-secondary.btn3-icon:hover svg { fill:#fff;}

.btn3-red:hover { color:#ddca1b;}
.btn3-red:hover:before { content: ""; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px);border-radius: 50px; left: 1px; top: 1px; background-color: #fff; }

.btn3-text:hover { color:#dd1b24; background: none;}
.btn3-text:hover:before { display: none;}
.btn3-text:hover svg { fill: #dd1b24;}

.thumb-tag a:last-child { margin-right: 0px;}
.thumb-tag a:first-child { margin-left: 0px;}


/* about */
p.text-ab{
  text-indent:4rem;
  color: #000;
}

/* new Text Product */
.frame-5{
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 151px;
  margin-right: 33px;
  margin-top: 57px;
  padding: 17px 444px;
  width: 1179px;
}
.overlap-group-2{
  align-items: flex-end;
  background-color: var(--garey);
  border-radius: 15px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  margin-right: 1.99px;
  margin-top: 18px;
  min-width: 133px;
  padding: 0 29.7px;
}
.place-1{
  height: 34px;
  letter-spacing: 0;
  width: 65px;
}
.valign-text-midle{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-make-your-business-easy{
  align-self: flex-start;
  height: 23px;
  letter-spacing: 0;
  width: 290px;
}
.product{
  height: 40px;
  letter-spacing: 0;
  margin-left: 16.82px;
  width: 142px;
}

/* product Home */
.button-product {
  background-color: rgb(84, 88, 89); 
  color: #FFD100; 
  /* border: 2px solid #ffea00; */
  font-family: 'ntregular', sans-serif;
  font-weight: bold;
  border-radius: 30px;
}

/* .button-product:hover {
  background-color: #ffea00;
  color: rgb(255, 255, 255);
  font-family: 'ntregular', sans-serif;
} */


.button-container-1 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
 /*  margin-top: 6vh; */
  overflow: hidden;
  border: 1px solid;
  font-family: "ntregular", sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 30px;
}
.button-container-1 button {
  width: 101%;
  height: 100%;
  font-family: "ntregular", sans-serif;
/*   font-weight: 500; */
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #545859;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fdd100;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}
.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-family: "ntregular", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 25px;
  /* margin-top: 17px; */
  overflow: hidden;
  font-weight: bold;
  letter-spacing: 1px;
}
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
/* list product */
.list-product{
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 2%;
    overflow: hidden;
    
  }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.list-product li{
  float: left;
 /*  width: 48.4%; */
  margin: 0.8%;
  list-style: none
}
.list-product .item-product{
  position: relative;
    display: block;
    text-align: center;
    font-family: ntregular;
}
.item-product .item-product-pic img{
  display: block;
/*   max-width: 100%; */
 width: 380px;
  margin: 0 auto;
}
.layui-btn, .layui-edge, .layui-inline, img{
  vertical-align: middle;
}
.item-product .item-product-info{
  position: absolute;
    left: 0;
    top: 8%;
    width: 100%;
    color: #2f5181;
}
.item-product .item-name{
  font-weight: normal;
  /* font-size: 36px; */
}
.size-36 {
  font-size: 36px;
}
.size-18 {
  font-size: 18px;
}
.item-product .item-txt {
  margin-top: 2%;
  padding: 0 5%;
}
@media screen and (max-width: 768px){
.item-product .item-product-pic img {
    max-width: auto;
    width: 100%;
}
.list-product ul {
  margin: 0;
}
.list-product li:first-child {
  margin-top: 0;
}
.list-product li {
  width: 100%;
  float: none;
  margin: 15px 0 0;
}
.size-36 {
  font-size: 22px;
}
}
@media screen and (max-width: 1024px){
.list-product {
    margin-top: 20px;
}
.list-product1 {
  margin-top: 20px;
}
.size-36 {
  font-size: 26px;
}
.size-19, .size-18 {
  font-size: 14px;
}
.list-product li{
  /* float: left; */
 /*  width: 48.4%; */
  margin: 0.8%;
  list-style: none;
  float: none;
}
}
@media screen and (max-width: 1366px){
.size-36 {
    font-size: 30px;
}
.size-19, .size-18 {
  font-size: 16px;
}
}


/* Silde Product Pooter */
.containers {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.containers .items {
  display: flex;
  align-items: center;
  width: fit-content;
  animation: carouselAnim 60s infinite alternate linear;
}
.containers .items .entry {
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  flex-direction: row;
  position: relative;
  width: 500px;
  background: #d6d6d6;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
}
.containers .items .entry p {
  text-align: center;
  /* padding: 1em; */
  color: #000;
}
.containers .items .entry p.name {
  font-weight: bold;
}
@keyframes carouselAnim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-100% + (5*300px)));
  }
}
@media only screen and (max-width: 768px) {
  .containers .items {
    animation: carouselAnim 30s infinite alternate linear;
  }
  @keyframes carouselAnim {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(calc(-100% + (2*300px)));
    }
  }
}
.containers .faders {
  /* width: 100%; */
  position: absolute;
  height: 100%;
}
.containers .faders .left, .containers .faders .right {
  background: linear-gradient(to right, whitesmoke 0%, rgba(255, 255, 255, 0) 100%);
  width: 20%;
  height: 100%;
  position: absolute;
  z-index: 200;
}
.containers .faders .right {
  right: 0;
  background: linear-gradient(to left, whitesmoke 0%, rgba(255, 255, 255, 0) 100%);
}

/* button css */
/* CSS */
.button-49,
.button-49:after {
  width: 90px;
  height: 26px;
  line-height: 23px;
  font-size: 17px;
  font-family: "ntregular", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #666666 5%);
  border: 0;
  color: #fdd100;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #ffd100;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 10px;
}

.button-50,
.button-50:after {
  width: 90px;
  height: 26px;
  line-height: 23px;
  font-size: 17px;
  font-weight: bold;
  font-family: "ntregular", sans-serif;
  background: linear-gradient(45deg, #666666 5%, #666666 5%);
  border: 0;
  color: #ffffff;
  /* letter-spacing: 3px; */
  box-shadow: 6px 0px 0px #ffd100;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 10px;
}

.button-51,
.button-51:after {
  width: 90px;
  height: 26px;
  line-height: 23px;
  font-size: 12px;
  font-weight: bold;
  font-family: "ntregular", sans-serif;
  background: linear-gradient(45deg, #fdd100 5%, #fdd100 5%);
  border: 0;
  color: #000;
  /* letter-spacing: 3px; */
  box-shadow: 6px 0px 0px #666666;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 10px;
}

.button-49:after,
.button-50:after,
.button-51:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  /* content: 'ALTERNATE TEXT'; */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0); */
}

.button-49:hover:after,
.button-50:hover:after,
.button-51:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 90px;
    height: 26px;
    line-height: 23px;
  }
}
@media (min-width: 768px) {
  .button-50,
  .button-50:after {
    width: 130px;
    height: 26px;
    line-height: 23px;
    margin-top: 25px;
  }
}
@media (min-width: 768px) {
  .button-51,
  .button-51:after {
    width: 130px;
    height: 26px;
    line-height: 23px;
    margin-top: 20px;
    font-size: 14px;
  }
}
/* 
    [Modal css Img pic] 
*/
.modalimg{
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



/*  */

.bg-left-half 
{
  position: relative; 
}
.bg2-left-half 
{
  position: relative; 
}
.bg-left-half:before 
  {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
    left: 0;
    top: 0;
    background-color: #fff; 
  }
  .content.bg-colors2 {
    background: #d6d6d694;
}
.media-29101{
    /* justify-content: center; */
    display: flex;
    flex-direction: row;
    position: relative;
    width: 340px;
    background: #d6d6d6;
    margin: 1em;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
   
.media-29101 img {
height: 160px;
margin: 10px 10px 1px 10px;
}
.media-29101-1{
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 340px;
  background: #9b9b9bd9;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
 
.media-29101-1 img {
height: 160px;
margin: 10px 10px 1px 10px;
}
.owl-stage{
  width: 400em !important;
}
.media-29102{
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 340px;
  background: #ffffff8f;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 58%) 0px 5px 15px;
  
  }
  .owl-stage{
    width: 400em !important;
  }
.media-29102 img {
/*  margin-bottom: 20px; */ 
/* width: 120px; */
height: 160px;
margin: 10px 10px 1px 10px;
}
p.quote{
    color: #000;
    /* text-align-last: center; */
    /* word-spacing: 10px; */
    /* text-indent: 1.1em; */
    font-size: 18px;
    line-height: 23px;
    margin-top: 15px;

}
p.quote1{
  color: #000;
  /* text-align-last: center; */
  /* word-spacing: 10px; */
  text-indent: 0.7em;
  font-size: 16px;
  line-height: 25px;
  margin-left: 15px;

}
.pad-bottom-60{
  padding-bottom: 60px;
}
/* .owl-item{
  width: 380px !important;
  margin-right: 5px !important;
} */
.media-29101 h3 {
  font-size: 18px;
  font-weight: 900 !important; }
  .media-29101 h3 a {
    color: #6c757d; }

.owl-2-style .owl-nav,
.owl-3-style .owl-nav 
{
  display: none; 
} 


.owl-2-style .owl-dots,
.owl-3-style .owl-dots 
{
  text-align: center;
  position: relative;
  /* bottom: -30px; */ 
}
  .owl-2-style .owl-dots .owl-dot,
  .owl-3-style .owl-dots .owl-dot  
  {
    display: inline-block; 
  }
    .owl-2-style .owl-dots .owl-dot span ,
    .owl-3-style .owl-dots .owl-dot span 
    {
      display: inline-block;
      width: 18px;
      height: 5px;
      border-radius: 0px;
      background: #cccccc;
      -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      margin: 3px; 
    }
    .owl-2-style .owl-dots .owl-dot.active span ,
    .owl-3-style .owl-dots .owl-dot.active span
    {
      background: #ffae00; 
    }
    .owl-2-style .owl-dots .owl-dot:active, .owl-2-style .owl-dots .owl-dot:focus ,
    .owl-3-style .owl-dots .owl-dot:active, .owl-3-style .owl-dots .owl-dot:focus
    {
      outline: none; 
    }

/* 
NEW Edit
*/

.bg3-left-half {
  position: relative; }
  .bg3-left-half:before {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
    content: "";
    left: 0;
    top: 0;
    background-color: #f8f9fa; }

.media-29103{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 340px;
  background: #d6d6d6;
  margin: 1em;
  padding: 0.5em;
  border-radius: 10px;
  align-items: center;

  border: 1px solid;
  padding: 10px;
  /* box-shadow: 6px 9px #888888a3; */
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.media-29103 img {
  margin-bottom: 10px; 
  width: 300px;
  border-radius: 10px;
}

p.qdate{
  color: #000;
    text-align-last: left;
    /* word-spacing: 10px; */
    /* text-indent: 1.1em; */
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    margin-left: auto;
}
a.aq1 {
  color: #1f1f1f;
  font-weight: 600;
}
a.aq1:hover,
a.aq1:focus{
  color: #1E69B8;
}

/* 
  footer col
*/
.row.footer-in-main.pad-top-40{
  display: flex;
  flex-wrap: nowrap;

}
.row.justify-content-md-center.text-left.about-fcolor.animate__animated.animate__bounce{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding-top: 30px;
}
.col-6{
    flex: 0 0 50%;
    max-width: 30%;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li.nav-footer-col{
  list-style: none;
  font-weight: bold;
  font-size: 1.8rem;
}
li.Ai-li{
  list-style-type: none;
}
a.next-link-to.as{
  padding-left: 12px;
  line-height: 5px;
}
i.fa.fa-map-signs{
  font-size: 15px;
}
i.fa.fa-mobile {
  font-size: 25px;
  top: 5px;
  position: relative;
  
}
i.fa.fa-envelope{
  font-size: 16px;
    top: 4px;
    position: relative;
}
a.next-link-to.pol{
  font-size: 12px;
}
li.Ai-li-1{
  line-height: 1.4;
  list-style-type: none;
}

.inner-warp{
/* padding: 34px; */
    background: #F8F8F8;
    /* border-radius: 26px; */
    margin-bottom: 6px;
    padding: 3rem 9rem 5rem 9rem;
    border-radius: 0px 0px 28px 28px;

  }
  img.shows {
    width: 100px;
    margin-left: 40%;
    border-radius: 20px;
}

.send1 {
  font-family: 'ntregular', sans-serif;
  align-items: center;
  /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
  background-image: linear-gradient(90deg, rgba(160,43,94,1) 0%, rgba(218,29,113,1) 50%, rgba(237,133,83,1) 100%);
  border: 0;
  border-radius: 8px;
  box-shadow: rgb(255, 255, 255) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #000;
  font-weight: bold;
  display: flex;
  font-size: 19px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  padding-left: 15px;
  margin-left: 30%;
}
.send1:active,
.send1:hover {
  outline: 0;
  color: #fff;
}
.send1 span {
  background-color: rgb(255, 255, 255);
  padding: 2px 45px;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  transition: 1500ms;
}

.send1:hover span {
  background: none;
}

@media (min-width: 768px) {
  .send1 {
    font-size: 19px;
   /*  min-width: 196px; */
  }
}
/* .send1-form-btn:hover {
  background: #f3bf0187;
} */
.h1-header {
  background: #ffdd00;
  padding: 20px 30px 15px 30px;
  /* margin: -30px -30px 30px -30px; */
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 3px rgb(0 0 0 / 12%);
  font: normal 30px 'ntregular', serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgb(255 255 255 / 17%);
  box-shadow: inset 0px 2px 2px 0px rgb(255 255 255 / 17%);
  border: 1px solid #ffdd00;
  text-align: -webkit-center;
    font-weight: bold;
}


small.smsolt {
    /* margin: 10px; */
    display: list-item;
    list-style-type: none;
    font-size: 1.3rem;
    text-align-last: center;
    color: #000;
}

small.sm1 {
  font-weight: bolder;
  color: #000;
}

.pad-bottom-50{
  padding-bottom: 50px;
}

/* CSS */
.button-87 {
      /* margin-bottom: 10px; */
    /* padding-bottom: 20px; */
    padding: 8px 150px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 35%;
    font-size: 20px;
    height: 50px;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

/* .nav-item.dropdown.active{
  top: 16px;
} */
b.caret {
  color: #b0b0b0;
  width: 10px;
    height: 10px;
}



a.dropdown-item {
  display: block;
  font-size: 17px !important;
  padding: 4px !important;
  color: #000 !important;
}

a.dropdown-item::after,  a.dropdown-item::before{
	content: none !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.welcomelogin{
  color: #545859;
}

/* Sale Price Home Extensions */
li.pros {
  display: flex;
  align-items: baseline!important;
}
span.sale-price {
  color: rgba(0,0,0,.38)!important;
  font-size: 2rem!important;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: .009375em!important;
  text-decoration: line-through!important;
  padding-right: 8px!important;
}
h4.price-1 {
  font-size: 3.125rem!important;
  line-height: 2.5rem;
  letter-spacing: .0073529412em!important;
  font-weight: 700!important;
}

h4.u-text.u-text-default.u-text-palette-1-base.u-text-33 {
  font-weight: bold;
  font-size: 20px;
  align-self: center;
}
b.bord-price {
  font-size: 25px;
  font-weight: bold;
  /* color: #ff3d00; */
}

 /* 
  [CSS Table Document]
*/ 

.fileupload {
  position: relative;
  padding-bottom: 6%;
}
.fileupload .item-list {
  padding: 30px 0 0 0;
  width: 80%;
  margin: 0 auto;
}
.fileupload .item-list .item {
  border-bottom: 1px solid #CCC;
  padding: 20px 10px;
  transition: all .35s ease-in-out;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  display: table;
  width: 100%;
}
.fileupload .item-list .itemcell {
  display: table-cell;
  vertical-align: middle;
}
.dwn-icn {
  float: left;
  width: 5%;
  text-align: center;
}
.fileupload .item-list .desc-txt {
  float: left;
  width: 90%;
  padding: 0 20px;
  font-size: 2.1rem;
}
span.txt_content3.text{
  font-size: 1.8rem;
}
.img-new-event{
  margin-top: 15px;
  
}
.fileupload .item-list .anm-arrow {
  transition: all .35s ease-in-out;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  margin-left: 5px;
}
.fileupload .item-list .item:hover {
  cursor: pointer;
  background: #FFF;
  box-shadow: 1px 0px 40px 0px #ccc;
  -webkit-box-shadow: 1px 0px 40px 0px #ccc;
  -moz-box-shadow: 1px 0px 40px 0px #ccc;
  -ms-box-shadow: 1px 0px 40px 0px #ccc;
  -o-box-shadow: 1px 0px 40px 0px #ccc;
  border-bottom: 1px solid transparent;
}
.fileupload .item-list .item:hover .anm-arrow {
  margin-left: 20px;
}
.pro-hr{
    height: 4px;
    border-width: 0;
    color: gray;
    background: linear-gradient(90deg, rgba(255, 209, 0) 63%, rgba(84, 88, 89) 63%, rgba(84, 88, 89) 100%);
  }
  #success_message{ 
    display: none;
  }
  label.col-md-4.control-label {
    color: #000;
    font-size: 2rem;
}
/* 
 * TABLE SHOW NAME CSS
 */
input.form-control.form-control-sm {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    margin-left: .5em;
}
div#example1_filter {
  text-align: right;
}
div#example1_wrapper{
  color: #000;
}
table#example1 {
  color: #000;
  font-size: 2rem;
}
.container1{
    /* margin-right: auto;
    margin-left: auto; */
    padding-left: 15px;
    padding-right: 25px;
}

th.sorting {
  color: #000;
  font-weight: 700;
}

tr {
  color: #000;
}

p.click-date {
  font-size: 1.0rem;
  margin-top: -1%;
  color: #757575;
  font-weight: 200;
}



    /* NEW Slide Show TexT */
    .item-1, 
    .item-2, 
    .item-3 {
        position: absolute;
        /* display: block; */
        /* top: 2em; */
        /* width: 60%; */
        font-size: 1.5em;
        animation-duration: 14s;
        animation-timing-function: step-start;
        animation-iteration-count: infinite;
        /* margin-left: -4.5%; */
        margin-top: 2px;
    }
    
    .item-1{
      animation-name: anim-1;
    }
    
    .item-2{
      animation-name: anim-2;
    }
    
    .item-3{
      animation-name: anim-3;
    }
    
    @keyframes anim-1 {
      0%, 8.3% { left: -100%; opacity: 0; }
      8.3%,25% { left: 25%; opacity: 1; }
      33.33%, 100% { left: 110%; opacity: 0; }
    }
    
    @keyframes anim-2 {
      0%, 33.33% { left: -100%; opacity: 0; }
      41.63%, 58.29% { left: 25%; opacity: 1; }
      66.66%, 100% { left: 110%; opacity: 0; }
    }
    
    @keyframes anim-3 {
      0%, 66.66% { left: -100%; opacity: 0; }
      74.96%, 91.62% { left: 25%; opacity: 1; }
      100% { left: 110%; opacity: 0; }
    }

    .dropdown-menu.TEST{
      min-width: 300px;
    }

    /* Beaking Ticker */
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@keyframes ticker {
	0%   {margin-top: 0}
	25%  {margin-top: -30px}
	50%  {margin-top: -60px}
	75%  {margin-top: -90px}
	100% {margin-top: 0}
}

.news-red {
  /* box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5); */
  /* width: 650px; */
  width: auto;
  height: 30px;
  margin: 20px 35px;
  overflow: hidden;
  /* border-radius: 4px; */
  /* padding: 3px; */
  BORDER-BOTTOM: #c22b2c 2px solid;
} 

.news-red span {
  float: left;
  color: #fff;
  padding: 6px;
  position: relative;
  top: 1%;
  border-radius: 4px;
  /* box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4); */
  font: 16px 'ntregular', sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer
}

.news-red ul {
  /* float: left; */
  padding-left: 20px;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
}

.news-red ul li {line-height: 30px; list-style: none }

.news-red ul li a {
  color: #000;
  text-decoration: none;
  font: 14px 'ntregular', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.news-red ul:hover { animation-play-state: paused }
.news-red span:hover+ul { animation-play-state: paused }

/* OTHER COLORS */
.blue { background: #347fd0 }
.blue span { background: #2c66be }
/* .red { background: #d23435 } */
.red span { background: #c22b2c }
.green { background: #699B67 }
.green span { background: #547d52 }
.magenta { background: #b63ace }
.magenta span { background: #842696 }

.yellow {background : yellow}
.yellow span {background : yellow}
.color-textNT {
  /* color: black !important; */
    font-size: 16px !important;
    font-weight: bold !important;
}
a.color-textNT:hover, a.color-textNT:focus {
  color: #23527c;
}