/*------------------------------------------------------------------
    File Name: style.css
    Template Name: Landigoo
    Created By: MelodyThemes
    Envato Profile: http://themeforest.net/user/melodythemes
    Website: https://melodythemes.com
    Version: 1.0
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    [Table of contents]
	
	1. IMPORT FONTS
    2. IMPORT FILES
	3. SKELETON
	  1.1. Preloader
	  1.2. Scrollup
	4. HEADER AREA
	5. BANNER AREA
	6. ABOUT AREA
	7. SPECIAL-MENU AREA
	8. MENU AREA
	8. TEAM AREA
	9. GALLERY AREA
	10. BLOG AREA
	11. PRICING AREA
	12. RESERVATIONS AREA
	13. FOOTER AREA
	14. COPYRIGHT AREA
	15. COLOR SWITCHER AREA
	
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Paprika');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');


/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

@import url(owl.theme.css);
@import url(owl.carousel.css);
@import url(slick.css);
/* @import url(flaticon.css); */
@import url(font-awesome.min.css);
/* @import url(bootstrap-datetimepicker.css); */
/* @import url(bootstrap-select.min.css); */
@import url(normalize.css);
/* @import url(animate.min.css); */
@import url(fontnt.css);

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/
@font-face {
    font-family: 'ntbold';
    src: url('nt_bold-webfont.woff2') format('woff2'),
         url('nt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ntbold';
    src: url('nt_bold-webfont.woff2') format('woff2'),
         url('nt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ntregular';
    src: url('nt_regular-webfont.woff2') format('woff2'),
         url('nt_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ntregular';
    src: url('nt_regular-webfont.woff2') format('woff2'),
         url('nt_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/** banner section **/

.banner_main {
    /* background: url(banner.png); */
    background-image: url(../images/banner.png);
    padding: 300px 0px 0px 0px;
    background-size: auto 78%;
    background-repeat: no-repeat;
    min-height: 1150px;
    background-position: right top;
}

.text-bg {
    margin-top: 70px;
    text-align: left;
    float: right;
    max-width: 430px;
    width: 100%;
}

.text-bg h1 {
    color: #0f98f8;
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 45px;
    font-weight: bold;
}

.text-bg span {
    color: #222222;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 30px;
    display: block;
}

.ban_track {
    margin-top: 55px;
}

.banner_slide {
    padding: 0 80px;
}

.ban_track figure {
    margin: 0;
}

.transfot {
    text-align: left;
}

.transfot span {
    color: #fff;
    font-size: 17px;
}

.transfot h3 {
    color: #fff;
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 16px;
}

.transfot_form {
    padding: 0 15px;
    height: 40px;
    margin-bottom: 15px;
    border: #fff solid 1px;
    font-size: 16px;
}

.get_now {
    max-width: 150px;
    width: 100%;
    padding: 6px 0;
    background: #222b3c;
    color: #fff;
    font-size: 17px;
}

.get_now:hover {
    background-color: #000;
}

#banner1 .carousel-caption {
    position: inherit;
    padding: 0;
}

#banner1 .carousel-indicators {
    display: none;
}

#banner1 .carousel-control-prev,
#banner1 .carousel-control-next {
    width: 45px;
    height: 45px;
    background: transparent;
    opacity: 1;
    font-size: 30px;
    color: #fff;
    border-radius: 40px;
    border: #fff solid 2px;
}

#banner1 .carousel-control-prev:hover,
#banner1 .carousel-control-next:hover,
#banner1 .carousel-control-prev:focus,
#banner1 .carousel-control-next:focus {
    background: #000;
    color: #fff;
}

#banner1 a.carousel-control-prev {
    position: absolute;
    left: inherit;
    top: 35%;
    right: 16px;
}

#banner1 a.carousel-control-next {
    position: absolute;
    right: 16px;
    bottom: 10px;
    top: 50%;
}


/** end banner section **/