/*------------------------------------------------------------------
    File Name: style.css
    Template Name: Landigoo
    Created By: MelodyThemes
    Envato Profile: http://themeforest.net/user/melodythemes
    Website: https://melodythemes.com
    Version: 1.0
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    [Table of contents]
	
	1. IMPORT FONTS
    2. IMPORT FILES
	3. SKELETON
	  1.1. Preloader
	  1.2. Scrollup
	4. HEADER AREA
	5. BANNER AREA
	6. ABOUT AREA
	7. SPECIAL-MENU AREA
	8. MENU AREA
	8. TEAM AREA
	9. GALLERY AREA
	10. BLOG AREA
	11. PRICING AREA
	12. RESERVATIONS AREA
	13. FOOTER AREA
	14. COPYRIGHT AREA
	15. COLOR SWITCHER AREA
	
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Paprika');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');


/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

@import url(owl.theme.css);
@import url(owl.carousel.css);
@import url(slick.css);
/* @import url(flaticon.css); */
@import url(font-awesome.min.css);
/* @import url(bootstrap-datetimepicker.css); */
/* @import url(bootstrap-select.min.css); */
@import url(normalize.css);
/* @import url(animate.min.css); */
@import url(fontnt.css);

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/


body{
	color:#d3d3d3;
	font-size:24px;
	font-family: 'ntregular', sans-serif;
	line-height:1.80857;
    position: relative;
}

a {
    color: #545859;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h5,
h6 {
    letter-spacing: 0;
    font-family: 'ntregular', sans-serif;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #ffffff;
    margin: 0
}
h4 {
  letter-spacing: 0;
  font-family: 'ntregular', sans-serif;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: 120% !important;
  color: #000000;
  margin: 0;
  padding-bottom: 20px
}
h8 {
    letter-spacing: 0;
    font-family: 'ntregular', sans-serif;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0;
    font-size: 22px 
}

h1 {
    font-family: 'ntregular', sans-serif;
    font-size: 24px
}
h22 {
  font-family: 'ntregular', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
h11 {
  font-family: 'ntregular', sans-serif;
  font-size: 40px;
  display: inline-block; 
  background: linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* padding-top: 40px; */
}
.banner_slide{
  padding: 0 80px;

}
img.ggez {
  max-width: 100%;
}
.carousel-inner1{
  position: relative;
    overflow: hidden;
    width: 100%;
}
.lab1 {
  font-size: 13px;
  color: #000;
}
.form-label{
  font-size: 16px;
    font-weight: 600;
}
.banner_main {
  /* background: url('../banner.png'); */
  background-image: url(../images/banner.png);
  padding: 100px 0px 0px 0px;
  /* padding: 300px 0px 0px 0px; */
  background-size: auto 78%;
  background-repeat: no-repeat;
  /* min-height: 1150px; */
  min-height: 750px;
  background-position: right top;
  background-color: #fff;
}

.text-bg {
  margin-top: 70px;
  text-align: left;
  float: right;
  max-width: 530px;
  width: 100%;
}

.text-bg h1 {
  color: #000;
  font-size: 75px;
  line-height: 70px;
  padding-bottom: 45px;
  font-weight: bold;
}

.text-bg span {
  color: #222222;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 30px;
  display: block;
}
section.banner_main{
  padding-top: 2em;
}
h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h7 {
    font-family: 'ntbold', sans-serif;
    font-size: 38px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #ffffff;
    font-family: 'ntregular', sans-serif;
    text-decoration: none!important;
    opacity: 1
}
h8 a {
    color: #ffffff;
    font-family: 'ntregular', sans-serif;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h8 a:hover {
    opacity: .8
}

/* ul, li, ol{
    
	margin:0px;
	padding:0px;
	list-style:none;
    color:#FFD100;
	font-size:24px;
	font-family: 'ntregular', sans-serif;
	line-height:1.80857;
} */
li::marker {
    color: #000;
  }
  
  
  .pros::marker {
    unicode-bidi: isolate;
    color: #ffbb00;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 50px ;
    text-align: start ;
    text-align-last: start ;
}




a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}


html, body{ height: 100%; }

/*------------------------------------------------------------------
   	Preloader
-------------------------------------------------------------------*/

 #mhead{
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	text-align: center; 
	font-family: ntregular;
	position: fixed;
	top: 0px;
	width: 100%;
	margin-bottom: 50px;
	margin-left: -10px;
} 

#loader  {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #fefefe;
     z-index: 9999;
    height: 100%;
    
 }

#status  {
     width: 200px;
     height: 200px;
     position: absolute;
     left: 50%;
     top: 50%;
     background-image: url(../images/Ani.gif);
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px;
 }


/*------------------------------------------------------------------
   	Scrollup
-------------------------------------------------------------------*/
.scrollup{
	width:40px;
	height:40px;			
	text-indent:-9999px;
	opacity:0.3;
	position:fixed;
	bottom:20px;
	right:40px;
	display:none;			
	background:url(../images/icon_top.png) no-repeat;
}

.scrollup:hover{
	opacity:0.8;
}

/*------------------------------------------------------------------
    HEADER AREA
-------------------------------------------------------------------*/

#site-header{
	
}
#header{}
#headercontact{
  background-color: #202020;
}
.logo{
	float:left;
}
.header-block-top{
	position: absolute;
    z-index: 11;
    width: 100%;
    top: 0;
    left: 0;
}

.main-menu{}
.header-block-top .navbar-brand {
    margin: 0 !important;
    padding: 15px 0 15px;
    display: inline-block;
    line-height: normal;
    font-size: 100%;
    height: 100%;
}
.main-menu .navbar-default{
	background-color:transparent;
}
.main-menu .navbar{
	min-height:inherit;
	border-radius:0px;
	border:none;
	margin:0px;
}
.main-menu nav .navbar-header .navbar-brand{
	height:inherit;
}
.main-menu .navbar-default .navbar-nav li a{
	color:#545859;
}
.main-menu nav li a{
	padding: 43px 0px 15px;
	margin: 0 14px;
	color: #fff;
	font-family: 'ntregular', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.6px;
	position:relative;
	-webkit-transition: color 0.4s;
    transition: color 0.4s;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
}

.main-menu nav li a::after,  .main-menu nav li a::before{
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* .main-menu nav li a::after{
  background: #ffffff;
} */

/* .main-menu nav li a::before {
    background: #FFD004;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
} */

.main-menu nav li.active a::before {
	-webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.main-menu nav li.active a::after, .main-menu nav li.active a::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.main-menu nav li a:hover::before, .main-menu nav li a:focus::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/* .main-menu .navbar-default .navbar-nav .active a{
	
    color: #FFD004; 
    font-weight: bold;
} */

.fixed-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    transition: 0.5s;
    padding: 10px 0 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.fixed-menu .navbar-brand{
	padding: 10px 0 10px;
}

.fixed-menu .navbar-brand>img {
    max-width: 90px;
}

.fixed-menu .main-menu nav li a{
    padding: 32px 0px 10px 0;
}

/*------------------------------------------------------------------
    BANNER AREA
-------------------------------------------------------------------*/



.banner .container, .banner .banner-static, .banner .col-lg-12 {
    height: 100%;
}
.banner-text {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.banner-cell {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
.banner-text h1 {
	font-family: 'ntregular';
    letter-spacing: 2.7px;
    position: relative;
    display: inline-block;
	font-size: 74px;
    line-height: 100px;
	color:#fff;
	padding-bottom: 0px;
	padding-top:100px;
}

.banner-text h2 {
	font-family: 'ntregular';
    letter-spacing: 2.7px;
    position: relative;
	font-size: 37px;
    line-height: 100px;
	padding-bottom:25px;
}
.banner-text p{
	font-family: 'ntregular', sans-serif;
	font-size:18px;
	color:#ccc;
	padding-bottom:35px;
	margin:0px;
}

.book-btn a{
	/*background:#FFD004;*/
	color:#fff;
	min-width: 219px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
	text-transform:uppercase;
	font-size:18px;
}
.book-btn a:hover{
	border:3px solid #FFD004;
	background:none;
}
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #FFD004;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}


.banner-cell .mouse {
  position: relative;
  width: calc(16px * 2);
  height: calc(31px * 2);
  margin: 60px auto 20px;
  background: none;
  border: 2px solid white;
  border-radius: calc(16px * 2);
  z-index: 1;
}
.banner-cell .mouse:after {
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: calc(4px * 2);
  height: calc(4px * 2);
  background: none;
  border: 2px solid white;
  border-radius: 100%;
  -webkit-animation-name: scrollWheel;
          animation-name: scrollWheel;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  will-change: transform;
}

@-webkit-keyframes scrollWheel {
  from {
    -webkit-transform: translate(-50%, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate(-50%, 0);
    transform: translate3d(-50%, 0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, 20px);
    -webkit-transform: translate3d(-50%, 20px, 0);
    transform: translate(-50%, 20px);
    transform: translate3d(-50%, 20px, 0);
    opacity: 0;
  }
  
}


	
/*------------------------------------------------------------------
    ABOUT AREA
-------------------------------------------------------------------*/

.about-main{
	background:#E6E6E6;
}
.pad-top-100{
    padding-top: 90px;
}
.pad-bottom-100{
	padding-bottom: 90px;
}

.pad-top-70{
	padding-top: 70px;
}
.pad-bottom-70{
	padding-bottom: 70px;
}

.block-title{
	font-size:52px;
	font-family: 'ntregular';
	font-weight: bold;
}

.about-images {
    text-align: center;
    position: relative;
}

.about-main h3{
	font-family: 'ntregular', sans-serif;
    font-weight: 600;
	font-size:20px;
}

.left-btn{
	padding-top:10px;
}


.about-images img {
    border: 10px solid #f1f1f1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}

.about-images img {
    border: 10px solid #f1f1f1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
	max-width: 100%;
}

.about-inset {
    position: absolute;
    top: 0;
    right: 0;
}


/*------------------------------------------------------------------
    SPECIAL-MENU AREA
-------------------------------------------------------------------*/
.special-menu{
	background:url(../img/bg04.jpg) no-repeat center;
	background-attachment:fixed;
	background-size:cover;
	position:relative;
}

.special-menu:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    position: absolute;
    top: 0;
    left: 0;
}

.title-caption {
    letter-spacing: 0.16px;
    padding: 20px 120px;
	color:#fff;
	font-size: 18px;
}
.color-white {
    color: #fff;
}

#owl-demo .item{
  margin: 15px;
  position:relative;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.special-box .owl-theme .owl-controls{
	margin:0px;
}

.item-type-zoom{
	border:4px solid #fff;
}
.item-type-zoom .item-hover {
    z-index: 5;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
}

.item-type-zoom .item-info {
    z-index: 10;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    z-index: 5;
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    -ms-transform: scale(0,0);
    transform: scale(0,0);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
	bottom:0px;
}

.item-type-zoom .item-info .headline {
    /* font-size: 18px;
    width: 75%;
    margin: 0 auto;
    border: 4px solid #ffffff;
    padding: 10px; */
    font-size: 18px;
    width: 75%;
    margin: 70px;
    /* border: 4px solid #ffffff; */
    margin-bottom: 0px;
}

.item-type-zoom .item-info .line {
    height: 1px;
    width: 60%;
    margin: 15px auto 10px auto;
    background-color: #ffffff;
}

.item-type-zoom .item-info .dit-line {
    font-size: 14px;
    font-style: italic;
}

.item-hover, .item-hover {
	position: absolute;
    top: 0;
    left: 0;
	height:100%;
	width:100%;
}
.item-type-zoom .item-hover:hover {
    opacity: 1;	
}

.item-type-zoom .item-hover:hover:before{
	content:"";
	position:absolute;
	height:100%;
	width:100%;
	background:rgba(231, 91, 30, 0.5);
	top:0px;
	left:0px;
}

.item-type-zoom .item-hover:hover .item-info {
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
}

.special-box{
	padding-bottom:40px;
}

.special-box .owl-theme .owl-controls .owl-page.active span{
	/*background:#FFD004;*/
	height: 16px;
	width: 16px;
}
.special-box .owl-theme .owl-controls .owl-page span{
	border:2px solid #fff;
	opacity: 1;
	background:#202020;
	height: 16px;
	width: 16px;
}

/*------------------------------------------------------------------
    MENU AREA
-------------------------------------------------------------------*/


.menu-main{
	
}

.menu-main .title-caption{
	color:#666;
}
.tab-title-menu {
	text-align:center;
}

.tab-title-menu h2{
	border-bottom:1px solid #666;
	display: inline-block;
	padding-top: 10px;
}

.tab-title-menu p{
	font-size:35px;
	padding-top:0px;
}
.tab-title-menu p {
	color:#000;
}

.tab-menu{
	background: #f5f5f5;
    padding: 2px 0px;
	box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.05);
}

.offer-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.offer-item img {
    width: 20%;
    float: left;
    padding: 10px;
    background: #fff;
	border-radius: 50%;
}

.offer-item div {
    width: 60%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.offer-item .offer-price {
    position: absolute;
    right: 15px;
    top: 50%;
    display: block;
    width: 92px;
    height: 92px;
    line-height: 92px;
    -moz-border-radius: 92px;
    -webkit-border-radius: 92px;
    border-radius: 92px;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    font-size: 13px;
    font-family: 'ntregular', sans-serif;
    text-align: center;
    letter-spacing: .5px;
}

.offer-item div h3 {
    font-size: 20px;
    margin: 9px 0 0px;
    font-family: 'ntregular';
    font-weight: 400;
    letter-spacing: .5px;
}

.offer-item div p {
    color: #6b6b6b;
}


.tab-menu .slick-prev.slick-arrow {
	display:none;
}
.tab-menu .slider.slider-single{
	border-top:1px solid #ccc;
	padding-top:25px;
}

.tab-menu .slick-initialized .slick-slide{
	outline:none;
}

.tab-menu .is-active h2{
	color:#fff;
	border-bottom: 1px solid #fff;
}
.tab-menu .is-active p{
	color:#fff;
}

/*------------------------------------------------------------------
    TEAM AREA
-------------------------------------------------------------------*/

.team-main{
	background:url(../images/team_bg.jpg) no-repeat center;
	background-attachment:fixed;
	background-size:cover;
	position:relative;
}

.team-main:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    position: absolute;
    top: 0;
    left: 0;
}

.team-main .block-title{
	color:#fff;
}

.sf-team{
	float: left;
    width: 100%;
}
.sf-team .thumb {
    float: left;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.sf-team .text-col {
    font-family: 'ntregular', sans-serif;
    float: left;
    width: 100%;
    padding: 25px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
	background:#fff;
}

.sf-team .thumb a img{
	width:100%;
}

.sf-team:hover .text-col{
	border: 1px solid rgba(0,0,0,0);
	transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}
.sf-team:hover .thumb img {
    opacity: 0.6;
	transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;	
}

.text-col h3{
	font-family: 'ntregular';
	font-size:28px;
}

.sf-team:hover .team-social {
    border-color: #fff;
	transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.team-social {
    display: block;
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0;
    list-style: none;
    border-top: 1px solid;
}

.team-social li {
    display: inline-block;
    padding: 0 4px;
}

.sf-team:hover .team-social li a {
    border: 1px solid rgba(0,0,0,0);
    background: #fff;
    color: #222;
	transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.team-social li a {
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #ccc;
    border-radius: 100%;
    color: #222;
    font-size: 16px;
    display: block;
}

.sf-team:hover .text-col h3, .sf-team:hover .text-col p {
    color: #fff;
	transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

/*------------------------------------------------------------------
    GALLERY AREA
-------------------------------------------------------------------*/

.gallery-main{
	
}

.gallery-main .title-caption{
	color: #666;
}

/* new gallery */

.gal-container{
	padding: 12px;
}
.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: 350px;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e003";
	font-family: 'ntregular';
	opacity: 0;
	background-color: #ffd004(231, 91, 30, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}
.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}
.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
	color:#fff;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}


/*------------------------------------------------------------------
    BLOG AREA
-------------------------------------------------------------------*/

.blog-main{
	background:url(../images/blog_bg.jpg) no-repeat center;
	background-attachment:fixed;
	background-size:cover;
	position:relative;
}

.blog-main::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    position: absolute;
    top: 0;
    left: 0;
}

.blog-main h2{
	color:#ffffff;
}

.blog-box{
	padding-top:20px;
}

.blog-block{
	background:#FFF;
	overflow: auto;
	margin-bottom: 20px;
}

.blog-img-box{
	float:left;
	width:50%;
	position: relative;
}

.blog-img-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 0;
	transition: .3s all;
	text-align:center;
}

.blog-img-box:hover img{
	-webkit-filter: blur(2px);
	filter: blur(2px);
}
.blog-img-box:hover .overlay {
    opacity: 1;
}

.blog-img-box img{
	width:100%;
}

.overlay i{
	margin-top: 42%;
	border: 1px solid #fff;
	padding: 15px;
	border-radius: 50%;
	color:#ffffff;
	font-size:18px;
}


.blog-dit {
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    padding: 65px 2% 0 2%;
}

.blog-dit p{
	font-size: 12px;
	color: #ccc;
}
.blog-dit h2{
	font-size: 22px;
    line-height: 20px;
    color: #000;
	font-weight:500;
    margin-bottom: 20px;
    padding: 10px 30px 13px 30px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.blog-dit h5{
	font-size: 11px;
	color: #ccc;
}

.blog-btn-v{
	clear:both;
	padding-top:30px;
	text-align:center;
}

.blog-btn-v a {
    color: #fff;
    min-width: 219px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

.blog-btn-v a:hover {
    background: none;
}


/*------------------------------------------------------------------
    PRICING AREA
-------------------------------------------------------------------*/



.pricing-main h2{
	font-family: 'ntregular';
	padding-bottom:30px;
}

.pricing-main p{
	letter-spacing: 0.16px;
	padding: 20px 120px;
	color: #666;
	font-size: 18px;
	text-align:center;
    font-family: 'ntregular', sans-serif;
}

.panel-pricing-in{
	clear:both;
}
.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}

.pricing-main .panel-heading h3{
	font-family: 'ntregular', sans-serif;
	padding:15px 0px;
	font-weight: bold;
	text-transform: uppercase;
	color:#ffffff;
}

.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #202020;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  font-family: 'ntregular', sans-serif;
  padding: 10px 15px;
  font-size: 18px;
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}

.panel-body  p{
    font-family: 'ntregular', sans-serif;
	padding: 0px;
	margin: 0;
}
.panel-body  p strong{
	font-family: 'ntregular', sans-serif;
	font-weight:700;
	color: #000;
	font-size: 22px;
}

.panel-body  p strong span{
	color: #FFD004;
}
.panel-pricing{
	border:1px solid #FFD004;
}
.panel-pricing .panel-heading{
	background: #FFD004;
}
/* .pricing-main .panel-footer .btn-block{
	border-radius:0px;
} */
.pricing-main .panel-footer a{
	background: #FFD004;
	border: 3px solid #FFD004;
	color:#fff;
	padding: 14px 16px;
}
.pricing-main .panel-footer a:hover{
	background:none;
	color:#202020;
	/* border: 3px solid #FFD004; */
}

.panel-pricing{
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.panel-pricing:hover{
	margin-top: -8px;
}

.panel-pricing:hover


/*------------------------------------------------------------------
    RESERVATIONS AREA
-------------------------------------------------------------------*/

.reservations-main{
	
}

.form-reservations-box{
	width:70%;
	margin:0 auto;
}

.reservations-main h4{
	text-align:center;
	font-weight: 500;
	font-family: 'ntregular', sans-serif;
	font-size: 22px;
    padding-top: 25px;
}

.reservations-main p{
	text-align:center;
	font-family: 'ntregular', sans-serif;
	font-size:16px;
}

.reservations-box{
	padding-top:30px;
}

.form-box{
	margin-bottom:20px;
	min-height: 53px;
}

.form-box input{
	width:100%;
	border:2px dotted #ccc;
	background:#f5f5f5;
	color:#202020;
	padding:12px;
	text-transform:capitalize;
	border-radius: 4px;
	opacity: 1;
	min-height:54px;
}

.form-box select{
	width:100%;
	border:2px dotted #ccc;
	background:#f5f5f5;
	color:#202020;
	padding: 12px;
	text-transform:capitalize;
	border-radius: 4px;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.form-box .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width:100%;
}
.form-control:focus {
  border-color: #5d5d5daf !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px #1919195e;
}
.form-box .bootstrap-select button{
	width:100%;
	border:2px dotted #ccc;
	background:#f5f5f5;
	color:#202020 !important;
	padding: 15px;
	text-transform:capitalize;
	border-radius: 4px;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.form-box select option{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}

::-webkit-input-placeholder { /* Chrome */
  color:#202020;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#202020;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#202020;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color:#202020;
  opacity: 1;
}

.reserve-book-btn{
	padding-top:30px;	
}

.reserve-book-btn button a{
	color: #fff;
}

.reserve-book-btn button:hover {
    background: none;
    color: #202020;
}

.reserve-book-btn button  {
    color: #fff;
    min-width: 219px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

.reserve-book-btn button:hover a{
	background:none;
	border:none;
}

textarea:focus, input:focus, select:focus, .bootstrap-select .dropdown-toggle:focus{
    outline: none !important;
}

/*------------------------------------------------------------------
    FOOTER AREA
-------------------------------------------------------------------*/

.footer-main{}
.footer-news{
	/* background:url(../images/newsletter-bg.jpg) no-repeat center; */
	background-attachment:fixed;
	background-size:cover;
	position:relative;
}

.footer-news::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    position: absolute;
    top: 0;
    left: 0;
}

.ft-title.color-white {
    color: #fff;
}
.ft-title {
    letter-spacing: 0.96px;
    margin-bottom: 22px;
    font-family: 'ntregular';
	font-size: 52px;
}

.footer-news p {
    margin-bottom: 40px;
    font-size: 24px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
	text-align:center;
}

.footer-news form{
	max-width:650px;
	margin: 0 auto;
	text-align:center;
	width:100%;
	position:relative;
}

.footer-news form input{
	width:100%;
	border:2px dotted #ccc;
	background:#f5f5f5;
	color:#202020;
	padding:12px;
	text-transform:capitalize;
	border-radius: 4px;
	opacity: 1;
	min-height:53px;
}
.footer-news form a{
	border:2px dotted #ccc;
	padding: 0px 19px;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
	border-radius: 4px;
    min-width: inherit;
    height: 53px;
    line-height: 51px;
	color:#ffffff;
}

.footer-news form a:hover{
	background:#f5f5f5;
	color:#202020;
}

/* .footer-box{
	background:#202020;
} */

/*.footer-in-main{
	max-width:960px;
	margin:0 auto;
	width:100%;
}*/

.footer-logo{
	padding-bottom:40px;
}

.footer-socials {
    margin: 10px 0;
    line-height: 30px;
    padding: 4px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.socials-box {
    display: table-cell;
    vertical-align: middle;
    margin: 1px 0px;
    padding: 4px;
}
/* .footer-box {
	background-image:-moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%), url(..images/footer_background.jpg);
	background-image:-webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%), url(../images/footer_background.jpg);
	background-image:radial-gradient(ellipse at center, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%), url(../images/footer_background.jpg);
	background-color:#111;background-position:center;background-repeat:no-repeat;background-size:cover
	} */
.socials-box li {
    display: inline-block;
    opacity: 1;
    margin-right: 7px;
}
.footer-box .social-circle-border{
	background-color: transparent;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.social-circle-border {
    font-size: 20px;
    line-height: 23px;
    margin-right: 2px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: transparent;
    color: #6f6f6f;
    text-align: center;
}


.footer-box-a h3{ /* แก้ */
	font-size:27px;
    font-family: 'ntregular';
    font-weight: bold;
}
.footer-box-a p{
	font-size: 20px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
	line-height: 25px;
}

.footer-box-a ul li{ /* แก้ */
	line-height:30px;
  font-size: 20px;
}
.footer-box-b h3{ /* แก้ */
	font-size:27px;
    font-family: 'ntregular';
    font-weight: bold;
}
.footer-box-b p{/* แก้ */
	font-size: 20px;
	font-family: 'ntregular', sans-serif;
	color:#000000;
}
.footer-box-b ul li{ /* แก้ */
	line-height:30px;
  font-size: 20px;
}
.footer-box-b ul li a{  /* แก้ */
	color:#000000;
  font-size: 20px;
}

.footer-box-b ul li a:hover{
	padding-left:24px;
}	
/* ================================================= */
.footer-box-b-b h3{
	font-size:27px;
    font-family: 'ntregular';
    color: #000;
}
.footer-box-b-b p{ /* แก้ */
	font-size: 20px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
  
}
.footer-box-b-b ul li{ /* แก้ */
	line-height:30px;
  font-size: 20px;
}
.footer-box-b-b ul li a{
	color:#000000;
}

.footer-box-b-b ul li a:hover{
	padding-left:24px;
}	
.footer-box-b-b h3{
	color: #000000;
}
.footer-box-b-b ul li a:hover{
	color: #6a6a6a;
}
/* ================================================= */
.footer-box-c h3{ /* แก้ */
	font-size:27px;
    font-family: 'ntregular';
    font-weight: bold;
}
.footer-box-c p{/* แก้ */
	font-size: 20px;
	font-family: 'ntregular', sans-serif;
	color:#000000;
  font-weight: bold;
}


.footer-box-c p i{ /* แก้ */
	font-size: 20px;
    position: relative;
    top: 12px;
    float: left;
    min-width: 20px;
    text-align: center;
}

.footer-box-c p span{
	display: table;
    padding-left: 12px;
	padding-top:1px;
}

.footer-box-c p a{
	color:#000000;
}



.footer-box-d h3{
	font-size:24px;
    font-family: 'ntregular';
}
.footer-box-d p{
	font-size: 24px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
}

.footer-box-d ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.footer-box-d ul li{
	display: inline-block;
    width: 100%;
	padding-bottom:12px;
}
.footer-box-d ul li p{
	padding:0px;
	margin:0px;
}
.footer-box-d ul li span{
	color: #666;
}

/*------------------------------------------------------------------
    COPYRIGHT AREA
-------------------------------------------------------------------*/

.copyright-main{ /* แก้ */
	/* border-top: 2px dotted #fff; */
	text-align:center;
	padding-top:10px;
	/* margin-top:70px; */
	/* padding-bottom:25px; */
}

.copyright-main .copy-title{
	letter-spacing: 1px;
	color: #000;
	font-family: 'ntregular', sans-serif;
	font-size:14px;
	padding-bottom:0px;
}
/*------------------------------------------------------------------
    COLOR SWITCHER AREA
-------------------------------------------------------------------*/

/*--- color switcher ---*/



#color-panel{
	position: fixed;
	width:180px;
	height: auto;
	top:150px;
	/*min-height: 200px;*/
	text-align:left;
	border:1px solid rgba(100,100,100,0.55);
	z-index: 11;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: 0px 1px 4px rgba(0,0,0, 0.45);
}



.open-color-panel{
	right:-1px;
}

#color-panel .segment{
	width:100%;
	padding:15px 10px 15px 0;
	border:1px solid rgba(100,100,100,0.55);
	padding:15px 25px;
	background:rgba(50,50,50,0.95);
}

#color-panel a.panel-button{
	position: absolute;
	width:50px;
	height: 50px;
	left:-50px;
	top:30px;
	text-align: center;
	font-size:18px;
	line-height: 47px;
	cursor: pointer;
	border:none;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	color:#d1d1d1;
	background:rgba(100,100,100,0.85);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#color-panel a.panel-button i{
	padding:7px;
}

#color-panel a.panel-button:hover{
	color:#35cc75;
}	

#color-panel h4{
	margin:3px auto 15px;
	padding-top:0;
	padding-bottom:0;
	color:#ffffff;
}


#color-panel .segment a.switcher{
	width:24px;
	height:35px;
	display: inline-block;
	margin-right:3px;
	margin-top:5px;
	border:1px solid #efefef;
	cursor: pointer;
}

.orange-bg{
	background: #fed400;
}

.strong-blue-bg{
	background: #1E69B8;
}

.moderate-green-bg{
	background: #8dc63f;
}

.vivid-yellow-bg{
	background: #fdcb03;
}

.menu-main1{
    background-color: #f7f7f9;
    /* padding-bottom: 10px; */
    padding-top: 0;
}
/*------------------------------------------------------------------
    Product Sildes
-------------------------------------------------------------------*/
.abs,
h2:after,
/* h7:after, */
.cards .card figcaption,
.cards .card:after,
.news .card figcaption,
.news .card:after,
.news .article figcaption {
  position: absolute;
  content: '';
  z-index: 1;
  bottom: 20%;
  margin-bottom: -2px;
  height: 2px;
  left: 0;
  right: 0;
  background: #373d47;
}
.rel,
h2,
h7,
h2 strong,
.cards .card,
.cards-1,
.news .card,
.news .article {
  position: relative;
}
.fix {
  position: fixed;
}
.dfix {
  display: inline;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.df,
.cards,
.cards-1,
.news {
  display: flex;
}
.dif {
  display: inline-flex;
}
.dg {
  display: grid;
}
.dig {
  display: inline-grid;
}
.vm,
h2,
h7,
h2 strong,
h2 span {
  vertical-align: middle;
}
body {
  background: #fff;
  font-family: 'ntregular';
}
.wrapper {
  padding: 15px;
}
h2 {
  padding: 10px;
  padding-left: 25px;
  color: rgb(255, 255, 255);
  margin: 0;
}
h7 {
    padding: 10px;
    padding-left: 25px;
    color: rgb(255, 255, 255);
    margin: 0;
  }
h2 strong {
  z-index: 2;
  background: #FFD004;
  padding: 4px 8px;
}
h2 span {
  font-size: 0.7em;
  color: #aaa;
  margin-left: 10px;
}
/* h2:after {
  content: '';
  z-index: 1;
  bottom: 50%;
  margin-bottom: -2px;
  height: 2px;
  left: 0;
  right: 0;
  background: #373d47;
} */
.cards,
.news {
  /* flex-flow: row wrap; */
  justify-content: center;
}
.cards-1 {
  margin: 20px;
  width: 80px;
  height: 270px;
}
.cards .card,
.news .card {
  margin: 20px;
/*   width: 100%; */
  width: 180px;
  height: 270px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
}
.cards .card img,
.news .card img {
  width: 100%;
  min-height: 100%;
}
.cards .card figcaption,
.news .card figcaption {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  background: none;
  color: #fff;
  transform: translateY(100%);
  transition: 0.3s;
}
.cards .card:after,
.news .card:after {
  content: '';
  z-index: 10;
  width: 100%;
  /* width: 200% */
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.5));
  transition: 0.3s;
}
.cards .card:hover,
.news .card:hover,
.cards .card:focus,
.news .card:focus,
.cards .card:active,
.news .card:active {
  box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
}
.cards .card:hover figcaption,
.news .card:hover figcaption,
.cards .card:focus figcaption,
.news .card:focus figcaption,
.cards .card:active figcaption,
.news .card:active figcaption {
  transform: none;
}
.cards .card:hover:after,
.news .card:hover:after,
.cards .card:focus:after,
.news .card:focus:after,
.cards .card:active:after,
.news .card:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}
.news .article {
  overflow: hidden;
  width: 350px;
  height: 235px;
  margin: 20px;
}
.news .article img {
  width: 100%;
  min-height: 100%;
  transition: 0.2s;
}
.news .article figcaption {
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(51,51,51,0.3);
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background: rgba(6,18,53,0.6);
  opacity: 0;
  transform: scale(1.15);
  transition: 0.2s;
}
.news .article figcaption h3 {
  color: #3792e3;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}
.news .article:hover img,
.news .article:focus img,
.news .article:active img {
  filter: blur(3px);
  transform: scale(0.97);
}
.news .article:hover figcaption,
.news .article:focus figcaption,
.news .article:active figcaption {
  opacity: 1;
  transform: none;
}
/*------------------------------------------------------------------
    Modal 
-------------------------------------------------------------------*/
/* .pros::marker{
    content: "✎";
    text-indent: 50px ; 
} */


.button {
    background-color: #ffea00; /* Green */
    border: none;
    color: white;
    font-family: 'ntregular', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: rgba(255, 255, 255, 0); 
    color: black; 
    border: 2px solid #ffea00;
    font-family: 'ntregular', sans-serif;
  }
  
  .button1:hover {
    background-color: #ffea00;
    color: rgb(255, 255, 255);
    font-family: 'ntregular', sans-serif;
  }

  .button11 {
    background-color: rgba(255, 255, 255, 0); 
    color: black; 
    border: 2px solid #ffea00;
    font-family: 'ntregular', sans-serif;
    font-size: 24px;
    line-height: 1.3;
  }
  
  .button11:hover {
    background-color: #ffea00;
    color: rgb(0, 0, 0);
    font-family: 'ntregular', sans-serif;
  }
  img.tuckz{
    max-width: 100%;
  }
  .text-bg h13 {
    color: #fdd100;
    font-size: 75px;
    line-height: 70px;
    padding-bottom: 45px;
    font-weight: bold;
}
 /*---------------------
  Featured
-----------------------*/

.featured {
	padding-top: 80px;
	padding-bottom: 40px;
}

.featured__controls {
	text-align: center;
	/* margin-bottom: 150px; */
}

.featured__controls ul li {
	list-style: none;
	font-size: 28px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 25px;
	position: relative;
	cursor: pointer;
    font-family: 'ntregular', sans-serif;
}

.featured__controls ul li.active:after {
	opacity: 1;
}

.featured__controls ul li:after {
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #ffdd00;
	content: "";
	opacity: 0;
}

.featured__controls ul li:last-child {
	margin-right: 0;
}

.featured__item {
	margin-bottom: 50px;
  
}

.featured__item:hover .featured__item__pic .featured__item__pic__hover {
	bottom: 20px;
}

.featured__item__pic {
	height: 320px;
  width: 230px;
	position: relative;
	overflow: hidden;
	background-position: center center;
  
}

.featured__item__pic__hover {
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	text-align: center;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li {
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.featured__item__pic__hover li:last-child {
	margin-right: 0;
}

.featured__item__pic__hover li:hover a {
	background: #ffc800;
	border-color: #ffc800;
}

.featured__item__pic__hover li:hover a i {
	color: #ffffff;
	transform: rotate(360deg);
}

.featured__item__pic__hover li a {
	font-size: 16px;
	color: #1c1c1c;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li a i {
	position: relative;
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.featured__item__text {
	text-align: center;
	padding-top: 15px;
}

.featured__item__text h6 {
	margin-bottom: 10px;
}

.featured__item__text  h8 {
	margin-bottom: 10px;
}

.featured__item__text h6 a {
	color: #252525;
}
.featured__item__text  h8 a {
	color: #252525;
}

.featured__item__text h5 {
	color: #252525;
	font-weight: 700;
}
/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 0px;
	text-align: center;
    font-family: 'ntregular', sans-serif;
}

.section-title h7 {
	color: #1c1c1c;
	font-weight: 700;
	position: relative;
    font-family: 'ntregular', sans-serif;
}

.section-title h7:after {
	position: absolute;
	left: 0;
	bottom: -10px;
	right: 0;
	height: 4px;
	width: 80px;
	/* background: #ffc800; */
	content: "";
	margin: 0 auto;
    font-family: 'ntregular', sans-serif;
}

  

  /* ==============================[button]================================================ */
  .btn-secondary { 
    color:#333; 
    position: relative;
  }

  .btn 
{ 
    font-size:16px; 
    padding: 15px; 
    margin-inline: 25px;
    width: 150px;
    height: 40px;
    position: relative; 
    box-shadow: 0 5px 5px 0 rgb(172,37,99,.2); 
    background: rgb(253 197 0);
    /* background: linear-gradient(90deg, rgba(160, 117, 43,1) 0%, rgb(218, 174, 29) 50%, rgba(237,133,83,1) 100%); */
    border-radius: 50px; 
    border:none; 
    text-align: center;
    line-height: 0.6;
    color: #fff;
    font-family: 'ntregular', sans-serif;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 20px;
}
.btn > span 
{ 
    font-size: 1.5em; 
    padding: .3em 2em; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    position: relative;
}
.btn1 
{ 
    font-size:16px; 
    padding: 15px; 
    margin-inline: 25px;
    width: 150px;
    height: 40px;
    position: relative; 
    box-shadow: 0 5px 5px 0 rgb(172,37,99,.2); 
    background: rgb(160 160 159);
    /* background: linear-gradient(90deg, rgba(160, 117, 43,1) 0%, rgb(218, 174, 29) 50%, rgba(237,133,83,1) 100%); */
    border-radius: 50px; 
    border:none; 
    text-align: center;
    line-height: 0.6;
    color: #fff;
    font-family: 'ntregular', sans-serif;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 20px;
}
.btn1 > span 
{ 
    font-size: 1.5em; 
    padding: .3em 2em; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    position: relative;
}
.btn-sm > span {font-size: 1.2em; padding: .6em 2em;}
.btn-lg > span {font-size: 1.8em; padding: .7em 2em;}
.btn-secondary { color:#333; position: relative;}
.btn-secondary:before { content: ""; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px);border-radius: 50px; left: 1px; top: 1px; background-color: #fff; }
.btn-secondary.btn-icon svg,.btn-icon img {fill:#333;}
.btn.focus, .btn:focus {outline: 0;box-shadow:none;}
.btn:hover {  background:#ddb61b; color:#fff;}
.btn:hover:before { content: ""; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px);border-radius: 50px; left: 1px; top: 1px;  }
.box-content-button .btn span { color:#fff; background: none;-webkit-text-fill-color:inherit;}

div#home{
  padding-bottom: 100px;
}
div#home1{
  padding-bottom: 30px;
}
img.shows{
  width: 20%;
  margin-left: 40%;
  border-radius: 20px;
}

/* ==========================================[Product Item]=============================================================== */
.u-clearfix.u-sheet.u-valign-middle.u-sheet-1.padding-bottom-40{
  padding-bottom: 40px;
}
.u-align-center {
  /* text-align: center; */
}
@media (min-width: 1400px) {
  .u-align-center-xxl {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-align-center-xl {
    text-align: center;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-align-center-xl {
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-align-center-lg {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-align-center-md {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-align-center-sm {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .u-align-center-xs {
    text-align: center;
  }
}
.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}
.u-clearfix:after {
  clear: both;
}
.u-overlap.u-overlap-transparent .u-header,
.u-image,
.u-gradient {
  color: #111111;
}
.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > h2:not(.u-subtitle),
        .u-gradient > .u-container-layout > h2:not(.u-subtitle),
        .u-image:not(.u-shading) > .u-container-layout > h2:not(.u-subtitle),
        h2:not(.u-subtitle)
        {
        color: #ffbb00;
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a,
        .u-gradient > .u-container-layout > a,
        .u-image:not(.u-shading) > .u-container-layout > a,
        a
        {
        color: #222589;
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a:hover,
        .u-gradient > .u-container-layout > a:hover,
        .u-image:not(.u-shading) > .u-container-layout > a:hover,
        a:hover
        {
        color: #23527c;
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn,
        .u-gradient > .u-container-layout > .u-btn,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn,
        .u-btn
        {
        background-color: #222589;
        color: #ffffff;
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:hover,
        .u-gradient > .u-container-layout > .u-btn:hover,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn:hover,
        .u-btn:hover
        {
        background-color: #eace09;
        color: #e6e6e6;
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:focus,
        .u-gradient > .u-container-layout > .u-btn:focus,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn:focus,
        .u-btn:focus
        {
        background-color: #1f217b;
        color: #e6e6e6;
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > .u-btn:active,
        .u-gradient > .u-container-layout > .u-btn:active,
        .u-image:not(.u-shading) > .u-container-layout > .u-btn:active,
        .u-btn:active
        {
        background-color: #1f217b;
        color: #e6e6e6;
        }
        .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > blockquote,
        .u-gradient > .u-container-layout > blockquote,
        .u-image:not(.u-shading) > .u-container-layout > blockquote,
        blockquote
        {
        border-color: #222589;
        }
        .u-sheet > *,
.u-section-row > * {
  position: relative;
}
.u-sheet {
  position: relative;
  margin: 0 auto;
}
.u-xl-mode .u-sheet {
  width: var(--theme-sheet-width-xl);
}
.u-xxl-mode .u-sheet {
  width: var(--theme-sheet-width-xxl);
}
@media (min-width: 1400px) {
  .u-sheet {
    width: var(--theme-sheet-width-xxl) !important;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-sheet {
    width: var(--theme-sheet-width-xl) !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-sheet {
    width: var(--theme-sheet-width-xl) !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-sheet {
    width: var(--theme-sheet-width-lg) !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-sheet {
    width: var(--theme-sheet-width-md) !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-sheet {
    width: var(--theme-sheet-width-sm) !important;
  }
}
@media (max-width: 575px) {
  .u-sheet {
    width: var(--theme-sheet-width-xs) !important;
  }
}
.u-body .u-sheet .u-sheet {
  width: 100% !important;
}
.u-valign-middle,
.u-valign-top,
.u-valign-bottom {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .u-valign-middle-xxl,
  .u-valign-top-xxl,
  .u-valign-bottom-xxl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-valign-middle-xl,
  .u-xl-mode .u-valign-top-xl,
  .u-xl-mode .u-valign-bottom-xl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-valign-middle-xl,
  .u-xxl-mode .u-valign-top-xl,
  .u-xxl-mode .u-valign-bottom-xl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-middle-lg,
  .u-valign-top-lg,
  .u-valign-bottom-lg {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-middle-md,
  .u-valign-top-md,
  .u-valign-bottom-md {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-middle-sm,
  .u-valign-top-sm,
  .u-valign-bottom-sm {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .u-valign-middle-xs,
  .u-valign-top-xs,
  .u-valign-bottom-xs {
    display: flex;
    flex-direction: column;
  }
}
.u-valign-middle > *,
.u-valign-top > *,
.u-valign-bottom > * {
  flex-shrink: 0;
}
.u-valign-middle {
  justify-content: center;
}
@media (min-width: 1400px) {
  .u-valign-middle-xxl {
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-valign-middle-xl {
    justify-content: center;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-valign-middle-xl {
    justify-content: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-middle-lg {
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-middle-md {
    justify-content: center;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-middle-sm {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .u-valign-middle-xs {
    justify-content: center;
  }
}
.u-header {
  background-image: none;
}

.u-header .u-sheet-1 {
  min-height: 80px;
}

.u-header .u-image-1 {
  width: 64px;
  height: 32px;
  margin: 22px auto 0 0;
}

.u-header .u-logo-image-1 {
  width: 100%;
  height: 100%;
}

.u-header .u-menu-1 {
  margin: -32px 0 22px auto;
}

.u-header .u-nav-1 {
  font-weight: 700;
  font-size: 1rem;
}

.u-header .u-nav-2 {
  font-size: 1.25rem;
}
@media (max-width: 1199px) {
  .u-header .u-menu-1 {
    width: auto;
  }

  .u-header .u-nav-1 {
    letter-spacing: normal;
  }
}
.u-list-control {
  display: flex;
  position: relative;
}
.u-list:not(.u-repeater),
.u-blog:not(.u-repeater),
.u-products:not(.u-repeater) {
  display: flex;
  flex-direction: column;
}
.u-list:not(.u-repeater) .u-repeater,
.u-blog:not(.u-repeater) .u-repeater,
.u-products:not(.u-repeater) .u-repeater {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.u-list:not(.u-repeater) .u-list-control,
.u-blog:not(.u-repeater) .u-list-control,
.u-products:not(.u-repeater) .u-list-control {
  flex: 0;
}

.u-section-4 {
  /* background-image: linear-gradient(#4d19a9, #222589); */
}

.u-section-4 .u-sheet-1 {
  min-height: 857px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-style: normal;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  margin: 25px auto 0;
}

.u-section-4 .u-list-1 {
  width: 976px;
  margin: 51px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 351px;
  grid-gap: 27px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 20px 40px;
}

.u-section-4 .u-image-1 {
  /* height: 228px; */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-text-3 {
  font-weight: bold;
  font-size: 20px;
  margin: 25px auto 0;
}

.u-section-4 .u-text-4 {
  /* margin-top: 20px; */
  margin-bottom: 0;
  font-size: 18px;
  margin-left: 0;
  line-height: 20px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 20px 40px;
}

.u-section-4 .u-image-2 {
  /* height: 228px; */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2.9rem;
  width: 200px
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-4 .u-text-6 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 20px 40px;
}

.u-section-4 .u-image-3 {
  /* height: 228px; */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 3rem;
  margin: 25px auto 0;
}

.u-section-4 .u-text-8 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-4 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.8;
  width: 412px;
  margin: 41px auto 60px;
}

.u-section-4 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
    min-height: 338px;
  }

  .u-section-4 .u-image-1 {
   /*  height: 218px; */
    /* margin-left: initial; */
  }

  .u-section-4 .u-image-2 {
    /* height: 218px; */
    /* margin-left: initial; */
  }

  .u-section-4 .u-image-3 {
    /* height: 218px; */
    /* margin-left: initial; */
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 777px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 255px;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 { /* Edit */
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto 0;
  }
  .pad-top-50{
    padding-top: 50px;
  }
  .u-section-4 .u-image-2 {/* Edit */
    /* height: 450px; */
    /* width: auto; */
   /*  margin-left: 120px; */
  }
  
  a.btn.btn-lg.btn-block.hvr-underline-from-center{ /* edit */
    margin: 0 auto 0;
  }
  a.btn1.btn-lg.btn-block.hvr-underline-from-center{ /* edit */
    margin: 12px auto 0;
    
  }
  h4.u-text.u-text-default.u-text-palette-1-base.u-text-3{ /* edit */
    margin: 0 auto 0;
  }
  p.u-text.u-text-palette-1-dark-2.u-text-4{/* edit */
    margin: 0 auto 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 255px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 414px;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 { /* Edit */
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto 0;
  }

  .u-section-4 .u-image-2 {/* Edit */
    height: 300px;
    /* width: auto; */
   /*  margin-left: 120px; */
  }
  img.u-expanded-width.u-image.u-image-contain.u-image-default.u-image-2{
    margin: auto;
  }
  a.btn.btn-lg.btn-block.hvr-underline-from-center{ /* edit */
    margin: 0 auto 0;
  }
  a.btn1.btn-lg.btn-block.hvr-underline-from-center{ /* edit */
    margin: 12px auto 0;
    
  }
  h4.u-text.u-text-default.u-text-palette-1-base.u-text-3{ /* edit */
    margin: 0 auto 0;
  }
  p.u-text.u-text-palette-1-dark-2.u-text-4{/* edit */
    margin: 0 auto 0;
  }
  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 414px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
    padding-top: 8%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 276px;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 { /* Edit */
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto 0;
  }

  .u-section-4 .u-image-2 {/* Edit */
    height: 250px;
    /* width: auto; */
   /*  margin-left: 120px; */
  }
  
  a.btn.btn-lg.btn-block.hvr-underline-from-center{ /* edit */
    margin: 0 auto 0;
  }
  a.btn1.btn-lg.btn-block.hvr-underline-from-center{ /* edit */
    margin: 12px auto 0;
    
  }
  h4.u-text.u-text-default.u-text-palette-1-base.u-text-3{ /* edit */
    margin: 0 auto 0;
  }
  p.u-text.u-text-palette-1-dark-2.u-text-4{/* edit */
    margin: 0 auto 0;
  }
  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 276px;
    margin-left: initial;
  }

  .u-section-4 .u-text-9 {
    width: 340px;
  }
}

.u-repeater-item {
  display: flex;
  position: relative;
}
.u-tabs:not([class*="u-align-"]),
.u-accordion:not([class*="u-align-"]),
.u-repeater-item:not([class*="u-align-"]),
.u-container-style:not([class*="u-align-"]) {
  text-align: left;
}
.u-radius-20,
.u-radius-20:before,
.u-radius-20 .u-background-effect,
.u-radius-20:not(.u-hover-box) > .u-container-layout {
  border-radius: 20px !important;
}
.u-valign-middle,
.u-valign-top,
.u-valign-bottom {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1400px) {
  .u-valign-middle-xxl,
  .u-valign-top-xxl,
  .u-valign-bottom-xxl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-valign-middle-xl,
  .u-xl-mode .u-valign-top-xl,
  .u-xl-mode .u-valign-bottom-xl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-valign-middle-xl,
  .u-xxl-mode .u-valign-top-xl,
  .u-xxl-mode .u-valign-bottom-xl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-middle-lg,
  .u-valign-top-lg,
  .u-valign-bottom-lg {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-middle-md,
  .u-valign-top-md,
  .u-valign-bottom-md {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-middle-sm,
  .u-valign-top-sm,
  .u-valign-bottom-sm {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .u-valign-middle-xs,
  .u-valign-top-xs,
  .u-valign-bottom-xs {
    display: flex;
    flex-direction: column;
  }
}
.u-valign-middle > *,
.u-valign-top > *,
.u-valign-bottom > * {
  flex-shrink: 0;
}
.u-valign-middle {
  justify-content: center;
}
@media (min-width: 1400px) {
  .u-valign-middle-xxl {
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-valign-middle-xl {
    justify-content: center;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-valign-middle-xl {
    justify-content: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-middle-lg {
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-middle-md {
    justify-content: center;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-middle-sm {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .u-valign-middle-xs {
    justify-content: center;
  }
}
.u-valign-top {
  justify-content: flex-start;
}
@media (min-width: 1400px) {
  .u-valign-top-xxl {
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-valign-top-xl {
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-valign-top-xl {
    justify-content: flex-start;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-top-lg {
    justify-content: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-top-md {
    justify-content: flex-start;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-top-sm {
    justify-content: flex-start;
  }
}
@media (max-width: 575px) {
  .u-valign-top-xs {
    justify-content: flex-start;
  }
}
.u-valign-bottom {
  justify-content: flex-end;
}
@media (min-width: 1400px) {
  .u-valign-bottom-xxl {
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .u-xl-mode .u-valign-bottom-xl {
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .u-xxl-mode .u-valign-bottom-xl {
    justify-content: flex-end;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .u-valign-bottom-lg {
    justify-content: flex-end;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-valign-bottom-md {
    justify-content: flex-end;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-valign-bottom-sm {
    justify-content: flex-end;
  }
}
@media (max-width: 575px) {
  .u-valign-bottom-xs {
    justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  :not(.u-sheet) > [class*="u-gutter-"]:not(.u-gutter-0).u-expanded-width {
    overflow: hidden;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .u-layout-wrap:not(.u-layout-custom-sm) .u-layout-row > * {
    min-width: 100%;
  }
  .u-layout-wrap:not(.u-layout-custom-sm) .u-layout {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .u-layout-wrap:not(.u-layout-custom-sm) .u-layout .u-layout-cell {
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .u-absolute-hcenter,
  .u-absolute-hcenter-sm {
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .u-layout-wrap:not(.u-layout-custom-xs) .u-layout-row > * {
    min-width: 100%;
  }
  .u-layout-wrap:not(.u-layout-custom-xs) .u-layout {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .u-layout-wrap:not(.u-layout-custom-xs) .u-layout .u-layout-cell {
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .u-absolute-hcenter,
  .u-absolute-hcenter-xs {
    max-width: 100%;
  }
}
.u-white,
.u-body.u-white,
section.u-white:before,
.u-white > .u-container-layout:before,
.u-white > .u-inner-container-layout:before,
.u-container-layout.u-container-layout.u-white:before,
.u-table-alt-white tr:nth-child(even) {
  color: #111111;
  background-color: #d6d6d6;
}
.u-repeater {
  display: grid;
  grid-template-columns: repeat(3, 33.33333333%);
}
.u-repeater-item {
  display: flex;
  position: relative;
}
img.u-expanded-width.u-image.u-image-contain.u-image-default.u-image-2
{
  /* width: 100%;
  height: auto; */
  /* margin: 0; */
  /* margin-left: 50px; */
  background-color: #FFF;
  background-size: cover;
  border-radius: 1rem;
  transition: all 100ms ease-out;
}
img.u-expanded-width.u-image.u-image-contain.u-image-default.u-image-2:hover
{
  box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}
/* img.u-expanded-width.u-image.u-image-contain.u-image-default.u-image-2::after
{
  box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
} */
/* ==========================================[Product Item]=============================================================== */

/* ==========================================[FORM]======================================================================= */
.form-style-10{
	/* width:450px; */
	/* padding:100px 300px 100px 300px; */
	/* margin:40px auto; */
	background: #f8f9fa;
	/* border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px; 
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);*/
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.text-danger {
  color: #dc3545 !important;
}
.form-style-10 .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
	font-family: 'ntregular', sans-serif;
}
.form-style-10 h1{
	/* background: #ffdd00; */
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: rgb(0, 0, 0);
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'ntregular', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	/* border: 1px solid #ffdd00; */
}

.form-style-10 h1 > span1{
  display: block;
  margin-top: 2px;
  /* font: 13px Arial, Helvetica, sans-serif; */
  font-family: 'ntregular', sans-serif;
  font-size: 3.5rem;
  /* margin-left: 70px; */
  font-weight: bold;
  text-align: center;
  color: #06245a;
}
.form-style-10 h1 > span{
	display: block;
	margin-top: 2px;
	font-family: 'ntregular', sans-serif;
  font-size: 21px;
  /* margin-left: 60px; */
  text-align: center;
}
.form-style-10 label{
	display: block;
	font-family: 'ntregular', sans-serif;
	color: #000;
	margin-bottom: 15px;
  font-size: 22px;
}
small.smform{
  color: #666;
}
/* .form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.499);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px #1919195e;
} */

.form-style-10 .section{
	font: normal 20px 'ntregular', serif;
	color: #ffdd00;
	margin-bottom: 5px;
}
.form-style-10 .section span {
	background: #ffdd00;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -35px;
	color: #fff;
	margin-top: -3px;
}
.form-style-10 input[type="button"],
.form-style-10 input[type="submit"]{
	background: #ffdd00;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: rgb(0, 0, 0);
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'ntregular', serif;

	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #ffdd00;
	font-size: 19px;
  font-weight: bold;
  margin-left: 40%;
  width: 20%;
}
.pro-hr {
  height: 4px;
  border-width: 0;
  color: gray;
  background: linear-gradient(90deg, rgba(255, 209, 0) 63%, rgba(84, 88, 89) 63%, rgba(84, 88, 89) 100%);
}
.form-style-10 input[type="button"]:hover,
.form-style-10 input[type="submit"]:hover{
	background: #ffd0009f;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(62, 62, 62, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy{
	float: right;
	width: 250px;
	font: 12px Arial, ntregular, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}
/* ==========================================[FORM]======================================================================= */
#filters {
    list-style: none;
    width: 100%;
    height: 20px;
    text-align: center;
}

#filters li {
    display: inline-block;
    color: white;
    margin-right: 10px;
}

#filters li span {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

#filters li span:hover {
  color: #ffc800;
}

#filters li span.active {
  /* background: #ededed; */
  color: #000000;
  border-bottom: 2px solid #ffb300;
  font-weight:bolder;
}

#portfoliolist .portfolio {
  /* width: 23%; */
  margin: 1%;
  display: none;
  float: left;
  overflow: hidden;
}

#portfoliolist1 .portfolio {
  /* width: 23%; */
  margin: 1%;
  display: none;
  float: left;
  overflow: hidden;
}
#portfoliolist2 .portfolio {
  /* width: 23%; */
  margin: 1%;
  display: none;
  float: left;
  overflow: hidden;
}

#portfoliolist3 .portfolio {
  /* width: 23%; */
  margin: 1%;
  display: none;
  float: left;
  overflow: hidden;
}

.portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  cursor: pointer;
}

.portfolio img {
  max-width: 100%;
  position: relative;
  top: 0;
 /*  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); */
}

.portfolio .label {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: -40px;
  /* -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); */
}

.portfolio .label-bg {
  background: #222;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio .label-text {
  color: #fff;
  position: relative;
  z-index: 500;
  padding: 5px 8px;
}

.portfolio .text-category {
  display: block;
  font-size: 9px;
}

.portfolio:hover .label {
  bottom: 0;
}

.portfolio:hover img {
  /* top: -30px; */
}


/* #Tablet (Portrait) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
  #portfoliolist .portfolio {
    /* width: 48%; */
    margin: 1%;
  }
  #portfoliolist1 .portfolio {
    /* width: 48%; */
    margin: 1%;
  }
  #portfoliolist2 .portfolio {
    /* width: 48%; */
    margin: 1%;
  }
  #portfoliolist3 .portfolio {
    /* width: 48%; */
    margin: 1%;
  }
  #ads {
    display: none;
  }
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* .container {
    width: 70%;
  } */
  #ads {
    display: none;
  }
}


/* #Clearing */


/* Self Clearing Goodness */

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row:after,
.clearfix:after {
  clear: both;
}

.row,
.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* ============================== Slide Banner Bar ================================================== */
/*---------------------------------------------------------------------
    top banner area
---------------------------------------------------------------------*/
/*---------------------------------------------------------------------
    top banner area
---------------------------------------------------------------------*/

.top-banner-slider {
	overflow: hidden;
	clear: both;
	height: 600px;
}

.top-banner-slider .heroslider {
	margin: 0px;
	padding: 0px;
	border: none;
	position: relative;
	border-radius: 0;
}

.swiper-overlay {
	height: 100%;
	position: relative;
}

.swiper-overlay {
	background: rgba(0, 0, 0, 0.5);
	content: "";
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

/* .heroslider .container {
	position: relative;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	z-index: 5;
} */

.swiper-container {
	width: 100%;
	height: 100%;
}

/* .heroslider .slider-01 {
	width: 100%;
	background-image: url(../img/product/11.png);
	background-size: cover;
	background-position: center;
}

.heroslider .slider-02 {
	width: 100%;
	background-image: url(../img/product/22.png);
	background-size: cover;
	background-position: center;
}

.heroslider .slider-03 {
	width: 100%;
	background-image: url(../img/product/33.png);
	background-size: cover;
	background-position: center;
}

.heroslider .slides li {
	height: 600px;
} */

.top-banner-slider .heroslider .slides li::before {
	content: "";
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
}

.top-banner-slider .flex_caption3 {
	position: absolute;
	z-index: 30;
	left: 0;
	right: 0;
	bottom: 50px;
	margin: 0 -15px;
	display: flex;
}

a.slide_banner {
	position: relative;
	display: inline-block;
	margin: 0 12px 0 15px;
}

.slide1_banner1 {
	width: 570px;
}

.slide1_banner2 {
	width: 270px;
}

.slide1_banner3 {
	width: 270px;
}

.top-banner-slider .flex_caption1 {
	text-align: center;
	position: absolute;
	z-index: 30;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 31%;
	max-width: 720px;
	width: 100%;
	text-transform: uppercase;
	color: #333;
}

.top-banner-slider .flex_caption1 .title1 {
	font-size: 36px;
	font-weight: 300;
	color: #ffffff;
}

.top-banner-slider .flex_caption1 .title2 {
	font-size: 60px;
	font-weight: 900;
	color: #ffffff;
}

.top-banner-slider .flex_caption2 {
	text-align: center;
}

.top-banner-slider .flex_caption2 {
	position: absolute;
	z-index: 30;
	left: 0;
	top: 20%;
	display: table;
	width: 177px;
	height: 177px;
	background-color: #242424;
}

.top-banner-slider .flex_caption2 .middle {
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	line-height: 31px;
	font-size: 26px;
	color: #fff;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

.top-banner-slider .flex_caption2 .middle:hover {
	background: #38c8a8;
}

.top-banner-slider .flex_caption2 span {
	display: block;
	font-weight: 100;
	line-height: 36px;
	font-size: 34px;
}

a.slide_banner::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	border: 2px solid #ffffff;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

a.slide_banner:hover::before {
	left: -7px;
	top: -7px;
	right: -7px;
	bottom: -7px;
	opacity: 1;
}
/* 
.flex-control-nav {
	background: #38c8a8;
	bottom: 0px;
	position: relative;
}

.flex-control-nav li {
	line-height: 10px;
}

.flex-control-paging li a {
	background: rgba(255, 255, 255, 1);
	border: 2px solid #ffffff;
}

.flex-control-paging li a.flex-active {
	border: 2px solid #ffffff;
}

.flex-direction-nav a {
	background: #111111;
	text-align: center;
}

.heroslider:hover .flex-direction-nav .flex-prev:hover {
	background: #38c8a8;
}

.heroslider:hover .flex-direction-nav .flex-next:hover {
	background: #38c8a8;
}

.flex-direction-nav a::before {
	color: #ffffff;
} */

.top-banner-slider .swiper-pagination {
	padding: 10px 0px;
}

.heroslider .swiper-pagination {
	bottom: 0px;
	background: #38c8a8;
}

.heroslider .swiper-pagination .swiper-pagination-bullet-active {
	background: #fff;
}

.heroslider .swiper-pagination::before {
	content: "";
	width: 22px;
	height: 22px;
	position: absolute;
	left: -10px;
	top: 4px;
	z-index: -1;
	background: #e12d4f;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.heroslider .swiper-pagination::after {
	content: "";
	width: 22px;
	height: 22px;
	position: absolute;
	right: -10px;
	top: 4px;
	z-index: -1;
	background: #e12d4f;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.heroslider .swiper-pagination.swiper-pagination-bullets-dynamic {
	overflow: visible;
	width: 110px !important;
}

.heroslider .swiper-pagination .swiper-pagination-bullet {
	opacity: 1;
}

input[type="checkbox"].styled:checked+label:after,
input[type="radio"].styled:checked+label:after {
	font-family: 'FontAwesome';
	content: "\f00c";
}

input[type="checkbox"] .styled:checked+label::before,
input[type="radio"] .styled:checked+label::before {
	color: #fff;
}

input[type="checkbox"] .styled:checked+label::after,
input[type="radio"] .styled:checked+label::after {
	color: #fff;
}


/*---------------------------------------------------------------------
    layout new css 
---------------------------------------------------------------------*/

.header {
	background: #0fc690;
	padding: 40px 0px;
	padding-bottom: 35px;
}

.logo a {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	line-height: 40px;
}

.relative {
	position: absolute;
	top: 37%;
	transform: translateY(-50%);
}

.banner-main {
	position: relative;
}

/* .banner-main .carousel-caption h1 {
	color: #fff;
	font-size: 70px;
	line-height: 70px;
	font-weight: bold;
} */

/* .banner-main .carousel-caption p {
	font-size: 23px;
	padding: 20px 0px 40px 0px;
} */

.banner-main .carousel-caption a {
	text-transform: uppercase;
	border: #0fc690 solid 1px;
	background: #0fc690;
	width: 196px;
	padding: 12px 0;
	display: inline-block;
	font-weight: 500;
	font-size: 17px;
	line-height: 30px;
	color: #000;
}

.banner-main .carousel-caption a:hover {
	border: #000 solid 1px;
	background: #000;
}

#myCarousel a.carousel-control-next {
	position: absolute;
	top: 40% !important;
	left: inherit !important;
	right: -22px !important;
	width: 70px;
	height: 70px;
	border-radius: 35px;
}

#myCarousel a.carousel-control-prev {
	position: absolute;
	top: 40% !important;
	left: -22px !important;
	width: 70px;
	height: 70px;
	border-radius: 35px;
}
/* .carousel-inner{
  height: 350px;
} */
.service {
  background-color: #f7f7f9;
  /* margin-top: 80px; */
  padding: 40px 0;
}
.service_box {
  text-align: center;
  width: 20%;
  margin-top: 30px !important;
}
.yelldark_colo {
  margin: 0 50px;
}
/** service section **/

.service {
  background-color: #f7f7f9;
  /* margin-top: 80px; */
  padding: 40px 0;
}

.service .titlepage {
  text-align: center;
  padding-bottom: 30px;
}

.service .titlepage p {
  color: #0c0202;
  font-size: 17px;
  line-height: 30px;
  padding-top: 20px;
}

.service_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service_box {
  text-align: center;
  width: 16.3%;
  margin-top: 30px !important;
}

.service_box i {
  width: 181px;
  display: block;
  height: 181px;
  border-radius: 200px;
  
}

.service_box i img {
  text-align: center;
  padding-top: 0%;
}

.service_box h4 {
  color: #494949;
  font-size: 17px;
  margin-top: 25px;
  padding: 0;
  font-weight: 500;
}

.service_box h4:hover {
  color: #0f98f8;
}
.service_box h7 {
  color: #494949;
  font-size: 22px;
  margin-top: 25px;
  padding: 0;
  font-weight: 500;
}

.service_box h7:hover {
  color: #626161;
  font-weight: bold;
  font-size: 22px;
  font-family: 'ntregular', sans-serif;
}
.blu_colo i {
  background-color: #0f98f8
}

.yell_colo i {
  background-color: #fed806
}

.yelldark_colo {
  margin: 0 50px;
}

.yelldark_colo i {
  background-color: #fe7506
}

.service .read_more {
  margin: 0 auto;
  padding-top: 70px;
}
img.dass{
  max-width: 100%;
  height: auto;
}
/* partner respon */
@media (min-width: 768px) and (max-width: 991px){
.banner_main {
    background-size: auto 44%;
    padding: 2px 0px 0px 0px;
}
.text-bg h1 {
  font-size: 43px;
  padding-bottom: 20px;
  line-height: 44px;
}
.service_box {
  width: 20%;
}
.service_box i {
  width: 120px;
  height: 120px;
}
.banner_slide {
  padding: 0 80px 0 0px;
}
}

@media (min-width: 992px) and (max-width: 1199px){
  .text-bg h1 {
    font-size: 43px;
    line-height: 52px;
  }
}
@media (min-width: 576px) and (max-width: 767px){
  .text-bg h1 {
    font-size: 48px;
    line-height: 51px;
  }
  .banner_slide {
    padding: 0 80px 0 0px;
}
.banner_main {
  background-size: auto 24%;
  padding: 2px 0px 0px 0px;
}
img.tuckz {
  max-width: 60%;
  height: auto;
}
.service_box {
  width: 25.0%;
}
.service_box i {
  width: 156px;
  height: 156px;
}
/*  */
.service_box {
  width: 25.0%;
}
.service_box i {
  width: 156px;
  height: 156px;
}
.blac_co {
  margin-top: 0px;
  margin-bottom: 30px;
}
}
@media (max-width: 575px) {
  .banner_main {
    background-size: auto 24%;
    padding: 2px 0px 0px 0px;
    background-color: #fff !important;
  }
  .service_box {
      width: 100%;
  }
  .service_main {
      justify-content: center;
  }
  .service_box i {
      margin: 0 auto;
  }
  .vehicles_truck {
      margin-bottom: 30px;
  }
  .blac_co {
      margin-top: 0px;
      margin-bottom: 30px;
  }
  .main_form {
      max-width: inherit;
  }
  .co_tru {
      padding-right: 0px;
      margin-top: 30px;
  }
 
  .choose_box {
      margin-bottom: 30px;
  }
  .right_bottun {
      margin-top: -40px;
  }
  ul.location_icon li {
      font-size: 18px;
  }
  .bottom_form .enter {
      width: 100%;
      margin-bottom: 20px;
  }
  .d_none {
      display: none;
  }
}
li.nav-footer-col{
  color: #000;
}

/* 
################################ [Partner CSS] ###########################################
*/

/* ===========================
--- Intro
============================ */

.intro {
	width:100%;
	position:relative;
}

.intro-content {
	background: url(../img/Partner/bg1.png) no-repeat top center;
  /* background-image: url(../images/banner.png); */
	padding:120px 0 60px;
}
.intro-content.intro-nobg {
	background:#fff;
	position:relative;
	margin:0;
	padding:140px 0 60px;
}

.contact-content {
	/* background: url(../img/Partner/bg1.png) no-repeat top center; */
  /* background-image: url(../images/banner.png); */
	padding:120px 0 60px;
}
.contact-content.intro-nobg {
	background:#fff;
	position:relative;
	margin:0;
	padding:140px 0 60px;
}


.slogan {
	margin-bottom: 20px;
}

.white-box {
	background: rgba(255,255,255,.8);
	padding: 20px;
	border-radius: 4px;
}

.intro-content h2 {
	margin-bottom: 10px;
}

/* ---- lead form --- */

ul.lead-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 20px;
}


ul.lead-list li {
	margin: 0 0 20px 0;
	line-height: 1.6em;
}

ul.lead-list li span.fa {
	margin: 5px 5px 0 0;
	float: left;
}

ul.lead-list li span.list {
	/* display: inline-block; */
	margin: 0 0 0 10px;
}

p.lead-footer {
	font-size: 16px;
	margin: 20px 0 0;
}


.panel-heading {
  padding: 20px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel.panel-skin {
  border-color: #ddd;
}

.panel-skin > .panel-heading {
  color: #fff;
  background-color: #444;
  border-color: #444;
  box-shadow: none;
}

.panel-body {
  padding: 20px;
}

.form-wrapper h3.panel-title {
  font-size: 20px;
  font-weight: 700;
}

.form-wrapper h3.panel-title span {
	font-size: 20px;
	margin: 0 10px 0 0;
}

.form-wrapper h3.panel-title small {
	font-size: 16px;
	color: #ddd;
}

form.lead label,form.lead input {
	font-size: 16px;
}

.panel-body {
  background: #fff;
}

.panel-skin > .panel-heading .badge {
  background-color: #fff;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
h23.h-ultra{
    font-size: 42px;
    font-weight: 900;
    color: #444;
}
span.fa.fa-check.fa-2x.icon-success{
    font-size: 1.3em;
    color: #7db53b;
}
strong.lists{
  color: #666;
}
p.lists-p {
    color: #5c5c5c;
    font-size: 21px;
    text-indent: 45px;
}
input.btn.btn-skin.btn-block.btn-lg{
  width: 80%;
}

.partner {
  text-align: center;
}

h24.h-bold {
  font-size: 2.3em;
  color: #000;
  font-weight: bold;
  /* padding-top: 60px; */
}
section#partner {
  background: #fafafa;
}

.divider-short, .color-dark .divider-short, .bg-gray .divider-short {
  background: #aaa;
}

.divider-short {
  display: block;
  width: 100px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.btn-default1 {
  color: #333;
  background-color: #fff;
  border-color: rgb(255, 255, 255);
  box-shadow: none;
}
.btn-default1:focus,.btn-default1.focus{
  color:#333;
  background-color:#e6e6e6;
  /* border-color:#8c8c8c */
  border: 1px solid #ccc;
}
.btn-default1:hover{
  color:#333;
  /* background-color:#e6e6e6; */
  /* border-color:#adadad */
  /* border: 1px solid #e6e6e6; */
  background: none;
  border: none;
}




/*==================
    Base Styles
===================*/


/* input[type="radio"] {
  display: none;
} */

.slide-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 3em;
  width: 100%;
  height: 21em;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgb(53, 53, 53);
  overflow: hidden;
}

/*==================
  Slides
===================*/

#slide-role {
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  z-index: 100;
  transition: left .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* flex */
  display: flex;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* backgrounds */

.slide-1 {
  background-image: url("https://images.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.slide-2 {
  background-image: url("https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.slide-3 {
  background-image: url("https://images.pexels.com/photos/448714/pexels-photo-448714.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.slide-4 {
  background-image: url("https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}

/*===================
  BUTTONS
====================*/

.btnsl,
.btnsl::after {
  border-radius: 50%;
  transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btnsl {
  border: 1px solid rgba(0, 0, 0, 0.281);
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px rgba(56, 56, 56, 0.822);
  position: absolute;
  bottom: 12%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1000;
}

.btnsl:nth-of-type(1) {
  left: 38%;
}

.btnsl:nth-of-type(2) {
  left: 45%;
}

.btnsl:nth-of-type(3) {
  left: 52%;
}

.btn:nth-of-type(4) {
  left: 59%;
}

.btnsl:hover {
  transform: scale(1.4);
}

/* buttons Atom! */

.btnsl::after {
  content: "";
  display: inline-block;
  border: 1px solid white;
  background: rgb(11, 185, 238);
  width: 20px;
  height: 20px;
  margin: 3px 3px;
  transform: scale(.5, .5);
  box-shadow: 0px 1px 5px rgba(56, 56, 56, 0.822);
}

/*====================
      L O G I C 
===================*/

/* slide logic */

input[type="radio"]:checked#slide-2-trigger~div.slide-wrapper>div#slide-role {
  left: -100%;
}

input[type="radio"]:checked#slide-3-trigger~div.slide-wrapper>div#slide-role {
  left: -200%;
}

input[type="radio"]:checked#slide-4-trigger~div.slide-wrapper>div#slide-role {
  left: -300%;
}

/* button logic */

input[type="radio"]:checked+label.btnsl {
  transform: scale(1.2);
  border: 1px solid rgba(53, 53, 53, 0.308);
}

input[type="radio"]:checked+label.btnsl::after {
  transform: scale(1.1, 1.1);
  background: lightskyblue;
}

/*=====================================================================================
              MEDIA QUERIES
=======================================================================================*/

@media only screen and (max-width: 750px) {
  .slide-wrapper {
      width: 90%;
      height: 100%;
  }
  .btnsl:nth-of-type(1) {
      left: 93%;
      bottom: 60%;
  }
  .btnsl:nth-of-type(2) {
      left: 93%;
      bottom: 50%;
  }
  .btnsl:nth-of-type(3) {
      left: 93%;
      bottom: 40%;
  }
  .btnsl:nth-of-type(4) {
      left: 93%;
      bottom: 30%;
  }
}

@media only screen and (max-width: 450px) {
  .btnsl:nth-of-type(1) {
      left: 91%;
  }
  .btnsl:nth-of-type(2) {
      left: 91%;
  }
  .btnsl:nth-of-type(3) {
      left: 91%;
  }
  .btnsl:nth-of-type(4) {
      left: 91%;
  }
}


/* slide banner 2 */
.home-slider {
  width: 100%;
  max-height: 400px;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 0;
}

/* header {
  position: relative;
  z-index: 2;
  max-width: 80rem;
  margin: 0 2rem;
} */

/* nav {
  margin-top: 20px;
  text-align: right;
} */

/* nav a {
  font-family: "Permanent Marker", cursive;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  margin-right: 45px;
} */

/* nav a:last-child {
  margin-right: 0px;
} */

/* nav a:hover,
nav a:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
} */

.rslides:before {
  content: "";
  display: block;
  width: 540px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1356355/slider-overlay.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  padding-bottom: 31.25%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

li a.credits {
  position: absolute;
  z-index: 4;
  right: 3%;
  bottom: 20px;
}

/* Slider navigation */

.transparent-btns_tabs {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 100px;
}

.transparent-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
}

.transparent-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: 11px;
  height: 11px;
}

.transparent-btns_here a {
  background: #222;
  background: rgba(0, 0, 0, 0.8);
}

/* Slider navigation end */

/* @media only screen and (max-width: 768px) {
  nav {
  text-align: center;
}
  nav a {
    font-size: 1.5em;
  }
} */
@media screen and (min-width: 450px) and (max-width: 925px) {
  .home-slider {
    max-height: 200px;
  }
  .rslides{
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 200px;
  }
  }
  @media screen and (min-width: 144px) and (max-width: 450px) {
    .home-slider {
      max-height: 100px;
    }
    .rslides{
      position: relative;
      list-style: none;
      overflow: hidden;
      width: 100%;
      padding: 0;
      margin: 0;
      height: 200px;
    }
    }
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 400px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  

  .join {
    width: 70%;
    margin: 20% 13% 0%;
}