/***************************************
Template Name: Green Fair
Author: Md Foysal Ahamed
Created: July 05 2016
Version: 1.2
****************************************/


/*CSS Style Structure
1. General Or Universal code,
2. Import Google's Fonts,
3. Header,
4. Slider,
5. Welcome,
6. Volunteer,
7. Portfolio,
8. Achivment,
9. Event,
10. Testimonial,
11. Latest Blog,
12. Purches,
13. Contact,
14. Footer.
*/

@import url('https://fonts.googleapis.com/css?family=Paprika');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/*
font-family: 'ntregular', serif;
*/
@import url(font-awesome.min.css);
/* @import url(fontnt.css); */



/*UNIVERSAL CODE*/

/* * {
    margin: 0;
    padding: 0;
} */
.alignleft {
    float: left;
    margin-right: 15px
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto
}
.floatleft {
    float: left
}
.floatright {
    float: right
}
.fix {
    overflow: hidden
}
.clear {
    clear: both
}
.container {
    transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
}
/* ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
} */
a,
a:hover,
a:focus,
a:visited,
a:hover {
    text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-family: 'ntregular', sans-serif;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0
}
/* p {
    padding: 0;
    margin: 0;
    font-family: 'ntregular', sans-serif;
    font-size: 18px;
} */
img {
    max-width: 100%;
    /* height: auto; */
    /* padding-top: 10px; */
}
html {
    height: 100%
}
body {
}

/*Remove chrome Input Field’s Unwanted Yellow Background Color*/

/* input: -webkit-autofill,
input: -webkit-autofill:hover,
input: -webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 100px white inset !important;
} */

/*Input focus color removed*/

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

/*Bootstrap Form Control Focus*/

.form-control:focus {
    border-color: #fff;
    border: 0px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/***************************/

.zero_mp {
    padding: 0;
    margin: 0;
}
.margin_btm {
    margin-bottom: 0px !important;
}
.sections{
    padding: 80px 0;
    overflow: hidden;
    position: relative;
}
.min-spacing{
    padding: 50px 0;
    overflow: hidden;
    position: relative;
}
/***********************************************/


/*header*/


/*Header Top header*/

/* #header .top_header {
    min-height: 50px;
    background: #fdd100;
    border-bottom: 2px solid #F2F2F2;
    padding-top: 15px;
}
#header .top_header .address {
    border-right: 1px solid #E6E5E5;
}
#header .top_header .address p {
    font-size: 12px;
    padding-top: 2px;
    color: #646464;
    font-family: 'ntregular', sans-serif;
}
#header .top_header .phone p {
    color: #646464;
    font-size: 12px;
    font-family: 'ntregular', sans-serif;
    padding-top: 1px;
    display: inline-block;
}
#header .top_header .address i,
#header .top_header .phone i {
    padding: 3px 5px;
    font-size: 15px;
}
#header .top_header .social_icon i {
    padding: 0 5px;
    color: #787878;
    font-size: 12px;
    font-weight: 700;
}
#header .top_header .social_icon i:hover {
    color: #fdd100;
} */
a.btn1.btn-link{
    font-size: 20px;
    font-weight: bold;
}
svg.svg-inline--fa.fa-arrow-circle-left.fa-w-16{
    width: 10px;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #FFD004;
}
h12 {
    font-family: 'ntregular', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #1f4ad2;
}
i {
    font-family: 'ntregular';
    font-style: normal;
    color: #000;
    font-size: 23px;
}
p.text-ab {
    text-indent: 4rem;
    color: #000;
    font-size: 24px;
    /* line-height: 1.8; */
    line-height: 1.80857;
}
b, strong1 {
    color: #000000;
    font-weight: bold;
}
.text-left.margin{
    margin-top: 4%;
}
#headercontact{
    background-color: #202020;
  }
  .header-block-top{
	position: absolute;
    z-index: 11;
    width: 100%;
    top: 0;
    left: 0;
}
.header-block-top .navbar-brand {
    margin: 0 !important;
    padding: 15px 0 15px;
    display: inline-block;
    line-height: normal;
    font-size: 100%;
    height: 100%;
}
.main-menu .navbar-default{
	background-color:transparent;
}
.main-menu .navbar{
	min-height:inherit;
	border-radius:0px;
	border:none;
	margin:0px;
}
.main-menu nav .navbar-header .navbar-brand{
	height:inherit;
}
.main-menu .navbar-default .navbar-nav li a{
	color:#fff;
    font-weight: bold;
}
.main-menu nav li a{
	padding: 43px 0px 15px;
	margin: 0 14px;
	color: #fff;
	font-family: 'ntregular', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.6px;
	position:relative;
	-webkit-transition: color 0.4s;
    transition: color 0.4s;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
}

.main-menu nav li a::after,  .main-menu nav li a::before{
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* .main-menu nav li a::after{
  background: #ffffff;
} */

/* .main-menu nav li a::before {
    background: #FFD004;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
} */

.main-menu nav li.active a::before {
	-webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.main-menu nav li.active a::after, .main-menu nav li.active a::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.main-menu nav li a:hover::before, .main-menu nav li a:focus::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/* .main-menu .navbar-default .navbar-nav .active a{
	
    color: #FFD004; 
    font-weight: bold;
} */
.main-menu .navbar-default .navbar-nav .active a{
	background-color:transparent;
}

.fixed-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #202020;
    transition: 0.5s;
    padding: 10px 0 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.fixed-menu .navbar-brand{
	padding: 10px 0 10px;
}

.fixed-menu .navbar-brand>img {
    max-width: 150px;
}

.fixed-menu .main-menu nav li a{
    padding: 32px 0px 10px 0;
}
/*End of top header*/

/* #header .header_menu {
    min-height: 80px;
    border-bottom: 1px solid #3D3E3D;
    z-index: 9999
}
#header .header_menu .navbar {
    border: 0px solid transparent;
}
#header .header_menu .custom_navbar-brand {
    padding-left: 10;
}
#header .header_menu .navbar-default {
    background-color: #00000000;
    border-color: #ffffff00;
}
#header .header_menu .navbar-default .navbar-nav>.active>a,
#header .header_menu .navbar-default .navbar-nav>.active>a:focus,
#header .header_menu .navbar-default .navbar-nav>.active>a:hover {
    background-color: #f7e20300;
}
#header .header_menu .main_menu {
    padding-top: 20px;
}

#header .header_menu ul.main_menu li.active a {
    color: #eeeeee;
}
#header .header_menu ul.main_menu li,
#header .header_menu ul.main_menu li.active a {
    display: inline-block;
    position: relative;
}
#header .header_menu ul.main_menu li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    margin-top: 6px;
}
#header .header_menu ul.main_menu li:hover:after,
#header .header_menu ul.main_menu li.active:after {
    width: 90%;
    background: #fdd100;
} */

/*Slider*/
/* .wel_header {
    text-align: center;
    color: #eeeeee;
    padding-top: 30px;
} */
.txt-gdcolor2 { 
    padding-top: 30px;
    text-align: center;
    display: inline-block; 
    background: rgb(250,175,64);
    /* background: -webkit-linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%);
    background: -moz-linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 50%, rgba(190,30,45,1) 100%); */
    background: linear-gradient(90deg, rgba(250,175,64,1) 0%,rgba(236,41,123,1) 30%, rgba(190,30,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
#slider {
    min-height: 490px;
}
#slider .slider_text {
    padding-bottom: 13%;
}
#slider .slider_text h2 {
    font-size: 52px;
    padding: 10px 0;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
#slider .slider_text h3 {
    font-size: 45px;
    font-family: 'ntregular', sans-serif;
    color: #fff;
}
#slider .slider_text p {
    font-size: 17px;
    padding-bottom: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
#slider .slider_text a.custom_btn {
    font-size: 14px;
    color: #fff;
    padding: 15px 25px;
    background: #43a906;
    border-radius: 2px;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
#slider .slider_text h2,
#slider .slider_text h3,
#slider .slider_text p,
#slider .slider_text a.custom_btn {
    text-transform: uppercase;
}
#slider .slider_text h3 {
    font-size: 45px;
    padding: 10px 0;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
#slider .slider_overlay {
    position: relative;
}
#slider .slider_overlay:after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*Slider Fade In*/

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}
#member {
    min-height: 350px;
    background: #fff;
    padding: 90px 0;
}
/*Welcome Section*/
#welcome {
    min-height: 400px;
    /* background: #fff; */
    padding: 10px 0;
   /*  padding-top: 26rem; */
}
.wel_header {
    text-align: center;
    color: #eeeeee;
    padding-top: 30px;
}
.wel_header2 {
    text-align: center;
    color: #eeeeee;
    padding-top: 0;
}
.fw-heading.fw-heading-center {
    padding-bottom: 40px;

}
.wel_header h2 {
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 900;
    /* padding-bottom: 25px; */
    font-family: 'ntregular', serif !important;
    color: #ffd600;
}
.wel_header2 h2 {
    font-size: 53px;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 25px;
    font-family: 'ntregular', serif !important;
    color: #ffd100;
}
.wel_header p {
    font-size: 16px;
    font-family: 'ntregular', sans-serif;
}
#welcome .single_item {
    padding-top: 30px;
    text-align: center;
}
#welcome .welcome_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #000000;
    transition: .7s;
}
#welcome .welcome_icon i {
    margin-top: 25%;
    font-size: 50px;
    transition: .7s;
}
#welcome .item_list h4 {
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #393939;
    transition: 0.7s;
    font-family: 'ntregular', serif;
}
#welcome .item_list p {
    font-size: 14px;
    color: #646464;
    font-family: 'ntregular', sans-serif;
}
#welcome .item_list:hover .welcome_icon {
    background: rgba(251, 251, 251, 34%);
   
    cursor: pointer;
}
#welcome .item_list:hover .welcome_icon i {
    color: #fff;
}
#welcome .item_list:hover h4 {
    color: #fdd100;
    cursor: pointer;
}

/*Volunteer*/

#volunteer {
    min-height: 290px;
    background: #000000;
}
#volunteer .volunteer_content h3 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
    font-family: 'ntregular', sans-serif;
}
#volunteer .volunteer_content h3 span {
    color: #43a906;
}
#volunteer .volunteer_content p {
    font-size: 14px;
    color: #fff;
    font-family: 'ntregular', sans-serif;
}
#volunteer .join_us {
    padding-top: 55px;
}
#volunteer .vol_area {
    padding: 80px 0;
}
#volunteer .join_us a.vol_cust_btn {
    background: #43a906;
    color: #fff;
    padding: 8px 50px;
    border: 1px solid #43a906;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: 'ntregular', sans-serif;
}

/*Portfolio*/

#portfolio {
    min-height: 780px;
    padding: 80px 0;
}

#portfolio .portfolio_title h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-family: 'ntregular', serif;
    color: #c3c4c3;
}
#portfolio .portfolio_title p {
    font-size: 16px;
    color: #393939;
    padding-bottom: 25px;
    padding-top: 0;
    font-family: 'ntregular', sans-serif;
}

/*Customise Portfolio*/

#portfolio ul.menu li button {
    padding: 6px 15px;
}
#portfolio ul.portfolio_custom_menu li button {
    background: #f6f6f6;
    border: 1px solid #e9e9e9;
    color: #726e6e;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    width: 125px;
    font-size: 12px;
    padding-top: 8px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}
#portfolio ul.portfolio_custom_menu li {
    padding: 10px 0px;
}
#portfolio ul.portfolio_custom_menu li button:hover {
    background: #43a906;
    color: #fff;
}
#portfolio ul.portfolio_custom_menu li button.btn_active {
    background: #43a906;
    box-shadow: inset 0 1px 10px hsla(0, 0%, 100%, 0);
    color: #fff;
}
#portfolio .notes .note .img_overlay {
    background: rgba(21, 21, 18, 0.92);
    z-index: 1;
    position: absolute;
    width: 94%;
    height: 94%;
    top: 3%;
    left: 3%;
    color: #fff;
    opacity: 0;
    transition: 0.7s;
}
#portfolio .notes .note .img_overlay p {
    position: relative;
    top: 45%;
    opacity: 0;
    transition: 0.7s;
    font-size: 16px;
    font-family: 'ntregular', serif;
    font-weight: 400;
}
#portfolio .notes .note:hover .img_overlay,
#portfolio .notes .note:hover .img_overlay p {
    opacity: 10;
}

/*Achivment*/

div#achivement {
    overflow: hidden;
}
.achivment_padding {
    padding: 80px 0;
}
/*#counter {
    min-height: 440px;
    background: #bdbebd;
    border-bottom: 1px solid #8c8e8c;
}*/
/*.counter_header {
    padding-top: 80px;
    text-align: center;
    color: #fff;
}*/
section#counter {
    background: url(../img/img1.jpg) no-repeat scroll top center / cover;
    color: #fff;
}
.counter_img_overlay {
    position: relative;
    padding: 80px 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.52);
}
.counter_header h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: 'ntregular', serif;
}
.counter_header p {
    font-size: 16px;
    padding-bottom: 60px;
    font-family: 'ntregular', sans-serif;
    padding-top: 15px;
}
.counter_text {
    color: #fff;
    font-weight: 700;
}
.sigle_counter_item {
    padding-top: 20px;
    padding-bottom: 0px;
}
.sigle_counter_item img {
    padding-bottom: 20px;
    height: 90px;
}
.sigle_counter_item i {
    font-size: 60px;
    padding: 10px;
    color: #43A906;
}
.counter_text span {
    font-size: 32px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    font-family: 'ntregular', serif;
    font-weight: 600;
}
.counter_text p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 10px;
    font-family: 'ntregular', serif;
    color: #ffffff;
    margin-top: 10px;
}

/*Event*/

#event {
    min-height: 550px;
    background: #fff;
    color: #000;
    padding: 80px 0px;
}
#event .event_header {
    padding-bottom: 50px;
}
#event .event_header h2 {
     font-size: 46px;
    font-weight: 900;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: 'ntregular', serif;
    color: #ffd100;
   
}
.event_header.text-center p {
    color: #393939;
    font-size: 16px;
    font-family: 'ntregular', sans-serif;
}
#event .event_text {
    padding: 30px 30px 0;
    background: #eff0f2;
    min-height: 279px;
}
#event .event_item img {
    width: 100%;
}
#event .event_text {
    padding: 30px 30px 0;
    width: 100%;
}
#event .event_text h4 {
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 700;
    color: #454444;
    font-family: 'ntregular', serif;
}
#event .event_text h6 {
    padding-bottom: 20px;
    font-size: 14px;
    color: #6c6b6b;
    font-family: 'ntregular', serif;
}
#event .event_text p {
    font-size: 14px;
    color: #646464;
    padding-bottom: 35px;
    font-family: 'ntregular', sans-serif;
}
#event a.event_btn {
    background: #101010;
    padding: 5px 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    transition: 0.7s ease;
    font-family: 'ntregular', sans-serif;
}
#event a.event_btn:hover {
    background: #43a906;
}
#event .event_news {
    padding-bottom: 27px;
}
.event_news_text {
    display: block;
    overflow: hidden;
}
.event_news_text h4 {
    color: #454444;
    font-size: 18px;
    font-family: 'ntregular', serif;
    font-weight: 700;
}
#event .event_news_text p {
    padding-top: 10px;
    font-size: 14px;
    color: #646464;
    font-family: 'ntregular', sans-serif;
}
#event .event_news_img {
    padding-right: 10px;
}

/*Testimonial*/

#testimonial {
    color: #fff;
   /*  background: url(../img/img3.jpg) no-repeat scroll top center / cover; */
}
.testimonial_overlay {
    padding: 80px 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
}
#testimonial .testimonial_header {
}
#testimonial .testimonial_header h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: 'ntregular', serif;
    color: #fff;
}
#testimonial .testimonial_header p {
    font-size: 16px;
    color: #fff;
    font-family: 'ntregular', sans-serif;
}

/*Latest Blog*/

#blog {
    min-height: 500px;
    padding: 80px 0;
}
#blog p {
    display: inline-block;
}
#blog .latest_blog {
}
#blog .latest_blog h2 {
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'ntregular', serif;
    color: #222222;
}
#blog .latest_blog p {
    padding-bottom: 45px;
    font-size: 16px;
    color: #646464;
    font-family: 'ntregular', sans-serif;
}
#blog .single_blog_item {
    border: 1px solid #d1d3d1;
}
#blog .blog_content {
    padding: 15px;
    height: 250px;
}
#blog .blog_content h3 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #454444;
    font-family: 'ntregular', serif;
}
#blog .expert {
    padding-bottom: 20px;
    color: #aeadad;
}
#blog .expert span.time {
    padding-right: 10px;
    border-right: 1px solid;
}
#blog .expert span.admin {
    padding-left: 5px;
    color: #aeadad;
    font-size: 13px;
    font-family: 'ntregular', sans-serif;
    font-weight: 700;
}
#blog .blog_news .blog_img img {
    height: 230px;
    width: 100%;
}
#blog .blog_news span.right_msg span {
    font-size: 14px;
    color: #aeadad;
    font-family: 'ntregular', serif;
    font-weight: 400;
}
#blog .expert a {
    color: #aeadad;
}
#blog .expert p.right_side {
    padding-left: 110px;
}
#blog p.blog_news_content {
    color: #646464;
    font-size: 14px;
    padding-bottom: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#blog a.blog_link {
    text-transform: uppercase;
    font-weight: 500;
    color: #545353;
    transition: 0.7s;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
#blog a.blog_link:hover {
    color: #43a906;
}

/*purches*/
section#market {
    padding: 80px;
}

#purches {
    min-height: 200px;
    background: #333333;
}
#purches .purches_title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
#purches h2.purches_title {
    font-size: 36px;
    padding-top: 80px;
    font-family: 'ntregular', serif;
    font-weight: 700;
    color: #ffffff;
}
#purches a.purches_btn {
    float: right;
    margin-top: 80px;
    padding: 8px 58px;
    background: #43a906;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    font-family: 'ntregular', serif;
    font-size: 18px;
}
div#market-place {
    min-height: 200px;
    border-bottom: 1px solid #bcbaba;
}


/*Contact*/

#contact {
    min-height: 650px;
    background: #eeeeee;
    padding: 80px 0;
}

.msg {
    padding-top: 50px;
}
input#name,
input#email {

    margin-bottom: 10px !important;
}

.text_area textarea {
    resize: none;
    width: 555px;
}
.text_area textarea,
.form-inline .form-control,
input#name,
input#email,
input#subject{
    border-radius: 0px;
    margin-bottom: 20px;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #d4d4d4;
    font-style: italic;
    color: #696969;
    font-family: 'ntregular', sans-serif;
}
li.fw-flash-message {
    color: red;
    font-size: 4rem;
}
.msg_title h5 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 20px;
    font-family: 'ntregular', serif;
    color: #222222;
}
.custom-btn {
    padding: 13px 82px;
    background: #43a906;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: 0px;
    border-radius: 2px;
    letter-spacing: 5px;
    font-size: 14px;
    font-family: 'ntregular', serif;
    outline: 0 !important;
}
.office {
    padding-top: 50px
}
.office .title h5 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: 'ntregular', serif;
    color: #222222;
}
.office_location i span {
    padding-left: 15px;
    color: #696969;
    font-size: 14px;
    font-family: 'ntregular', sans-serif;
}
.office_location i {
    padding-bottom: 15px;
}
.office_location {
    color: #696969;
}
.contact_area h3 {
    font-size: 36px;
    padding-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    font-family: 'ntregular', serif;
}
.contact_area p {
    font-size: 16px;
    color: #646464;
    font-family: 'ntregular', sans-serif;
}
#map {
    width: 100%;
    margin: 0;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    min-height: 300px;
}

/*Back to Top*/

#back-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: rgba(84, 225, 0, 0.18);
    color: #ffffff;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: all 0.5s ease;
    opacity: 0;
    display: none;
    background: #cdb205;
}
#back-to-top:hover {
    color: #fff;
    border-radius: 50%;
}
#back-to-top.show {
    opacity: 1;
}

x



/**/

.section-wraper {
    position: relative;
}
.section-edit {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}
.section-abc {
    background: rgba(255, 255, 255, 0.68);
    padding: 2px 5px;
    font-size: 12px;
    font-style: italic;
    display:none;
}
.section-edit:hover .section-abc{
    display:inline;
}
.section-edit .post-edit-link {
    margin: 10px 0;
    padding: 2px 12px;
}
.section-edit .post-edit-link {
    margin: 3px 0;
    padding: 2px 12px;
    font-size: 12px;
    line-height: 1.45;
}
.section-edit .post-edit-link {
    margin: 10px 0;
    display: inline-block;
    background: #578ae8 ;
    color: #fff!important;
    padding: 2px 12px;
    border-radius: 3px;
}
.recent-blog .entry-header a {
    font-size: 1.5rem;
}

.event_img img {
    width: 440px;
    height: 279px;
}
.event_news_img img {
    width: 95px;
    height: 90px;
}

#market-place .fw-single-image img {
    margin: 0 auto;
}


/*.contact_us_padding {
    padding: 80px 0px;
}*/
#contact-us .wel_header {
    padding-top: 0px;
    padding-bottom: 0;
}

#contact-us h3 {
    font-size: 36px;
    padding-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c3c4c3;
    font-family: 'ntregular', serif;

}

#contact-us .wel_header h5 {
    text-align: left;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: 'ntregular', serif;
    color: #c3c4c3;
    padding-top: 0px
}
#contact-us .office_location i {
    padding-bottom: 15px;
}
#contact-us .office_location i span {
    padding-left: 15px;
    color: #696969;
    font-size: 14px;
    font-family: 'ntregular', sans-serif;
}

#contact-us .form-group {
    margin-bottom: 0;
}
.wel_header.contact_us_h5 {
    margin-left: -15px !important;
}
/*input#name,label.input,label.textarea,textarea.form-control {
    width: 100%;
}*/

#slider .carousel-indicators {
    bottom: 70px;
}

ul.entry-meta {
    text-align: left;
}
.btn-primmary{
    background-color: #43a906;
    padding: 10px 30px;
    font-size: 16px;
    font-family: 'ntregular', serif;
    font-weight: 700;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #ffffff;
}
#commentform #comment {
    padding-left: 10px;
    margin-top: 10px;
}
.widget_search .search-form input[type="submit"], .widget_search input[type="submit"] {
    font-family: 'ntregular', serif;
    font-weight: 700;
}
.widget_search .search-form input[type="search"], .widget_search input[type="search"] {
    padding: 0 40px;
}
.main-content.blog-w.rap,.main-content.container.blog-wrap.single-blog {
    margin-top: 80px;
}

/* .txt-gdcolor { 
    display: inline-block; 
    background: rgb(250,175,64);
    background: -webkit-linear-gradient(90deg, rgba(250,175,64,1) 0%, rgb(255, 238, 0) 50%, rgb(190, 30, 30) 100%);
    background: -moz-linear-gradient(90deg, rgba(250,175,64,1) 0%, rgb(255, 238, 0) 50%, rgb(190, 30, 30) 100%);
    background: linear-gradient(90deg, rgba(250,175,64,1) 0%, rgb(255, 238, 0) 50%, rgb(190, 30, 30) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
} */
.txt-gdcolor-blue { display: inline-block; background: rgb(19,64,191);background: -webkit-linear-gradient(90deg, rgba(19,64,191,1) 0%,rgba(0,184,255,1) 100%);background: -moz-linear-gradient(90deg, rgba(19,64,191,1) 0%,rgba(0,184,255,1) 100%);background: linear-gradient(90deg, rgba(19,64,191,1) 0%,rgba(0,184,255,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.txt-gdcolor-orange { display: inline-block; background: rgb(220,31,0);background: -webkit-linear-gradient(90deg, rgb(220,31,0) 0%,rgba(246,146,30,1) 100%);background: -moz-linear-gradient(90deg, rgb(220,31,0) 0%,rgba(246,146,30,1) 100%);background: linear-gradient(90deg, rgb(220,31,0) 0%,rgba(246,146,30,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.txt-gdcolor-pink { display: inline-block; background: rgb(188,0,148);background: -webkit-linear-gradient(90deg, rgba(188,0,148,1) 0%,rgba(217,0,139,1) 100%);background: -moz-linear-gradient(90deg, rgba(188,0,148,1) 0%,rgba(217,0,139,1) 100%);background: linear-gradient(90deg, rgba(188,0,148,1) 0%,rgba(217,0,139,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.txt-gdcolor-darkblue { display: inline-block; background: rgb(13,1,103);background: linear-gradient(90deg, rgba(13,1,103,1) 0%, rgba(0,2,175,1) 35%, rgba(6,0,255,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.txt-gdcolor-red { display: inline-block; background: rgb(103,1,36);background: linear-gradient(90deg, rgba(103,1,36,1) 0%, rgba(175,0,49,1) 35%, rgba(255,0,63,1) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}


.member_menu {
    min-height: 80px;
    border-bottom: 2.2px solid rgb(255, 162, 0)  ;
    padding: 20px 0;
    z-index: 9999
    
}

.sec-prefooter { float: left; width: 100%; padding: .5em 0; background-color: #fff; border-top: 2px solid #d58f1f;}
.box-prefooter { float: left; width: 100%; display: flex; align-items: center; justify-content: center; }
.prefoot-contact-title 
{ 
    margin-right: 2em; 
    font-size: 1.2em;
    font-family: 'ntregular', sans-serif;
    font-weight: 600;
    color: #000;
}
.prefoot-contact-group {display: flex; align-items: center;}
.prefoot-contact-group-call{display: flex; align-items: center;}
.prefoot-contact-group-call-text 
{ 
    text-align: right; 
    font-family: 'ntregular', sans-serif;
    font-weight: 600;
    line-height: 0.9; 
    margin-right: .5em;
    color: #000;
    
}
.t-medium { 
    font-family: 'ntregular', sans-serif;
    font-weight: 600;
    color: #000;
}
.prefoot-contact-group-call-num {font-size: 3em;}
.prefoot-contact-group-or 
{ 
    font-size: 0.7em; 
    position: relative; 
    margin: 0 2em;
}
.prefoot-contact-group-or span { position: relative;}
.prefoot-contact-group-or span:before { position: absolute; content: ""; width: 1px; height: 10px; top: 100%; left: 50%; background-color: rgba(0, 0, 0, .3);}
.prefoot-contact-group-or span:after { position: absolute; content: ""; width: 1px; height: 10px; bottom:100%; left: 50%; background-color: rgba(0, 0, 0, .3);}


.btn 
{ 
    font-size:1rem; 
    padding: 0; 
    position: relative; 
    box-shadow: 0 5px 5px 0 rgb(172,37,99,.2); 
    background: rgb(160, 117, 43);
    background: linear-gradient(90deg, rgba(160, 117, 43,1) 0%, rgb(218, 174, 29) 50%, rgba(237,133,83,1) 100%);
    border-radius: 50px; 
    border:none; 
    text-align: center;
    line-height: 0.6;
    color: #fff;
    font-family: 'ntregular', sans-serif;
    font-weight: 600;
}
.btn > span 
{ 
    font-size: 1.5em; 
    padding: .8em 3em; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    position: relative;
}
.btn-sm > span {font-size: 1.2em; padding: .6em 2em;}
.btn-lg > span {font-size: 1.8em; padding: .7em 2em;}
.btn-secondary { color:#333; position: relative;}
.btn-secondary:before { content: ""; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px);border-radius: 50px; left: 1px; top: 1px; background-color: #fff; }
.btn-secondary.btn-icon svg,.btn-icon img {fill:#333;}
.btn.focus, .btn:focus {outline: 0;box-shadow:none;}
.btn:hover {  background:#ddb61b; color:#fff;}
.btn:hover:before { content: ""; position: absolute; width: calc(100% - 2px); height: calc(100% - 2px);border-radius: 50px; left: 1px; top: 1px; background-color: #ddb61b; }
.box-content-button .btn span { color:#fff; background: none;-webkit-text-fill-color:inherit;}


.sec-solutionlist .ele_img-skew{right: 0;bottom: -20%;z-index: -1;width: 50%; pointer-events:none;}
.abs {position:absolute;}
.abs img { float:left; width: 100%; pointer-events: none;}
.abs img { float:none; width:auto;}
.abs > img {float: left; width: 100%; pointer-events: none;}

.top_container {
    position: relative;
  }
  
  
  
  .top_container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
   /*  background: url(/assets/img/blog/hero-bg.png); */

    background-size: 100% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .sub_page .top_container::before {
    background-color: #fdd31d;
    background-image: none;
  }
  
  .top_container::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 20%;
    left: 6%;
   /*  background-color: #fdd31d; */
  }
  
  
  .sub_page .top_container::after {
    display: none;
  }
  .affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: rgb(32, 32, 32);
    padding-top:0px;
}
  /* header Navarbar */
  .main-menu nav li a{
	padding: 43px 0px 15px;
	margin: 0 14px;
	color: #fff;
	font-family: 'ntregular', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.6px;
	position:relative;
	-webkit-transition: color 0.4s;
    transition: color 0.4s;
    font-weight: 500;
    font-size: 20px;
}

.main-menu nav li a::after,  .main-menu nav li a::before{
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  #header .header_menu ul.main_menu li a {
    color: #eeeeee;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'ntregular', serif;
}
#header .header_menu ul.main_menu li a:hover {
    color: #fdd100;
}
  .header-area
  {
    background-color: #202020;
  }


  /* NEW clients  */
  /*-----------------------------------------------------------------*/
/* Client Logo Carousel
/*-----------------------------------------------------------------*/

#clients {
	background:#FFF;
	text-align:center;
}

.clients-carousel .item figure {
	margin: 10px;
	width: 150px;
	margin: 0 auto;
}

.clients-carousel .item figure img {
	display: block;
	margin: 0 auto;
	opacity:0.5;
}

.clients-carousel .item figure img:hover {
	opacity:1;
}

.bottom-100
{
    padding: 100px;
}

/**** ฺfooter New Itembox ****/
ul li::marker {
    color: #ffd100;
    font-size: 1.5em;
  }
  
  .pros::marker {
    unicode-bidi: isolate;
    color: #ffd100;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 50px ;
    text-align: start ;
    text-align-last: start ;
}
a {
    color: #ffd100;
    font-family: 'ntregular', sans-serif;
    text-decoration: none;
    outline: none !important;
    font-weight: bold;
    font-size: 22px;
    
}
/*------------------------------------------------------------------
    FOOTER AREA
-------------------------------------------------------------------*/

.footer-main{}
.footer-news{
	/* background:url(../images/newsletter-bg.jpg) no-repeat center; */
	background-attachment:fixed;
	background-size:cover;
	position:relative;
}

.footer-news::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    position: absolute;
    top: 0;
    left: 0;
}

.ft-title.color-white {
    color: #fff;
}
.ft-title {
    letter-spacing: 0.96px;
    margin-bottom: 22px;
    font-family: 'ntregular';
	font-size: 52px;
}

.footer-news p {
    margin-bottom: 40px;
    font-size: 24px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
	text-align:center;
}

.footer-news form{
	max-width:650px;
	margin: 0 auto;
	text-align:center;
	width:100%;
	position:relative;
}

.footer-news form input{
	width:100%;
	border:2px dotted #ccc;
	background:#f5f5f5;
	color:#202020;
	padding:12px;
	text-transform:capitalize;
	border-radius: 4px;
	opacity: 1;
	min-height:53px;
}
.footer-news form a{
	border:2px dotted #ccc;
	padding: 0px 19px;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
	border-radius: 4px;
    min-width: inherit;
    height: 53px;
    line-height: 51px;
	color:#ffffff;
}

.footer-news form a:hover{
	background:#f5f5f5;
	color:#202020;
}

.footer-box{
	background: #d6d6d61c;
    line-height: 1;
}

/*.footer-in-main{
	max-width:960px;
	margin:0 auto;
	width:100%;
}*/

.footer-logo{
	padding-bottom:40px;
}

.footer-socials {
    margin: 10px 0;
    line-height: 30px;
    padding: 4px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.socials-box {
    display: table-cell;
    vertical-align: middle;
    margin: 1px 0px;
    padding: 4px;
}
.footer-box {
	/* background-image:-moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%);
	background-image:-webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%);
	background-image:radial-gradient(ellipse at center, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%);
	background-color:#111;background-position:center;background-repeat:no-repeat;background-size:cover */
	}
.socials-box li {
    display: inline-block;
    opacity: 1;
    margin-right: 7px;
}
.footer-box .social-circle-border{
	background-color: transparent;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.social-circle-border {
    font-size: 20px;
    line-height: 23px;
    margin-right: 2px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: transparent;
    color: #6f6f6f;
    text-align: center;
}


.footer-box-a h3{ /* แก้ */
	font-size:24px;
    font-family: 'ntregular';
    font-weight: bold;
}
.footer-box-a p{
	font-size: 20px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
	line-height: 25px;
}
.footer-box-a ul li{ /* แก้ */
	line-height:30px;
  font-size: 20px;
}
.footer-box-a ul li a{ /* แก้ */
	color:#ffffff;
    font-size: 20px;
}

.footer-box-a ul li a:hover{
	padding-left:24px;
}	

.footer-box-b h3{ /* แก้ */
	font-size:24px;
    font-family: 'ntregular';
    font-weight: bold;
}
.footer-box-b p{/* แก้ */
	font-size: 20px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
}
.footer-box-b ul li{ /* แก้ */
	line-height:30px;
  font-size: 20px;
}
.footer-box-b ul li a{ /* แก้ */
	color:#ffffff;
    font-size: 20px; 
}

.footer-box-b ul li a:hover{
	padding-left:24px;
}	
.pad-top-40{
    padding-top: 40px;
}
.pad-top-50{
    padding-top: 50px;
}
.clients-carousel.owl-carousel.owl-theme{
    padding-bottom: 40px;
}
/* ================================================= */
.footer-box-b-b h3{
	font-size:24px;
    font-family: 'ntregular';
    color: #FFD004;
}
.footer-box-b-b p{ /* แก้ */
	font-size: 20px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
  
}
.footer-box-b-b ul li{ /* แก้ */
	line-height:30px;
  font-size: 20px;
}
.footer-box-b-b ul li a{
	color:#ffffff;
}

.footer-box-b-b ul li a:hover{
	padding-left:24px;
}	
.footer-box-b-b h3{
	color: #FFD004;
}
.footer-box-b-b ul li a:hover{
	color: #FFD004;
}
/* ================================================= */
.footer-box-c h3{ /* แก้ */
	font-size:24px;
    font-family: 'ntregular';
    font-weight: bold;
}
.footer-box-c p{/* แก้ */
	font-size: 20px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
    font-weight: bold;
}


.footer-box-c p i{ /* แก้ */
	font-size: 20px;
    position: relative;
    top: 4px;
    float: left;
    min-width: 20px;
    text-align: center;
}

.footer-box-c p span{
	display: table;
    padding-left: 12px;
	padding-top:1px;
}

.footer-box-c p a{
	color:#ffffff;
}



.footer-box-d h3{
	font-size:24px;
    font-family: 'ntregular';
}
.footer-box-d p{
	font-size: 24px;
	font-family: 'ntregular', sans-serif;
	color:#ffffff;
}

.footer-box-d ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.footer-box-d ul li{
	display: inline-block;
    width: 100%;
	padding-bottom:12px;
}
.footer-box-d ul li p{
	padding:0px;
	margin:0px;
}
.footer-box-d ul li span{
	color: #666;
}
/* end footer */

.lab1
{
font-size: 13px;
}
.form-label
{
     color: #000;
     font-size: 16px;
     font-weight:600
}

/*------------------------------------------------------------------
    COPYRIGHT AREA
-------------------------------------------------------------------*/

.copyright-main{ /* แก้ */
	/* border-top: 2px dotted #fff; */
	text-align:center;
	padding-top:10px;
	/* margin-top:70px; */
	/* padding-bottom:25px; */
}


.copyright-main .copy-title{
	letter-spacing: 1px;
	color:#000;
	font-family: 'ntregular', sans-serif;
	font-size:16px;
	padding-bottom:0px;
    font-weight: 700;
}
.copyright-main{
	background: #fff;
}
.next-link-to{
     text-decoration: underline;
}
.next-link-to {
     color: rgb(101, 101, 101);
     line-height: 5px;
     font-size: 15px;
     text-decoration: underline;
 }
 .pad-top-70{
    padding-top: 90px;
 }
 .pad-top-100{
    padding-top: 90px;
 }
 .pad-bottom-70{
    padding-bottom: 70px;
 }
 .pad-bottom-100{
    padding-bottom: 100px;
 }
/**** ฺEND footer New Itembox ****/
@media (max-width: 1199px) {
    .navbar-default .navbar-toggle:focus, 
    .navbar-default .navbar-toggle:hover{
        background-color: transparent;
    }
}
img.ico{
    padding-top: 10px;
}


/* 
  footer col
*/
.row.footer-in-main.pad-top-40{
    display: flex;
    flex-wrap: nowrap;
  
  }
  .row.justify-content-md-center.text-left.about-fcolor.animate__animated.animate__bounce{
      display: flex;
      flex-wrap: wrap;
      /* justify-content: center; */
      padding-top: 30px;
  }
  .col-6{
      flex: 0 0 50%;
      max-width: 30%;
  }
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li.nav-footer-col{
    list-style: none;
    font-weight: bold;
  }
  li.Ai-li{
    list-style-type: none;
  }
  a.next-link-to.as{
    padding-left: 12px;
    line-height: 5px;
  }
  i.fa.fa-map-signs{
    font-size: 15px;
  }
  i.fa.fa-mobile {
    font-size: 25px;
    top: 5px;
    position: relative;
    
  }
  li.Ai-li-1{
    line-height: 2.4;
    list-style-type: none;
  }
  i.fa.fa-envelope{
    font-size: 16px;
      top: 4px;
      position: relative;
  }
  a.next-link-to.pol{
    font-size: 12px;
  }
li.nav-footer-col{
    color: #000;
    font-size: 1.8rem;
  }
  ul.pad-top{
    line-height: 1;
  }