/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/
@media (max-width: 1200px) {
	 
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: transparent;
	}
	
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFD004;
		width: 35px;
	}
	.main-menu .navbar-toggle .icon-bar {
		position: relative;
		transition: all 250ms ease-in-out;
	}
	.main-menu .navbar-toggle .icon-bar {
		position: relative;
		transition: all 250ms ease-in-out;
		-webkit-transition: all 250ms ease-in-out;
		-moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
	}
	.main-menu .navbar-toggle .icon-bar:nth-of-type(3) {
		top: 1px;
	}
	.main-menu .navbar-toggle .icon-bar:nth-of-type(4) {
		top: 2px;
	}
	.navbar-toggle .icon-bar+.icon-bar {
		margin-top: 7px;
	}
	.main-menu .navbar-toggle.active .icon-bar:nth-of-type(2) {
		top: 7.5px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}
	.main-menu .navbar-toggle.active .icon-bar:nth-of-type(3) {
		background-color: transparent;
	}
	.main-menu .navbar-toggle.active .icon-bar:nth-of-type(4) {
		top: -10px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
	}
	
}

/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1342px) {
    #myCarousel a.carousel-control-next {
        right: -3%;
    }
    #myCarousel a.carousel-control-prev {
        right: -3%;
    }
    .map {
        margin-right: 0px;
    }
}
/*  */
@media (min-width: 992px) and (max-width: 1199px) {
    .banner_slide {
        padding: 0 80px 0 0px;
    }
    .transfot span {
        font-size: 15px;
    }
    .transfot h3 {
        font-size: 16px;
    }
    .banner_main {
        background-size: auto 64%;
        padding: 2px 0px 0px 0px;
    }
    .text-bg h1 {
        font-size: 43px;
        line-height: 52px;
    }
    .about {
        margin-top: -340px;
    }
    .yelldark_colo {
        margin: 0 30px;
    }
    .titlepage h2 {
        font-size: 48px;
    }
    #myCarousel a.carousel-control-next {
        right: -3%;
    }
    #myCarousel a.carousel-control-prev {
        right: -3%;
    }
    #veh a.carousel-control-next {
        right: 43%;
    }
    .map {
        margin-right: 0px;
    }
    .bottom_form .enter {
        width: 63%;
    }
    ul.location_icon li {
        font-size: 18px;
    }
}
@media (max-width: 992px) {
    .main-menu .navbar-header {
		float: right;
		width: 100%;
		margin: 0;
		padding: 0 15px;
	}
	.navbar-toggle {
		margin: 0;
		border: 0;
		padding: 0;
		top: 20px;
		right: 0;
		display: block !important;
		z-index: 11;
		cursor: pointer;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

   .navbar-collapse.collapse.in {  /* NEW */
        display: block!important; 
		background: #202020;
    }
	.main-menu nav li a{
		padding: 15px 0px;
	}
}
@media (max-width: 768px) {
	.main-menu nav li a{
		padding: 15px 0px;
	}
	.navbar-toggle{
		top: 35px;
	}
	.navbar-nav{
		background: #202020;
		margin: 0px 0px;
	}
    .fixed-menu .navbar-toggle{
		top: 18px;
	}
	.navbar-brand > img {
		max-width: 180px;
	}
}
/* @media (max-width: 992px){
    .main-menu .navbar-header {
		float: right;
		width: 100%;
		margin: 0;
		padding: 0 15px;
	}
} */
@media (min-width: 768px) and (max-width: 991px) {
    .text-bg h1 {
        font-size: 43px;
        padding-bottom: 20px;
        line-height: 44px;
    }
  /*   .banner_main {
        padding: 152px 0px 0px 0px;
        background-color: #cacaca !important;
        background: inherit;
        min-height: 919px;
    } */
    .banner_main {
        background-size: auto 44%;
        padding: 2px 0px 0px 0px;
    }
    .about {
        margin-top: 90px;
    }
    .transfot h3 {
        font-size: 19px;
    }
    #banner1 a.carousel-control-prev {
        top: 41%;
    }
    .titlepage h2 {
        font-size: 37px;
    }
    .service_box {
        width: 13.3%;
    }
    .service_box i {
        width: 120px;
        height: 120px;
    }
    .service_box h4 {
        font-size: 12px;
    }
    #veh a.carousel-control-prev {
        left: 43%;
    }
    #veh a.carousel-control-next {
        right: 43%;
    }
    .choose_box h3 {
        font-size: 20px;
    }
    ul.location_icon li {
        font-size: 12px;
        line-height: 20px;
    }
    .map {
        margin-right: 0px;
    }
    .bottom_form .enter {
        width: 100%;
        margin-bottom: 20px;
    }
    .banner_slide {
        padding: 0 80px 0 0px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    /* .banner_main {
        padding: 152px 0px 90px 0px;
        background-color: #cacaca !important;
        background: inherit;
    } */
    .banner_main {
        background-size: auto 24%;
        padding: 2px 0px 0px 0px;
    }
    .banner_slide {
        padding: 0 80px 0 0px;
    }
    .text-bg {
        max-width: inherit;
    }
    .transfot {
        padding-top: 30px;
    }
    .about {
        margin-top: 90px;
    }
    #myCarousel a.carousel-control-prev {
        top: 34%;
    }
    .text-bg h1 {
        font-size: 48px;
        line-height: 51px;
    }
    #banner1 a.carousel-control-prev {
        top: 44%;
    }
    #banner1 a.carousel-control-next {
        top: 50%;
    }
    .service_box {
        width: 25.0%;
    }
    .service_box i {
        width: 156px;
        height: 156px;
    }
    .vehicles_truck {
        margin-bottom: 30px;
    }
    .blac_co {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    #veh .carousel-control-prev,
    #veh .carousel-control-next {
        top: 105%;
    }
    #veh a.carousel-control-prev {
        left: 40%;
    }
    #veh .carousel-control-next {
        right: 40%;
    }
    .main_form {
        max-width: inherit;
    }
    .co_tru {
        padding-right: 0px;
        margin-top: 30px;
    }
    .map {
        margin-right: 0px;
        margin-top: 30px;
    }
    .choose_box {
        margin-bottom: 30px;
    }
    .titlepage h2 {
        font-size: 31px;
    }
}

@media (max-width: 575px) {
    .header {
        padding: 30px 0px 15px 0px;
    }
    .logo {
        border: inherit;
        float: left;
        margin-top: 0px !important;
    }
   /*  .banner_main {
        padding: 152px 0px 90px 0px;
        background-color: #cacaca !important;
        background: inherit;
    } */
    .banner_main {
        background-size: auto 22%;
        padding: 2px 0px 0px 0px;
    }
    .banner_slide {
        padding: 0 50px 0 0px;
    }
    .text-bg {
        max-width: inherit;
        margin-top: 0px;
    }
    .transfot {
        padding-top: 30px;
    }
    .about {
        margin-top: 90px;
    }
    .text-bg h1 {
        font-size: 36px;
        line-height: 51px;
    }
    #banner1 a.carousel-control-prev {
        top: 44%;
    }
    #banner1 a.carousel-control-next {
        top: 50%;
    }
    .titlepage h2 {
        font-size: 27px;
        line-height: 30px;
    }
    .testimonial_box h3 {
        font-size: 15px;
        line-height: 30px;
    }
    .service_box {
        width: 100%;
    }
    .service_main {
        justify-content: center;
    }
    .service_box i {
        margin: 0 auto;
    }
    .vehicles_truck {
        margin-bottom: 30px;
    }
    .blac_co {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    #veh .carousel-control-prev,
    #veh .carousel-control-next {
        top: 105%;
    }
    #veh a.carousel-control-prev {
        left: 40%;
    }
    #veh .carousel-control-next {
        right: 40%;
    }
    .choose_box h3 {
        font-size: 16px;
    }
    .main_form {
        max-width: inherit;
    }
    .co_tru {
        padding-right: 0px;
        margin-top: 30px;
    }
    .map {
        margin-right: 0px;
        margin-top: 30px;
    }
    .choose_box {
        margin-bottom: 30px;
    }
    .right_bottun {
        margin-top: -40px;
    }
    ul.location_icon li {
        font-size: 18px;
    }
    .bottom_form .enter {
        width: 100%;
        margin-bottom: 20px;
    }
    .d_none {
        display: none;
    }
}

