@font-face {
    font-family: 'NTBold';
    src: url('NTBold.eot');
    src: url('NTBold.eot?#iefix') format('embedded-opentype'),
        url('NTBold.woff2') format('woff2'),
        url('NTBold.woff') format('woff'),
        url('NTBold.ttf') format('truetype'),
        url('NTBold.svg#NTBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'NTRegular';
    src: url('NTRegular.eot');
    src: url('NTRegular.eot?#iefix') format('embedded-opentype'),
        /* url('NTRegular.woff2') format('woff2'),
        url('NTRegular.woff') format('woff'), */
        /* url('NTRegular.ttf') format('truetype'), */
        url('NTRegular.svg#NTRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
